force-app/main/default/flows/Adhoc_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DecryptAdhocValidationCodeHandler</name>
        <label>DecryptAdhocValidationCodeHandler</label>
        <locationX>623</locationX>
        <locationY>271</locationY>
        <actionName>DecryptAdhocValidationCodeHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sales_Invoice</targetReference>
        </connector>
        <inputParameters>
            <name>dataToDecrypt</name>
            <value>
                <elementReference>validationCode</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SalesInvoiceCreatedDate</assignToReference>
            <name>salesInvoiceCreatedDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SalesInvoiceName</assignToReference>
            <name>salesInvoiceName</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Was_sales_invoice_paid</name>
        <label>Was sales invoice paid</label>
        <locationX>173</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Payment_Details_related_screens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectedInstallments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_completed</targetReference>
            </connector>
            <label>Check if paid</label>
        </rules>
    </decisions>
    <description>Takes the user through the payment process
Version changes:
Changed the success link (added hyphen)</description>
    <formulas>
        <name>ERROR_PAGE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Parentforce_Community_Settings__c.Base_Url__c}+&apos;/s/failure&apos;</expression>
    </formulas>
    <formulas>
        <name>SUCCESS_PAGE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Parentforce_Community_Settings__c.Base_Url__c}+&apos;/s/adhoc-success?salesInvoiceId=&apos;+{!salesInvoice.Id}</expression>
    </formulas>
    <interviewLabel>Adhoc Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adhoc Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Installments</name>
        <label>Get collected Installments</label>
        <locationX>313</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_sales_invoice_paid</targetReference>
        </connector>
        <filters>
            <field>Sales_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesInvoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>cpm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collected</stringValue>
            </value>
        </filters>
        <object>cpm__Installment__c</object>
        <outputReference>collectedInstallments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Invoice</name>
        <label>Get Sales Invoice</label>
        <locationX>471</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Installments</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesInvoiceName</elementReference>
            </value>
        </filters>
        <object>Zumzum__Sales_Invoice__c</object>
        <outputReference>salesInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zumzum__Contact__c</queriedFields>
        <queriedFields>Zumzum__Total_Unpaid_Amount__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Payment_completed</name>
        <label>Payment completed</label>
        <locationX>182</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Payment_completed_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;The payment is already completed. For any further queries please contact &lt;/span&gt;&lt;a href=&quot;mailto:nctcourses@nct.org.uk&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif;&quot;&gt;nctcourses@nct.org.uk&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_summary</name>
        <label>Payment summary</label>
        <locationX>645</locationX>
        <locationY>541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Hi,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We&apos;re holding your place on the following course until&amp;nbsp;16th January 2020. Complete your booking now to secure your place.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Your booking&lt;/span&gt;&lt;/p&gt;&lt;p&gt;NCT Essentials Antenatal course for 334 due dates&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;at&amp;nbsp;Test&amp;nbsp;(26th March&amp;nbsp;-&amp;nbsp;1st May)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 150, 50); font-size: 16px;&quot;&gt;Sessions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Total - £999&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>229</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>DecryptAdhocValidationCodeHandler</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Payment_Details_related_screens</name>
        <label>Payment Details related screens</label>
        <locationX>848</locationX>
        <locationY>457</locationY>
        <flowName>Adhoc_Payment_Details_Subflow</flowName>
        <inputAssignments>
            <name>paramAmount</name>
            <value>
                <elementReference>salesInvoice.Zumzum__Total_Unpaid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramContactId</name>
            <value>
                <elementReference>salesInvoice.Zumzum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramErrorPage</name>
            <value>
                <elementReference>ERROR_PAGE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramSalesInvoiceId</name>
            <value>
                <elementReference>salesInvoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramSuccessPage</name>
            <value>
                <elementReference>SUCCESS_PAGE</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collectedInstallments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>salesInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Sales_Invoice__c</objectType>
    </variables>
    <variables>
        <name>SalesInvoiceCreatedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesInvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
