force-app/main/default/flows/Adhoc_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DecryptAdhocValidationCodeHandler</name>
        <label>DecryptAdhocValidationCodeHandler</label>
        <locationX>646</locationX>
        <locationY>176</locationY>
        <actionName>DecryptAdhocValidationCodeHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sales_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_SubFlow</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dataToDecrypt</name>
            <value>
                <elementReference>validationCode</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SalesInvoiceCreatedDate</assignToReference>
            <name>salesInvoiceCreatedDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SalesInvoiceName</assignToReference>
            <name>salesInvoiceName</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Records_Empty</name>
        <label>Is Records Empty</label>
        <locationX>639</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Was_sales_invoice_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Is Empty</defaultConnectorLabel>
        <rules>
            <name>One_Of_Records_Is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Handler_Flow_SubFlow</targetReference>
            </connector>
            <label>One Of Records Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_sales_invoice_paid</name>
        <label>Was sales invoice paid</label>
        <locationX>400</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Payment_Details_related_screens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Paid</defaultConnectorLabel>
        <rules>
            <name>Is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>salesInvoice.Zumzum__Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_completed</targetReference>
            </connector>
            <label>Is Paid</label>
        </rules>
    </decisions>
    <description>Takes the user through the payment process
Version changes:
Changed the success link (added hyphen)</description>
    <formulas>
        <name>ERROR_PAGE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Parentforce_Community_Settings__c.Base_Url__c}+&apos;/s/failure&apos;</expression>
    </formulas>
    <formulas>
        <name>SUCCESS_PAGE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Parentforce_Community_Settings__c.Base_Url__c}+&apos;/s/adhoc-success?salesInvoiceId=&apos;+{!salesInvoice.Id}</expression>
    </formulas>
    <interviewLabel>Adhoc Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adhoc Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sales_Invoice</name>
        <label>Get Sales Invoice</label>
        <locationX>647</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Records_Empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_SubFlow</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesInvoiceName</elementReference>
            </value>
        </filters>
        <object>Zumzum__Sales_Invoice__c</object>
        <outputReference>salesInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zumzum__Contact__c</queriedFields>
        <queriedFields>Zumzum__Total_Unpaid_Amount__c</queriedFields>
        <queriedFields>Zumzum__Paid__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Payment_completed</name>
        <label>Payment completed</label>
        <locationX>266</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Payment_completed_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 18px; background-color: rgb(248, 248, 248);&quot;&gt;The payment is already completed. For any further queries please contact &lt;/span&gt;&lt;a href=&quot;mailto:nctcourses@nct.org.uk&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Slack-Lato, appleLogo, sans-serif; font-size: 18px; background-color: rgb(248, 248, 248);&quot;&gt;nctcourses@nct.org.uk&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>207</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>DecryptAdhocValidationCodeHandler</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handler_Flow_SubFlow</name>
        <label>Error Handler Flow SubFlow</label>
        <locationX>1006</locationX>
        <locationY>337</locationY>
        <flowName>Error_Handler_Flow</flowName>
    </subflows>
    <subflows>
        <name>Payment_Details_related_screens</name>
        <label>Payment Details related screens</label>
        <locationX>558</locationX>
        <locationY>757</locationY>
        <flowName>Adhoc_Payment_Details_Subflow</flowName>
        <inputAssignments>
            <name>paramAmount</name>
            <value>
                <elementReference>salesInvoice.Zumzum__Total_Unpaid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramContactId</name>
            <value>
                <elementReference>salesInvoice.Zumzum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramErrorPage</name>
            <value>
                <elementReference>ERROR_PAGE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramSalesInvoiceId</name>
            <value>
                <elementReference>salesInvoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paramSuccessPage</name>
            <value>
                <elementReference>SUCCESS_PAGE</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collectedInstallments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>salesInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Sales_Invoice__c</objectType>
    </variables>
    <variables>
        <name>SalesInvoiceCreatedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesInvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
