force-app/main/default/flows/Adhoc_Payment_Details_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Payment_Link_Result</name>
        <label>Payment Link Result</label>
        <locationX>512</locationX>
        <locationY>1138</locationY>
        <defaultConnector>
            <targetReference>Payment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Link is False</defaultConnectorLabel>
        <rules>
            <name>Payment_Link_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentUrl</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Payment_Details_Screen</targetReference>
            </connector>
            <label>Payment Link is True</label>
        </rules>
    </decisions>
    <description>Prepares Purchase Invoice object
Version changes:
Debug version #1</description>
    <interviewLabel>Adhoc Payment Details Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adhoc Payment Details Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Payment_Details_Screen</name>
        <label>Payment Details Screen</label>
        <locationX>520</locationX>
        <locationY>1343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Details_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Pay by credit/debit card&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;To pay by credit or debit card using the secure Worldpay system, please select &#39;Proceed to payment&#39;. You&#39;ll be redirected to the Worldpay site to complete your payment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We don&#39;t see or store any of your debit or credit card information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please note: Credit cards levy higher charges on us than debit cards. We&#39;d be grateful to you for supporting our charity by using a debit card if possible.&lt;/span&gt;&lt;/p&gt;&lt;h4&gt;&lt;br&gt;&lt;/h4&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Total_Amount_Template}&lt;/p&gt;&lt;p&gt;{!paymentUrl}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Link_Component</name>
            <extensionName>c:linkToPaymentComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentLink</name>
                <value>
                    <elementReference>paymentUrl</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Error</name>
        <label>Payment Error</label>
        <locationX>253</locationX>
        <locationY>1141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!paymentError}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Payment_Link</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Payment_Link</name>
        <label>Get Payment Link</label>
        <locationX>520</locationX>
        <locationY>944</locationY>
        <connector>
            <targetReference>Payment_Link_Result</targetReference>
        </connector>
        <flowName>Get_Payment_Link</flowName>
        <inputAssignments>
            <name>Installment_Object</name>
            <value>
                <elementReference>Installment_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bookingId</name>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>installmentId</assignToReference>
            <name>installmentId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paymentError</assignToReference>
            <name>paymentError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paymentUrl</assignToReference>
            <name>paymentUrl</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Total_Amount_Template</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Total amount due:&lt;/span&gt;&amp;emsp;&amp;emsp;&amp;emsp;&amp;emsp;&lt;span style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;£&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!Installment_Object.cpm__Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Installment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>installmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
