force-app/main/default/flows/Adhoc_Payment_Success_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_confirmation_email</name>
        <label>Send confirmation email</label>
        <locationX>243</locationX>
        <locationY>50</locationY>
        <actionName>Zumzum__Sales_Invoice__c.Adhoc_Send_Confirmation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>salesInvoiceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>Performs logic after the payment has been completed successfully
Version changes:
Added email alert</description>
    <interviewLabel>Adhoc Payment Success Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adhoc Payment Success Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>429</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>REMOVEdisplay_text</name>
            <fieldText>&lt;h3&gt;&lt;span style=&quot;font-size: 36px; color: rgb(0, 136, 106);&quot;&gt;Your payment is completed&lt;/span&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for your payment&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 136, 106); font-size: 18px;&quot;&gt;Other information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Send_confirmation_email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>salesInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
