force-app/main/default/flows/Bacs_Create_transaction_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Bank_Supplier_Payments</name>
        <label>Create Bank Supplier Payments</label>
        <locationX>542</locationX>
        <locationY>52</locationY>
        <actionName>BatchOutboundBACSpayment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_records_processing</targetReference>
        </connector>
        <inputParameters>
            <name>paymentRunIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>UpdatePaymentRunStatusToProcessing</name>
        <label>UpdatePaymentRunStatusToProcessing</label>
        <locationX>474</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentPaymentRun.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_Processing</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Bacs Create transaction records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bacs Create transaction records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentPaymentRun</name>
        <label>GetCurrentPaymentRun</label>
        <locationX>244</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePaymentRunStatusToProcessing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Run__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Processing</name>
        <label>Update_Status_to_Processing</label>
        <locationX>664</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Create_Bank_Supplier_Payments</targetReference>
        </connector>
        <inputReference>GetCurrentPaymentRun</inputReference>
    </recordUpdates>
    <screens>
        <name>Bacs_Create_transaction_records</name>
        <label>Bacs Create transaction records</label>
        <locationX>316</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCurrentPaymentRun</targetReference>
        </connector>
        <fields>
            <name>Message_Create_Transaction_Records</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Press Next to Create Transaction Records&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_records_processing</name>
        <label>Screen_records_processing</label>
        <locationX>782</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_Records_Processing_required</name>
            <fieldText>&lt;p&gt;Records will be processed soon&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>70</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Bacs_Create_transaction_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
