force-app/main/default/flows/BACS_Send_Remittance_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>950</locationX>
        <locationY>324</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Email_Sent_True</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BACSRemittanceEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_For_items.Supplier_Account_Billing_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>ORG_WIDE_ADDRESS_VALUE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>BACS remittance from NCT</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_status</name>
        <label>Show status</label>
        <locationX>1107</locationX>
        <locationY>203</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Line_Item_for_update</name>
        <label>Assign Line Item for update</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PaymentRunLineItemsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Run_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Email_Sent_True</name>
        <label>Is Email Sent True</label>
        <locationX>827</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_items.Is_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_for_update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was an error while starting the process</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The emails were succesfully sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>ORG_WIDE_ADDRESS_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>noreply-parentforce@nct.org.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckPaymenRunStatus</name>
        <label>CheckPaymenRunStatus</label>
        <locationX>362</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>WrongStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WrongStatus</defaultConnectorLabel>
        <rules>
            <name>CorrectStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPaymentStatus.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Remittance_Emails</targetReference>
            </connector>
            <label>CorrectStatus</label>
        </rules>
    </decisions>
    <description>Sends a batch of emails from Payment Run Line Items to all Purchase Invoice Contacts
Version changes:
V2. Added Payment Run Status Check</description>
    <interviewLabel>BACS Send Remittance Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BACS Send Remittance Emails</label>
    <loops>
        <name>Loop_For_items</name>
        <label>Loop For items</label>
        <locationX>773</locationX>
        <locationY>191</locationY>
        <collectionReference>Get_Payment_Run_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Line_Item_Is_Sent_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_Run_Line_Items</name>
        <label>Get Payment Run Line Items</label>
        <locationX>629</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_items</targetReference>
        </connector>
        <filters>
            <field>Is_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Supplier_Account_Billing_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Run_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Paid_Amount__c</queriedFields>
        <queriedFields>Reference_Info__c</queriedFields>
        <queriedFields>Supplier_Account_Billing_Email__c</queriedFields>
        <queriedFields>Is_Email_Sent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentStatus</name>
        <label>GetPaymentStatus</label>
        <locationX>203</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPaymenRunStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Run__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Line_Item_Is_Sent_True</name>
        <label>Update Line Item Is Sent True</label>
        <locationX>939</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
        <inputReference>PaymentRunLineItemsUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Send_Remittance_Emails</name>
        <label>Send Remittance Emails</label>
        <locationX>371</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Payment_Run_Line_Items</targetReference>
        </connector>
        <fields>
            <name>Message_link_purchase_invoices</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Press Next to send remittance emails to all contacts related to Purchase Invoices&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WrongStatus</name>
        <label>WrongStatus</label>
        <locationX>547</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusWarning</name>
            <fieldText>&lt;p&gt;It is possible &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;to send remittance emails only for Payment run that have &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Completed&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt; status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>31</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>GetPaymentStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BACSRemittanceEmail</name>
        <text>Dear Sir/Madam

A remittance of £{!Loop_For_items.Paid_Amount__c} has been sent to your designated bank account today. If you do not receive it within 3 working days please let us know by replying to finance@nct.org.uk. The amount is payment for the following:

{!Loop_For_items.Reference_Info__c}

Kind regards

NCT</text>
    </textTemplates>
    <variables>
        <name>action_result_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>STATUS_ERROR</elementReference>
        </value>
    </variables>
    <variables>
        <name>PaymenRunStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentRunLineItemsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Run_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
