force-app/main/default/flows/Bacs_Create_transaction_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Bank_Supplier_Payments</name>
        <label>Create Bank Supplier Payments</label>
        <locationX>542</locationX>
        <locationY>52</locationY>
        <actionName>BatchOutboundBACSpayment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_records_processing</targetReference>
        </connector>
        <inputParameters>
            <name>paymentRunIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>UpdatePaymentRunStatusToProcessing</name>
        <label>UpdatePaymentRunStatusToProcessing</label>
        <locationX>474</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentPaymentRun.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_Processing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckPaymenRunStatus</name>
        <label>CheckPaymenRunStatus</label>
        <locationX>62</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>WrongStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WrongStatus</defaultConnectorLabel>
        <rules>
            <name>CorrectStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentPaymentRun.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bacs_Create_transaction_records</targetReference>
            </connector>
            <label>CorrectStatus</label>
        </rules>
    </decisions>
    <description>Calls ZZ API from Batch
Version changes:
Version 2. Added Payment Run Status Check</description>
    <interviewLabel>Bacs Create transaction records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bacs Create transaction records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentPaymentRun</name>
        <label>GetCurrentPaymentRun</label>
        <locationX>70</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPaymenRunStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Run__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Processing</name>
        <label>Update_Status_to_Processing</label>
        <locationX>664</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Create_Bank_Supplier_Payments</targetReference>
        </connector>
        <inputReference>GetCurrentPaymentRun</inputReference>
    </recordUpdates>
    <screens>
        <name>Bacs_Create_transaction_records</name>
        <label>Bacs Create transaction records</label>
        <locationX>284</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdatePaymentRunStatusToProcessing</targetReference>
        </connector>
        <fields>
            <name>Message_Create_Transaction_Records</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Press Next to Create Transaction Records&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_records_processing</name>
        <label>Screen_records_processing</label>
        <locationX>782</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_Records_Processing_required</name>
            <fieldText>&lt;p&gt;Records will be processed soon&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WrongStatus</name>
        <label>WrongStatus</label>
        <locationX>71</locationX>
        <locationY>628</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;It is possible &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;to &lt;/span&gt;Create transaction records&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt; only for Payment run that have &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Draft&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt; status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>70</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>GetCurrentPaymentRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
