force-app/main/default/flows/BACS_Send_Remittance_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BacsSendRemittanceEmailsHelper</name>
        <label>BacsSendRemittanceEmailsHelper</label>
        <locationX>723</locationX>
        <locationY>145</locationY>
        <actionName>BacsSendRemittanceEmailsHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
        <inputParameters>
            <name>prliList</name>
            <value>
                <elementReference>Get_Payment_Run_Line_Items</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_status</name>
        <label>Show status</label>
        <locationX>766</locationX>
        <locationY>374</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was an error while starting the process</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The emails were succesfully sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>ORG_WIDE_ADDRESS_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>noreply-parentforce@nct.org.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckPaymenRunStatus</name>
        <label>CheckPaymenRunStatus</label>
        <locationX>381</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>WrongStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WrongStatus</defaultConnectorLabel>
        <rules>
            <name>CorrectStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPaymentStatus.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Remittance_Emails</targetReference>
            </connector>
            <label>CorrectStatus</label>
        </rules>
    </decisions>
    <description>Sends a batch of emails from Payment Run Line Items to all Purchase Invoice Contacts
Version changes:
V2. Added Payment Run Status Check</description>
    <interviewLabel>BACS Send Remittance Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BACS Send Remittance Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_Run_Line_Items</name>
        <label>Get Payment Run Line Items</label>
        <locationX>535</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BacsSendRemittanceEmailsHelper</targetReference>
        </connector>
        <filters>
            <field>Is_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Supplier_Account_Billing_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Run_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Paid_Amount__c</queriedFields>
        <queriedFields>Reference_Info__c</queriedFields>
        <queriedFields>Supplier_Account_Billing_Email__c</queriedFields>
        <queriedFields>Is_Email_Sent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentStatus</name>
        <label>GetPaymentStatus</label>
        <locationX>222</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPaymenRunStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Run__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Send_Remittance_Emails</name>
        <label>Send Remittance Emails</label>
        <locationX>390</locationX>
        <locationY>150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Payment_Run_Line_Items</targetReference>
        </connector>
        <fields>
            <name>Message_link_purchase_invoices</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Press Next to send remittance emails to all contacts related to Purchase Invoices&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WrongStatus</name>
        <label>WrongStatus</label>
        <locationX>566</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusWarning</name>
            <fieldText>&lt;p&gt;It is possible &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;to send remittance emails only for Payment run that have &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Completed&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt; status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>GetPaymentStatus</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>action_result_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>STATUS_ERROR</elementReference>
        </value>
    </variables>
    <variables>
        <name>PaymenRunStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentRunLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Run_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>paymentRunLineItemsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Run_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PRLI_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
