force-app/main/default/flows/BACS_Link_to_Purchase_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Link_Purchase_Invoices_Action</name>
        <label>Link Purchase Invoices Action</label>
        <locationX>362</locationX>
        <locationY>149</locationY>
        <actionName>ZumzumBACSpaymentActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_success</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>action_result_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_status</name>
        <label>Show status</label>
        <locationX>947</locationX>
        <locationY>148</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>output_message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>output_status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>791</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>action_result_message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_message</name>
        <label>Assign success message</label>
        <locationX>792</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was an error during linking process</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_success</name>
        <label>Check if success</label>
        <locationX>564</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Assign_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_message</targetReference>
            </connector>
            <label>Is success?</label>
        </rules>
    </decisions>
    <description>Assigns Payment Run link to Purchase Invoices that match the criteria
Version changes:
(debug) outputs message from the Apex action</description>
    <interviewLabel>BACS Link to Purchase Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BACS Link to Purchase Invoices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Link_Purchase_Invoices</name>
        <label>Link Purchase Invoices</label>
        <locationX>199</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Link_Purchase_Invoices_Action</targetReference>
        </connector>
        <fields>
            <name>Message_link_purchase_invoices</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Press Next to link Purchase Invoices to the current Payment Run&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Link_Purchase_Invoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action_result_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>STATUS_ERROR</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
