force-app/main/default/flows/BACS_Send_Remittance_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Remittance_Emails_Action</name>
        <label>Send Remittance Emails Action</label>
        <locationX>597</locationX>
        <locationY>149</locationY>
        <actionName>ZumzumBACSremittanceEmailsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_success</targetReference>
        </connector>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <elementReference>ORG_WIDE_ADDRESS_VALUE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentRunId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>action_result_message</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_status</name>
        <label>Show status</label>
        <locationX>1199</locationX>
        <locationY>148</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>output_message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>output_status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>1044</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>action_result_message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_message</name>
        <label>Assign success message</label>
        <locationX>1045</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was an error while starting the process</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The process was succesfully started</stringValue>
        </value>
    </constants>
    <constants>
        <name>ORG_WIDE_ADDRESS_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>nctcourses@nct.org.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEMPLATE_BACS_REMITTANCE_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BACS_Remittance_Email</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_success</name>
        <label>Check if success</label>
        <locationX>817</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Assign_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_message</targetReference>
            </connector>
            <label>Is success?</label>
        </rules>
    </decisions>
    <description>Sends a batch of emails from Payment Run Line Items to all Purchase Invoice Contacts
Version changes:
Initial version</description>
    <interviewLabel>BACS Send Remittance Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BACS Send Remittance Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_template</name>
        <label>Get template</label>
        <locationX>361</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Remittance_Emails_Action</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_BACS_REMITTANCE_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>templateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Send_Remittance_Emails</name>
        <label>Send Remittance Emails</label>
        <locationX>199</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_template</targetReference>
        </connector>
        <fields>
            <name>Message_link_purchase_invoices</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Press Next to send remittance emails to all contacts related to Purchase Invoices&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Send_Remittance_Emails</startElementReference>
    <status>Active</status>
    <variables>
        <name>action_result_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>STATUS_ERROR</elementReference>
        </value>
    </variables>
    <variables>
        <name>prLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Run_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
