force-app/main/default/flows/Booking_Journey_Available.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Booking_Journey_Available_Decision</name>
        <label>Booking Journey Available Decision</label>
        <locationX>1137</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Is_Expired_Or_Cancelled</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curCourse.Remaining_Places__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curBooking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Journey_Available_Screen</targetReference>
            </connector>
            <label>Link Is Expired Or Cancelled</label>
        </rules>
        <rules>
            <name>Course_Is_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>curCourse.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curCourse.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Journey_Available_Screen</targetReference>
            </connector>
            <label>Course Is Cancelled</label>
        </rules>
        <rules>
            <name>Course_Is_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Journey_Success_and_Confirmed_Pages_Subflow</targetReference>
            </connector>
            <label>Course Is Confirmed</label>
        </rules>
        <rules>
            <name>Course_Status_Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curCourse.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Status_Is_Draft_Screen</targetReference>
            </connector>
            <label>Course Status Is Draft</label>
        </rules>
    </decisions>
    <interviewLabel>Booking Journey Available {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Journey Available</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Booking_Journey_Available_Screen</name>
        <label>Booking Journey Available Screen</label>
        <locationX>1455</locationX>
        <locationY>417</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Booking_Journey_Available_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your {!curCourse.Sub_Type__c} reservation is no longer available. Please contact your local administrator for support -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!curCourse.Enquiries_PSA_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!curCourse.Enquiries_PSA_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!curCourse.Enquiries_PSA_Phone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Course_Status_Is_Draft_Screen</name>
        <label>Course Status Is Draft Screen</label>
        <locationX>1302</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Course_Status_Is_Draft_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;We&#39;re sorry your booking can&#39;t be completed right now. Please contact your Course Organiser direct, or you can phone our helpline on 0300 330 0700.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>698</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Booking_Journey_Available_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Booking_Journey_Success_and_Confirmed_Pages_Subflow</name>
        <label>Booking Journey Success  and Confirmed Pages Subflow</label>
        <locationX>1146</locationX>
        <locationY>50</locationY>
        <flowName>Booking_Journey_Success_and_Confirmed_Pages_Subflow</flowName>
        <inputAssignments>
            <name>curBooking</name>
            <value>
                <elementReference>curBooking</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curCourse</name>
            <value>
                <elementReference>curCourse</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>curCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
</Flow>
