force-app/main/default/flows/Booking_Contact_Details_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Booking_Data_for_Booking_Journey_Client</name>
        <label>Assign Booking Data for Booking Journey Client</label>
        <locationX>1057</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowDidHear_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.Birth_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Birth_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.Under_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Under_18_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Individual_Data_for_Booking_Journey_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booking_Data_for_QuickBooks_Client</name>
        <label>Assign Booking Data for QuickBooks Client</label>
        <locationX>1016</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowDidHear_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.Birth_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BirthDueDate_Input_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.bookingRecord.Under_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Under_18_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Individual_Data_for_QuickBooks_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booking_Journey_Boolean_Property_1</name>
        <label>Assign Booking Journey Boolean Property</label>
        <locationX>1779</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.doNeedToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Booking_Journey_Boolean_Property_2</name>
        <label>Assign Booking Journey Boolean Property</label>
        <locationX>1786</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.doNeedToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Booking_Journey_Boolean_Property_2_0</name>
        <label>Assign Booking Journey Boolean Property</label>
        <locationX>1369</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.doNeedToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Individual_Data_for_Booking_Journey_Client</name>
        <label>Assign Individual Data for Booking Journey Client</label>
        <locationX>1217</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Sms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Post</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Add_Partner_Selected_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Data_for_QuickBooks_Client</name>
        <label>Assign Individual Data for QuickBooks Client</label>
        <locationX>1187</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Sms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Post</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.individualRecord.Has_Opted_In_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Add_Partner_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_Data_for_QuickBooks_Client_0</name>
        <label>Assign Partner Contact Data for QuickBooks Client</label>
        <locationX>1368</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerFirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerLastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParthnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quick_Book_Boolean_Property_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_Data_for_QuickBooks_Client_0_0</name>
        <label>Assign Partner Contact Data for QuickBooks Client</label>
        <locationX>1621</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerFirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerLastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParthnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Journey_Boolean_Property_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_Data_for_QuickBooks_Client_0_0_0</name>
        <label>Assign Partner Contact Data for QuickBooks Client</label>
        <locationX>1633</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquireBooking_Partner_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquireBooking_Partner_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParthnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.partnerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Journey_Boolean_Property_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_Data_for_Booking_Journey_Client</name>
        <label>Assign Primary Contact Data for Booking Journey Client</label>
        <locationX>891</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquireBooking_Primary_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquireBooking_Primary_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquireBooking_Primary_Name.salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Text_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Home_Phone_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Mobile_Phone_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StateProvince_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipPostalCode_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredPhone_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record_Input_Param.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Data_for_Booking_Journey_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_Data_for_QuickBooks_Client</name>
        <label>Assign Primary Contact Data for QuickBooks Client</label>
        <locationX>889</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Text_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Home_Phone_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Mobile_Phone_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StateProvince_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipPostalCode_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.primaryContact.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredPhone_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Data_for_QuickBooks_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quick_Book_Boolean_Property_1</name>
        <label>Assign Quick Book Boolean Property</label>
        <locationX>1578</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.doNeedToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Quick_Book_Boolean_Property_2</name>
        <label>Assign Quick Book Boolean Property</label>
        <locationX>1582</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.doNeedToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingFlowContactDetailsParams.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>By default this variable is False</description>
        <name>Set_Quick_Booking_Boolean_Value_to_True</name>
        <label>Set Quick Booking Boolean Value to True</label>
        <locationX>696</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>Is_Quick_Booking_Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_With_Partner_Bool_Value_to_True</name>
        <label>Set With Partner Bool Value to True</label>
        <locationX>412</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>With_Partner_Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Partner_Contact_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>By default is the United Kingdom</description>
        <name>Default_Country_Value</name>
        <choiceText>{!Get_Country_Value_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Country_Value_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>How_Heard_Defualt_Value</name>
        <choiceText>{!Get_How_Heard_Value_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_How_Heard_Value_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>Preferred_Phone_By_Default</name>
        <choiceText>{!Get_Preferred_Phone_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Preferred_Phone_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>Preferred_Phone_Value</name>
        <choiceText>{!Preferred_Phone_Second_Option}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Preferred_Phone_Second_Option</elementReference>
        </value>
    </choices>
    <constants>
        <name>COUTRY_UNITED_KINGDOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </constants>
    <constants>
        <name>DO_NOT_REMEMBER_HOW_HEARD_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t remember</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_HOME_PHONE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_MOBILE_PHONE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_PHONE_MAX_LENGTH</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Add_Partner_Selected</name>
        <label>Is Add Partner Selected ?</label>
        <locationX>1356</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Assign_Quick_Book_Boolean_Property_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_Partner_Selected_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Partner.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Contact_Data_for_QuickBooks_Client_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Add_Partner_Selected_0</name>
        <label>Is Add Partner Selected ?</label>
        <locationX>1360</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Assign_Booking_Journey_Boolean_Property_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Course Without Partner</defaultConnectorLabel>
        <rules>
            <name>Add_Partner_Value_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Partner.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Contact_Data_for_QuickBooks_Client_0_0</targetReference>
            </connector>
            <label>Add Partner Value Is True</label>
        </rules>
        <rules>
            <name>With_Partner_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Partner.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Contact_Data_for_QuickBooks_Client_0_0_0</targetReference>
            </connector>
            <label>With Partner Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quick_Booking</name>
        <label>Is_Quick_Booking</label>
        <locationX>416</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>With_Partner_API_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Record_Input_Param</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_By_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quick_Booking_0</name>
        <label>Is_Quick_Booking</label>
        <locationX>882</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_Contact_Data_for_Booking_Journey_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Contact_Data_for_QuickBooks_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Partner_API_Name</name>
        <label>With Partner ?</label>
        <locationX>416</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Contact_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Partner</defaultConnectorLabel>
        <rules>
            <name>With_Partner_Outcome_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record_Input_Param.Partner_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_With_Partner_Bool_Value_to_True</targetReference>
            </connector>
            <label>With Partner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowDidHear_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_Heard__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Get Salutation values from Contact object.</description>
        <name>Salutation_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Get_Country_Value_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
   {!COUTRY_UNITED_KINGDOM}, 
   TEXT({!Contact_Record_Input_Param.Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>Get_Home_Phone_Value</name>
        <dataType>String</dataType>
        <expression>IF( {!PreferredPhone_Picklist} == {!PREFERRED_HOME_PHONE}, 
  {!HomePhone_Input_Text_Require},
  {!HomePhone_Input_Text_NotRequire}
)</expression>
    </formulas>
    <formulas>
        <name>Get_How_Heard_Value_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
   {!DO_NOT_REMEMBER_HOW_HEARD_VALUE}, 
   TEXT({!Booking_Record_Input_Param.How_Heard__c})
)</expression>
    </formulas>
    <formulas>
        <name>Get_Mobile_Phone_Value</name>
        <dataType>String</dataType>
        <expression>IF( {!PreferredPhone_Picklist} == {!PREFERRED_MOBILE_PHONE}, 
  {!MobilePhone_Input_Text_Require},
  {!MobilePhone_Input_Text_NotRequire}
)</expression>
    </formulas>
    <formulas>
        <name>Get_Preferred_Phone_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
  {!PREFERRED_MOBILE_PHONE},
  TEXT({!Contact_Record_Input_Param.npe01__PreferredPhone__c})
)</expression>
    </formulas>
    <formulas>
        <name>Preferred_Phone_Second_Option</name>
        <dataType>String</dataType>
        <expression>IF( {!Preferred_Phone_By_Default} == {!PREFERRED_MOBILE_PHONE}, 
   {!PREFERRED_HOME_PHONE},
  {!PREFERRED_MOBILE_PHONE}
)</expression>
    </formulas>
    <interviewLabel>Booking Contact Details Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Contact Details Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get course by Id to check &quot;Couples Allowed&quot; value if not then we will not display &quot;Add partner&quot; option.</description>
        <name>Get_Course_By_Id</name>
        <label>Get Course By Id</label>
        <locationX>693</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quick_Booking_Boolean_Value_to_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_Subflow</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quick_Booking_CourseId_Input_Param</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Couples_Allowed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Contact_Record</name>
        <label>Get Partner Contact Record</label>
        <locationX>698</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_Subflow</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Partner_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact_Details_Screen</name>
        <label>Contact Details Screen</label>
        <locationX>697</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Quick_Booking_0</targetReference>
        </connector>
        <fields>
            <name>Name_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 135, 106);&quot;&gt;Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnquireBooking_Primary_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salutation_Picklist</name>
            <choiceReferences>Salutation_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirstName_Input_Text</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LastName_Input_Text</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BirthDueDate_Input_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Quick_Booking_EDD_Input_Param</elementReference>
            </defaultValue>
            <fieldText>Birth/Due date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BirthDueDate_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Birth/Due date&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Booking_Record_Input_Param.Birth_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_Text_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_Text_Input}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Line_1</name>
            <fieldText>&lt;p&gt;{!Line_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 135, 106);&quot;&gt;Phone&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreferredPhone_Picklist</name>
            <choiceReferences>Preferred_Phone_By_Default</choiceReferences>
            <choiceReferences>Preferred_Phone_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Preferred_Phone_By_Default</defaultSelectedChoiceReference>
            <fieldText>Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MobilePhone_Input_Text_NotRequire</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!REG_EXP_NUMBER_ERROR_VALIDATION_MESSAGE}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!MobilePhone_Input_Text_NotRequire} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
  ISNUMBER( {!MobilePhone_Input_Text_NotRequire} ) 
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreferredPhone_Picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_MOBILE_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MobilePhone_Input_Text_Require</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!REG_EXP_NUMBER_ERROR_VALIDATION_MESSAGE}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!MobilePhone_Input_Text_Require} ) &lt; 
  {!PREFERRED_PHONE_MAX_LENGTH},
  ISNUMBER( {!MobilePhone_Input_Text_Require} )
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_MOBILE_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HomePhone_Input_Text_NotRequire</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.HomePhone</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!REG_EXP_NUMBER_ERROR_VALIDATION_MESSAGE}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!HomePhone_Input_Text_NotRequire} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
   ISNUMBER( {!HomePhone_Input_Text_NotRequire} )
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreferredPhone_Picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_HOME_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HomePhone_Input_Text_Require</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.HomePhone</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!REG_EXP_NUMBER_ERROR_VALIDATION_MESSAGE}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!HomePhone_Input_Text_Require} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
  ISNUMBER( {!HomePhone_Input_Text_Require} )
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_HOME_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_2</name>
            <fieldText>&lt;p&gt;{!Line_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 135, 106);&quot;&gt;Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StateProvince_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ZipPostalCode_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_Picklist</name>
            <choiceReferences>Country_Picklist_Values</choiceReferences>
            <choiceReferences>Default_Country_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Default_Country_Value</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Under_18_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(60, 60, 60);&quot;&gt;Please ONLY tick here if you or your birthing partner will be under 18 years old at the start of the course 02 June 2020.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Under_18_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Booking_Record_Input_Param.Under_18__c</elementReference>
            </defaultValue>
            <fieldText>Under 18</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line_4</name>
            <fieldText>&lt;p&gt;{!Line_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Partner_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Who will be coming on the course with you?&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 5) OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Partner</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Wish add partner ?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartnerName_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 135, 106); font-size: 18px;&quot;&gt;Partner Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Partner.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EnquireBooking_Partner_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Partner_Contact_Record.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Partner_Contact_Record.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartnerFirstName_Input_Text</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>2 AND ( 1 OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Add_Partner.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartnerLastName_Input_Text</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>2 AND ( 1 OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Add_Partner.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ParthnerEmail_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Partner_Contact_Record.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!ParthnerEmail_Input_Text}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Partner.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR (2 OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HowDidHear_Picklist</name>
            <choiceReferences>HowDidHear_Picklist_Values</choiceReferences>
            <choiceReferences>How_Heard_Defualt_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>How_Heard_Defualt_Value</defaultSelectedChoiceReference>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactDetails_MarketingPrefernces_Component</name>
            <extensionName>c:marketingPreferencesComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>individualId</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.IndividualId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Email</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Sms</assignToReference>
                <name>sms</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Phone</assignToReference>
                <name>phone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Post</assignToReference>
                <name>post</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>26</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Is_Quick_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handler_Flow_Subflow</name>
        <label>Error Handler Flow Subflow</label>
        <locationX>263</locationX>
        <locationY>1007</locationY>
        <flowName>Error_Handler_Flow</flowName>
    </subflows>
    <textTemplates>
        <name>Add_Partner_Text_Template</name>
        <text>&lt;span style=&quot;font-size: 18px; float:left;&quot;&gt;Add Partner&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Line_Template</name>
        <text>&lt;hr style=&apos;margin:0&apos;/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Not_Valid_Email_Message</name>
        <text>&lt;p&gt;Please provide a valid email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>We will use this to check typed the phone number.
&quot;The phone number must consist only of the digits [0-9].&quot;</description>
        <name>REG_EXP_NUMBER_ERROR_VALIDATION_MESSAGE</name>
        <text>&lt;p&gt;The phone number must consist only of the digits &lt;b&gt;[0-9]&lt;/b&gt; and not more than &lt;b&gt;{!PREFERRED_PHONE_MAX_LENGTH}&lt;/b&gt; numbers.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Booking_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <description>We use this Apex Class(Apex-Defined) to populate him and output.</description>
        <name>BookingFlowContactDetailsParams</name>
        <apexClass>BookingFlowContactDetailsParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Course_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <description>This is value using in Screen Component to display attribute by this condition (e.g IF Is_Quick_Booking_Boolean_Value == false then not display or display)</description>
        <name>Is_Quick_Booking_Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Post</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Sms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Preferred_Phone_Picklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Booking_CourseId_Input_Param</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Booking_EDD_Input_Param</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuickBooking_PostCode_Input_Param</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>With_Partner_Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
