force-app/main/default/flows/Booking_Journey_Success_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddMarketingPreferencesToCare</name>
        <label>AddMarketingPreferencesToCare</label>
        <locationX>1050</locationX>
        <locationY>484</locationY>
        <actionName>AddMarketingPreferencesToCare</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Course_Data</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>curBooking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>We create Gift Aid via apex class because we have a master-detail relationship with Contact and Contact doesn&#39;t have permission to create a record.</description>
        <name>Create_Gift_Declaration</name>
        <label>Create Gift Declaration</label>
        <locationX>1049</locationX>
        <locationY>231</locationY>
        <actionName>CreateGiftAidDeclarationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddMarketingPreferencesToCare</targetReference>
        </connector>
        <inputParameters>
            <name>giftAidDeclarationList</name>
            <value>
                <elementReference>GAD_List</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Sales_Invoice</name>
        <label>Post Sales Invoice</label>
        <locationX>821</locationX>
        <locationY>655</locationY>
        <actionName>ZumzumPostSalesInvoiceHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Gift_Aid_Declaration</targetReference>
        </connector>
        <inputParameters>
            <name>salesInvoice</name>
            <value>
                <elementReference>SalesInvoice_Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Parent_To_GAD_List</name>
        <label>Add Parent To GAD List</label>
        <locationX>1049</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>GAD_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentGAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gift_Declaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_To_GAD_List</name>
        <label>Add Partner To GAD List</label>
        <locationX>665</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>GAD_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerGAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GAD_For_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GAD_For_Parent</name>
        <label>Set GAD For Parent</label>
        <locationX>838</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_To_GAD_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GAD_For_Partner</name>
        <label>Set GAD For Partner</label>
        <locationX>662</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBooking.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Partner_To_GAD_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GAD_ACQUISITION_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </constants>
    <constants>
        <name>GAD_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GiftAid</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Gift_Aid_Declaration</name>
        <label>Check Gift Aid Declaration</label>
        <locationX>815</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>AddMarketingPreferencesToCare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decline Declaration</defaultConnectorLabel>
        <rules>
            <name>With_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Gift_Aid_Declaration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GAD_For_Parent</targetReference>
            </connector>
            <label>With Single GAD</label>
        </rules>
        <rules>
            <name>Without_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Gift_Aid_Declaration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Joint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GAD_For_Partner</targetReference>
            </connector>
            <label>With Joint GAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installment_Check</name>
        <label>Installment Check</label>
        <locationX>477</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>Get_Booking_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Installment True</defaultConnectorLabel>
        <rules>
            <name>Is_Installment_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Record</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Invalid_Page_Screen</targetReference>
            </connector>
            <label>Is Installment False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Booking_Confirmed</name>
        <label>Is Booking Confirmed</label>
        <locationX>1184</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>Post_Sales_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Data</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Invoice_Check</name>
        <label>Sales Invoice Check</label>
        <locationX>568</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Get_Installment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is SalesInvoice True</defaultConnectorLabel>
        <rules>
            <name>Is_SalesInvoice_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesInvoice_Record</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Invalid_Page_Screen</targetReference>
            </connector>
            <label>Is SalesInvoice False</label>
        </rules>
    </decisions>
    <interviewLabel>Booking Journey Success Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Journey Success Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking_Data</name>
        <label>Get Booking Data</label>
        <locationX>822</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Booking_Confirmed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>curBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>How_Heard__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Birth_Due_Date__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Under_18__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>PSA_Office__c</queriedFields>
        <queriedFields>Gift_Aid_Declaration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Data</name>
        <label>Get Course Data</label>
        <locationX>1188</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curBooking.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>curCourse</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Remaining_Places__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Couples_Allowed__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Course_Duration__c</queriedFields>
        <queriedFields>Additional_Confirmation_Information__c</queriedFields>
        <queriedFields>Main_Practitioner__c</queriedFields>
        <queriedFields>Fee__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>PSA_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Installment</name>
        <label>Get Installment</label>
        <locationX>485</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invalid_Page_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Sales_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesInvoice_Record.Id</elementReference>
            </value>
        </filters>
        <object>cpm__Installment__c</object>
        <outputReference>Installment_Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SalesInvoice</name>
        <label>Get SalesInvoice</label>
        <locationX>236</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Invoice_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invalid_Page_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <object>Zumzum__Sales_Invoice__c</object>
        <outputReference>SalesInvoice_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>1335</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Booking_Journey_Success_and_Confirmed_Pages_Subflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms_And_Conditions_Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Invalid_Page_Screen</name>
        <label>Invalid Page Screen</label>
        <locationX>236</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Page_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Invalid Page&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Get_SalesInvoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Booking_Journey_Success_and_Confirmed_Pages_Subflow</name>
        <label>Booking Journey Success  and Confirmed Pages Subflow</label>
        <locationX>1492</locationX>
        <locationY>484</locationY>
        <flowName>Booking_Journey_Success_and_Confirmed_Pages_Subflow</flowName>
        <inputAssignments>
            <name>curBooking</name>
            <value>
                <elementReference>curBooking</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curCourse</name>
            <value>
                <elementReference>curCourse</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>curCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>GAD_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>Installment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>ParentGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>PartnerGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>SalesInvoice_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Sales_Invoice__c</objectType>
    </variables>
</Flow>
