force-app/main/default/flows/Booking_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Chatter_Post_Booking</name>
        <label>Chatter Post Booking</label>
        <locationX>1103</locationX>
        <locationY>56</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Post_Old_Course</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Booking.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CourseChatterPost</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_New_Course</name>
        <label>Chatter Post New Course</label>
        <locationX>1427</locationX>
        <locationY>57</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CourseChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Booking.Course__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_Old_Course</name>
        <label>Chatter Post Old Course</label>
        <locationX>1261</locationX>
        <locationY>56</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Post_New_Course</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CourseChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OriginalCourseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Transfer_Date_And_Reason</name>
        <label>Set Transfer Date And Reason</label>
        <locationX>817</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>Booking.Transfer_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking.Transfer_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Original_Course_Id</name>
        <label>Store Original Course Id</label>
        <locationX>332</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>OriginalCourseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking.Course__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalCourseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking.Course__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Details</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>TransferReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transfer_Reason__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Booking Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>198</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Original_Course_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>Booking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Fee_Override__c</queriedFields>
        <queriedFields>Transfer_Reason__c</queriedFields>
        <queriedFields>Transfer_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>973</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Chatter_Post_Booking</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Transfer_Failed</targetReference>
        </faultConnector>
        <inputReference>Booking</inputReference>
    </recordUpdates>
    <screens>
        <name>Transfer_Details</name>
        <label>Transfer Details</label>
        <locationX>457</locationX>
        <locationY>16</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Summary</targetReference>
        </connector>
        <fields>
            <name>CurrentCourse</name>
            <fieldText>&lt;p&gt;Current Course: {!Booking.Course__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentFeeOverride</name>
            <fieldText>&lt;p&gt;Current Fee Override: {!Booking.Fee_Override__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Course</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Course__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Course</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Booking.Course__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Transfer_Reason</name>
            <choiceReferences>TransferReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Failed</name>
        <label>Transfer Failed</label>
        <locationX>975</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TransferError</name>
            <fieldText>&lt;p&gt;Transfer failed due to the following error: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Summary</name>
        <label>Transfer Summary</label>
        <locationX>643</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Transfer_Date_And_Reason</targetReference>
        </connector>
        <fields>
            <name>TransferDetails</name>
            <fieldText>&lt;p&gt;You have chosen to transfer booking {!Booking.Name} from {!OriginalCourseName} to {!Booking.Course__r.Name} which starts on&lt;/p&gt;&lt;p&gt;{!Booking.Course__r.Start_Date__c} and ends on {!Booking.Course__r.End_Date__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The chosen transfer reason is: {!Transfer_Reason}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;REMINDER: If this transfer has a financial impact, raise a case and assign it to the Course Booking Manual Administration queue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The message to post on the courses following the transfer</description>
        <name>CourseChatterPost</name>
        <text>Booking {!Booking.Name} for {!Booking.First_Name__c} {!Booking.Last_Name__c} transferred from Course {!OriginalCourseName} to {!Booking.Course__r.Name}. Transfer Date: {!Booking.Transfer_Date__c}. Transfer Reason: {!Booking.Transfer_Reason__c}.</text>
    </textTemplates>
    <variables>
        <name>Booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>OriginalCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalCourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
