force-app/main/default/flows/Booking_Contact_Details_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Booking_Data_for_Booking_Journey_Client</name>
        <label>Assign Booking Data for Booking Journey Client</label>
        <locationX>1390</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_HowDidHear_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.Birth_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Birth_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.Under_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Under_18_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Individual_Data_for_Booking_Journey_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booking_Data_for_QuickBooks_Client</name>
        <label>Assign Booking Data for QuickBooks Client</label>
        <locationX>1370</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_HowDidHear_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.Birth_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_BirthDueDate_Input_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.bookingRecord.Under_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_Under_18_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Individual_Data_for_QuickBooks_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booking_Journey_Boolean_Property_2</name>
        <label>Assign Booking Journey Boolean Property</label>
        <locationX>2269</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Booking_Journey_Boolean_Property_2_0_0_0_0</name>
        <label>Assign Booking Journey Boolean Property</label>
        <locationX>2272</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Individual_Data_for_Booking_Journey_Client</name>
        <label>Assign Individual Data for Booking Journey Client</label>
        <locationX>1532</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Sms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Post</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Partner_Added_By_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Data_for_QuickBooks_Client</name>
        <label>Assign Individual Data for QuickBooks Client</label>
        <locationX>1507</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Sms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Post</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Preferences_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Partner_Contact_Data_for_QuickBooks_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact</name>
        <label>Assign Partner Contact</label>
        <locationX>1858</locationX>
        <locationY>1219</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_EnquireBooking_Partner_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_EnquireBooking_Partner_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_WithPartnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BJ_Do_Need_To_Display_Phone_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_Data_for_BookingJourney_Client</name>
        <label>Assign Partner Contact Data for BookingJourney Client</label>
        <locationX>1670</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Partner_FirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Partner_LastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_WithoutPartnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BJ_Do_Need_To_Display_Phone_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_Data_for_QuickBooks_Client</name>
        <label>Assign Partner Contact Data for QuickBooks Client</label>
        <locationX>1641</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_PartnerFirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_PartnerLastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_ParthnerEmail_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QB_Do_Need_To_Display_Phone_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_Data_for_Booking_Journey_Client</name>
        <label>Assign Primary Contact Data for Booking Journey Client</label>
        <locationX>1246</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record_Input_Param.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record_Input_Param.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record_Input_Param.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Email_Text_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_HomePhone_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_MobilePhone_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Street_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_City_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_StateProvince_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_ZipPostalCode_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_Country_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BJ_PreferredPhone_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record_Input_Param.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Do_Need_To_Display_Phone_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Do_We_Need_To_Dispaly_Partner_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Data_for_Booking_Journey_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_Data_for_QuickBooks_Client</name>
        <label>Assign Primary Contact Data for QuickBooks Client</label>
        <locationX>1230</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_FirstName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_LastName_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_Email_Text_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_HomePhone_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_MobilePhone_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_Street_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_City_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_StateProvince_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_ZipPostalCode_Input_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_Country_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_PreferredPhone_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Do_We_Need_To_Dispaly_Partner_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Booking_Data_for_QuickBooks_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quick_Book_Boolean_Properties_With_Partner</name>
        <label>Assign Quick Book Boolean Properties With Partner</label>
        <locationX>2057</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Quick_Book_Boolean_Properties_Without_Partner</name>
        <label>Assign Quick Book Boolean Properties Without Partner</label>
        <locationX>2249</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isQuickBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Contact_Details_Params.isWithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>QB_Set_Display_Partner_Error_to_True</name>
        <label>Set Display Partner Error to True</label>
        <locationX>1631</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>Do_We_Need_To_Dispaly_Partner_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QB_Contact_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Display_Partner_Error_to_True_0_0</name>
        <label>Set Display Partner Error to True</label>
        <locationX>1538</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>Do_We_Need_To_Dispaly_Partner_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BJ_Contact_Details_Scree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>By default this variable is False</description>
        <name>Set_Quick_Booking_Boolean_Value_to_True</name>
        <label>Set Quick Booking Boolean Value to True</label>
        <locationX>992</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>Is_Quick_Booking_Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QB_Contact_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_With_Partner_Bool_Value_to_True</name>
        <label>Set With Partner Bool Value to True</label>
        <locationX>1060</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>With_Partner_Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BJ_Contact_Details_Scree</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>By default is the United Kingdom</description>
        <name>Default_Country_Value</name>
        <choiceText>{!Get_Country_Value_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Country_Value_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>How_Heard_Defualt_Value</name>
        <choiceText>{!Get_How_Heard_Value_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_How_Heard_Value_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>Preferred_Phone_By_Default</name>
        <choiceText>{!Get_Preferred_Phone_By_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Preferred_Phone_By_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>Preferred_Phone_Value</name>
        <choiceText>{!Preferred_Phone_Second_Option}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Preferred_Phone_Second_Option</elementReference>
        </value>
    </choices>
    <constants>
        <name>COUTRY_UNITED_KINGDOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </constants>
    <constants>
        <name>DO_NOT_REMEMBER_HOW_HEARD_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t remember</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_HOME_PHONE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_MOBILE_PHONE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREFERRED_PHONE_MAX_LENGTH</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>BJ_Do_Need_To_Display_Partner_Error_1</name>
        <label>Do Need To Display Partner Error</label>
        <locationX>1852</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Set_Display_Partner_Error_to_True_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display</defaultConnectorLabel>
        <rules>
            <name>BJ_Partner_Error_No_Display_1</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BJ_Do_Need_To_Display_Partner_Error_2</targetReference>
            </connector>
            <label>No Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>BJ_Do_Need_To_Display_Partner_Error_2</name>
        <label>Do Need To Display Partner Error</label>
        <locationX>1846</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Set_Display_Partner_Error_to_True_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display</defaultConnectorLabel>
        <rules>
            <name>BJ_Partner_Error_No_Display_2</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BJ_Is_Partner_Added</targetReference>
            </connector>
            <label>No Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>BJ_Do_Need_To_Display_Phone_Error</name>
        <label>Do Need To Display Phone Error</label>
        <locationX>1526</locationX>
        <locationY>868</locationY>
        <defaultConnector>
            <targetReference>BJ_Do_Need_To_Display_Partner_Error_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Diaplay</defaultConnectorLabel>
        <rules>
            <name>BJ_Display</name>
            <conditionLogic>(1 AND (2 OR 3)) OR ((4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BJ_Contact_Details_Scree</targetReference>
            </connector>
            <label>Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>BJ_Is_Partner_Added</name>
        <label>BJ Is Partner Added ?</label>
        <locationX>2048</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Assign_Booking_Journey_Boolean_Property_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Value</defaultConnectorLabel>
        <rules>
            <name>BJ_Partner_Is_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Booking_Journey_Boolean_Property_2</targetReference>
            </connector>
            <label>Partner Is Added</label>
        </rules>
        <rules>
            <name>Couple_Not_Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Booking_Journey_Boolean_Property_2_0_0_0_0</targetReference>
            </connector>
            <label>Couple Not Allow</label>
        </rules>
        <rules>
            <name>With_Partner_And_Couple_Allow_is_True</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Booking_Journey_Boolean_Property_2_0_0_0_0</targetReference>
            </connector>
            <label>Without Partner And Couple Allow is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Couples_Allowed</name>
        <label>Is Couples Allowed ?</label>
        <locationX>854</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>BJ_Contact_Details_Scree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Couples Allowed</defaultConnectorLabel>
        <rules>
            <name>Couples_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>With_Partner_API_Name</targetReference>
            </connector>
            <label>Couples Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partner_Added_By_Default</name>
        <label>Is Partner Added By Default</label>
        <locationX>1536</locationX>
        <locationY>1221</locationY>
        <defaultConnector>
            <targetReference>Assign_Partner_Contact_Data_for_BookingJourney_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner Not Added by Default</defaultConnectorLabel>
        <rules>
            <name>BJ_Is_Partner_Added_By_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Contact</targetReference>
            </connector>
            <label>Partner Added By Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quick_Booking</name>
        <label>Is_Quick_Booking</label>
        <locationX>630</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Is_Couples_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Record_Input_Param</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_By_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QB_Do_Need_To_Display_Partner_Error_1</name>
        <label>Do Need To Display Partner Error</label>
        <locationX>1889</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>QB_Set_Display_Partner_Error_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display</defaultConnectorLabel>
        <rules>
            <name>QB_Partner_Error_No_Display_1</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QB_Do_Need_To_Display_Partner_Error_2</targetReference>
            </connector>
            <label>No Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>QB_Do_Need_To_Display_Partner_Error_2</name>
        <label>Do Need To Display Partner Error</label>
        <locationX>1887</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>QB_Set_Display_Partner_Error_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display</defaultConnectorLabel>
        <rules>
            <name>QB_Partner_Error_No_Display_2</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QB_Is_Partner_Added</targetReference>
            </connector>
            <label>No Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>QB_Do_Need_To_Display_Phone_Error</name>
        <label>Do Need To Display Phone Error</label>
        <locationX>1631</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>QB_Do_Need_To_Display_Partner_Error_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Diaplay</defaultConnectorLabel>
        <rules>
            <name>Display</name>
            <conditionLogic>(1 AND (2 OR 3)) OR ((4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.primaryContact.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QB_Contact_Details_Screen</targetReference>
            </connector>
            <label>Display</label>
        </rules>
    </decisions>
    <decisions>
        <name>QB_Is_Partner_Added</name>
        <label>QB Is Partner Added ?</label>
        <locationX>2049</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Assign_Quick_Book_Boolean_Properties_Without_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner Is Added</defaultConnectorLabel>
        <rules>
            <name>QB_Partner_Is_Not_Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Contact_Details_Params.partnerContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quick_Book_Boolean_Properties_With_Partner</targetReference>
            </connector>
            <label>Partner Is Not Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Partner_API_Name</name>
        <label>With Partner ?</label>
        <locationX>850</locationX>
        <locationY>822</locationY>
        <defaultConnector>
            <targetReference>BJ_Contact_Details_Scree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Partner</defaultConnectorLabel>
        <rules>
            <name>With_Partner_Outcome_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record_Input_Param.Partner_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Contact_Record</targetReference>
            </connector>
            <label>With Partner</label>
        </rules>
    </decisions>
    <description>Last Stable v1</description>
    <dynamicChoiceSets>
        <name>Country_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowDidHear_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_Heard__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Preferred_Phone_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__PreferredPhone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Get Salutation values from Contact object.</description>
        <name>Salutation_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Get_Country_Value_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
   {!COUTRY_UNITED_KINGDOM}, 
   TEXT({!Contact_Record_Input_Param.Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>Get_How_Heard_Value_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
   {!DO_NOT_REMEMBER_HOW_HEARD_VALUE}, 
   TEXT({!Booking_Record_Input_Param.How_Heard__c})
)</expression>
    </formulas>
    <formulas>
        <name>Get_Preferred_Phone_By_Default</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Contact_Record_Input_Param.Id} ), 
  {!PREFERRED_MOBILE_PHONE},
  TEXT({!Contact_Record_Input_Param.npe01__PreferredPhone__c})
)</expression>
    </formulas>
    <formulas>
        <name>Preferred_Phone_Second_Option</name>
        <dataType>String</dataType>
        <expression>IF( {!Preferred_Phone_By_Default} == {!PREFERRED_MOBILE_PHONE}, 
   {!PREFERRED_HOME_PHONE},
  {!PREFERRED_MOBILE_PHONE}
)</expression>
    </formulas>
    <interviewLabel>Booking Contact Details Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Contact Details Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get course by Id to check &quot;Couples Allowed&quot; value if not then we will not display &quot;Add partner&quot; option.</description>
        <name>Get_Course_By_Id</name>
        <label>Get Course By Id</label>
        <locationX>807</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quick_Booking_Boolean_Value_to_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_Subflow</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quick_Booking_CourseId_Input_Param</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Couples_Allowed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Contact_Record</name>
        <label>Get Partner Contact Record</label>
        <locationX>856</locationX>
        <locationY>1003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_With_Partner_Bool_Value_to_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Flow_Subflow</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_Record_Input_Param.Partner_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>BJ_Contact_Details_Scree</name>
        <label>BJ Contact Details Screen</label>
        <locationX>1239</locationX>
        <locationY>710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Primary_Contact_Data_for_Booking_Journey_Client</targetReference>
        </connector>
        <fields>
            <name>BJ_EnquireBooking_Primary_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_BirthDueDate_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Birth/Due date&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Booking_Record_Input_Param.Birth_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Email_Text_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!BJ_Email_Text_Input}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BJ_Line_1</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJ_PreferredPhone_Picklist</name>
            <choiceReferences>Preferred_Phone_By_Default</choiceReferences>
            <choiceReferences>Preferred_Phone_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Preferred_Phone_By_Default</defaultSelectedChoiceReference>
            <fieldText>Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_MobilePhone_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!RegExp_Number_Error_Validation_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!BJ_MobilePhone_Input_Text} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
  ISNUMBER( {!BJ_MobilePhone_Input_Text} ) 
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BJ_MobilePhoneError_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PreferredPhone_MobileError_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BJ_MobilePhone_Input_Text</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>BJ_PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_MOBILE_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_HomePhone_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.HomePhone</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!RegExp_Number_Error_Validation_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!BJ_HomePhone_Input_Text} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
   ISNUMBER( {!BJ_HomePhone_Input_Text} )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BJ_HomePhoneError_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PreferredPhone_HomeError_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BJ_HomePhone_Input_Text</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>BJ_PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_HOME_PHONE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Line_2</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJ_Street_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_City_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_StateProvince_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_ZipPostalCode_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Record_Input_Param.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_Country_Picklist</name>
            <choiceReferences>Country_Picklist_Values</choiceReferences>
            <choiceReferences>Default_Country_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Default_Country_Value</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_Line_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJ_Under_18_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Under18_Years_Old_Text_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJ_Under_18_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Booking_Record_Input_Param.Under_18__c</elementReference>
            </defaultValue>
            <fieldText>Under 18</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_Line_4</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJ_Add_Partner_Display_Text</name>
            <fieldText>&lt;p&gt;{!Who_Will_Be_Coming_With_You_Text_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Fill_Partner_Info_ErrorText</name>
            <fieldText>&lt;p&gt;{!Fill_Partner_Information_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_We_Need_To_Dispaly_Partner_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_EnquireBooking_Partner_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Partner Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Partner_Contact_Record.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Partner_Contact_Record.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Partner_FirstName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Partner_LastName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_WithoutPartnerEmail_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!BJ_WithoutPartnerEmail_Input_Text}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_WithPartnerEmail_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Partner_Contact_Record.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Not_Valid_Email_Message_Tmp}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!BJ_WithPartnerEmail_Input_Text}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>With_Partner_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_Line_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BJ_HowDidHear_Picklist</name>
            <choiceReferences>HowDidHear_Picklist_Values</choiceReferences>
            <choiceReferences>How_Heard_Defualt_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>How_Heard_Defualt_Value</defaultSelectedChoiceReference>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BJ_ContactDetails_MarketingPrefernces_Component</name>
            <extensionName>c:marketingPreferencesComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>individualId</name>
                <value>
                    <elementReference>Contact_Record_Input_Param.IndividualId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Email</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Sms</assignToReference>
                <name>sms</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Phone</assignToReference>
                <name>phone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Post</assignToReference>
                <name>post</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QB_Contact_Details_Screen</name>
        <label>QB Contact Details Screen</label>
        <locationX>1228</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Primary_Contact_Data_for_QuickBooks_Client</targetReference>
        </connector>
        <fields>
            <name>QB_Salutation_Picklist</name>
            <choiceReferences>Salutation_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_FirstName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_LastName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_BirthDueDate_Input_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Quick_Booking_EDD_Input_Param</elementReference>
            </defaultValue>
            <fieldText>Birth/Due date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Quick_Booking_Boolean_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_Email_Text_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!QB_Email_Text_Input}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>QB_Line_1</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QB_PreferredPhone_Picklist</name>
            <choiceReferences>Preferred_Phone_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_MobilePhone_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!RegExp_Number_Error_Validation_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!QB_MobilePhone_Input_Text} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
  ISNUMBER( {!QB_MobilePhone_Input_Text} ) 
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>QB_MobileError_DisplayText</name>
            <fieldText>&lt;p&gt;{!PreferredPhone_MobileError_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>QB_PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_MOBILE_PHONE</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>QB_MobilePhone_Input_Text</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>QB_MobilePhone_Input_Text</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_HomePhone_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.HomePhone</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!RegExp_Number_Error_Validation_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND (
  LEN( {!QB_HomePhone_Input_Text} ) &lt; {!PREFERRED_PHONE_MAX_LENGTH},
   ISNUMBER( {!QB_HomePhone_Input_Text} )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>QB_HomeError_DisplayText</name>
            <fieldText>&lt;p&gt;{!PreferredPhone_HomeError_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>QB_PreferredPhone_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PREFERRED_HOME_PHONE</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>QB_HomePhone_Input_Text</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>QB_HomePhone_Input_Text</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_Line_2</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QB_Street_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_City_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_StateProvince_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_ZipPostalCode_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.primaryContact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_Country_Picklist</name>
            <choiceReferences>Country_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_Line_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QB_Under_18_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Under18_Years_Old_Text_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QB_Under_18_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Booking_Record_Input_Param.Under_18__c</elementReference>
            </defaultValue>
            <fieldText>Under 18</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_Line_4</name>
            <fieldText>&lt;p&gt;{!Line_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QB_Add_Partner_Display_Text</name>
            <fieldText>&lt;p&gt;{!Who_Will_Be_Coming_With_You_Text_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_Fill_Partner_Info_ErrorText</name>
            <fieldText>&lt;p&gt;{!Fill_Partner_Information_Tmp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_We_Need_To_Dispaly_Partner_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_PartnerFirstName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_PartnerLastName_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_ParthnerEmail_Input_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Booking_Contact_Details_Params.partnerContact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!Not_Valid_Email_Message_Tmp}&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!QB_ParthnerEmail_Input_Text}, &quot;[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_Line_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Tmp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Course_By_Id.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Course_Record_Input_Param.Couples_Allowed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QB_HowDidHear_Picklist</name>
            <choiceReferences>HowDidHear_Picklist_Values</choiceReferences>
            <choiceReferences>How_Heard_Defualt_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>How_Heard_Defualt_Value</defaultSelectedChoiceReference>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_ContactDetails_MarketingPrefernces_Component</name>
            <extensionName>c:marketingPreferencesComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phone</name>
                <value>
                    <elementReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Telephone__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>post</name>
                <value>
                    <elementReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_Post__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sms</name>
                <value>
                    <elementReference>Booking_Contact_Details_Params.individualRecord.Has_Opted_In_SMS__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Email</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Sms</assignToReference>
                <name>sms</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Phone</assignToReference>
                <name>phone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Marketing_Preferences_Post</assignToReference>
                <name>post</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Is_Quick_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handler_Flow_Subflow</name>
        <label>Error Handler Flow Subflow</label>
        <locationX>472</locationX>
        <locationY>592</locationY>
        <flowName>Error_Handler_Flow</flowName>
    </subflows>
    <textTemplates>
        <name>Add_Partner_Text_Tmp</name>
        <text>&lt;span style=&quot;font-size: 18px; float:left;&quot;&gt;Add Partner&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fill_Partner_Information_Tmp</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;Please fill in partner information.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Line_Tmp</name>
        <text>&lt;hr style=&apos;margin:0&apos;/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Not_Valid_Email_Message_Tmp</name>
        <text>&lt;p&gt;Please provide a valid email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PreferredPhone_HomeError_Tmp</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;You&apos;ve selected home phone as preferred phone. Please enter the value.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PreferredPhone_MobileError_Tmp</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;You&apos;ve selected mobile phone as preferred phone. Please enter the value.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>We will use this to check typed the phone number.
&quot;The phone number must consist only of the digits [0-9].&quot;</description>
        <name>RegExp_Number_Error_Validation_Message_Tmp</name>
        <text>&lt;p&gt;The phone number must consist only of the digits &lt;b&gt;[0-9]&lt;/b&gt; and not more than &lt;b&gt;{!PREFERRED_PHONE_MAX_LENGTH}&lt;/b&gt; numbers.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Under18_Years_Old_Text_Tmp</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(60, 60, 60);&quot;&gt;Please ONLY tick here if you or your birthing partner will be under 18 years old at the start of the course 02 June 2020.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Who_Will_Be_Coming_With_You_Text_Tmp</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Who will be coming on the course with you?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>We use this Apex Class(Apex-Defined) to populate him and output.</description>
        <name>Booking_Contact_Details_Params</name>
        <apexClass>BookingFlowContactDetailsParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Booking_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>Contact_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Course_Record_Input_Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>Do_Need_To_Display_Phone_Error_Message</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Do_We_Need_To_Dispaly_Partner_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This is value using in Screen Component to display attribute by this condition (e.g IF Is_Quick_Booking_Boolean_Value == false then not display or display)</description>
        <name>Is_Quick_Booking_Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Post</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Marketing_Preferences_Sms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Quick_Booking_CourseId_Input_Param</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Booking_EDD_Input_Param</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuickBooking_PostCode_Input_Param</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>With_Partner_Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
