force-app/main/default/flows/Booking_Send_Email_On_Enquiry_Created_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>641</locationX>
        <locationY>377</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>bookingCreatedTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>TEMPLATE_BOOKING_CREATED_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking_Created</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_booking_is_set</name>
        <label>Check booking is set</label>
        <locationX>42</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Get_course_by_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_booking_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_booking_by_id</targetReference>
            </connector>
            <label>Is booking null?</label>
        </rules>
    </decisions>
    <interviewLabel>Booking Send Email On Enquiry Created Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Send Email On Enquiry Created Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_booking_by_id</name>
        <label>Get booking by id</label>
        <locationX>252</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_course_by_id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>booking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Names__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_course_by_id</name>
        <label>Get course by id</label>
        <locationX>50</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_template_for_booking_creation_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>booking.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>course</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enquiries_PSA_Name__c</queriedFields>
        <queriedFields>Enquiries_PSA_Phone__c</queriedFields>
        <queriedFields>Enquiries_PSA_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_template_for_booking_creation_email</name>
        <label>Get template for booking creation email</label>
        <locationX>384</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_BOOKING_CREATED_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>bookingCreatedTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Check_booking_is_set</startElementReference>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingCreatedTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
