force-app/main/default/flows/Booking_Journey_Update_Contact_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_Partner_Contact</name>
        <label>Update Partner Contact</label>
        <locationX>1762</locationX>
        <locationY>57</locationY>
        <actionName>BookingJourneyHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>partnerContactRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>1964</locationX>
        <locationY>948</locationY>
        <actionName>BookingJourneyHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>PrimaryContactRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignChangedValues</name>
        <label>AssignChangedValues</label>
        <locationX>1972</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_prim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChangedValues1</name>
        <label>AssignChangedValues</label>
        <locationX>1039</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_prim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_primary_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_primary_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postalcode_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_primary_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>homePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPreferredPhoneNone1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChangedValues_0</name>
        <label>AssignChangedValues</label>
        <locationX>1812</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_prim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_primary_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_primary_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postalcode_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_primary_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>homePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChangedValues_2</name>
        <label>AssignChangedValues</label>
        <locationX>180</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_prim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_primary_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_primary_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postalcode_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_primary_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>homePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPartnerContactValues</name>
        <label>AssignPartnerContactValues</label>
        <locationX>1602</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>partnerContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNamePartner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lNamePartner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerContactRecord.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalutationPartner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHowHeard</name>
        <label>SetHowHeard</label>
        <locationX>1593</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Heard_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignChangedValues_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHowHeard1</name>
        <label>SetHowHeard</label>
        <locationX>835</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Heard_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHowHeard_2</name>
        <label>SetHowHeard</label>
        <locationX>358</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>bookingRecord.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Heard_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignChangedValues_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreferredPhone</name>
        <label>SetPreferredPhone</label>
        <locationX>1416</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Phone_Primary_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HowHeardNone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreferredPhone_0</name>
        <label>SetPreferredPhone</label>
        <locationX>1290</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Phone_Primary_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HowHeardNone1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreferredPhone_2</name>
        <label>SetPreferredPhone</label>
        <locationX>357</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactRecord.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Phone_Primary_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HowHeardNone_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Home</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile</name>
        <choiceText>Mobile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </choices>
    <choices>
        <name>none</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AreCouplesAllowed</name>
        <label>AreCouplesAllowed?</label>
        <locationX>1190</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CouplesAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>courseRecord.Couples_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPartnerContact</targetReference>
            </connector>
            <label>CouplesAllowed</label>
        </rules>
        <rules>
            <name>CouplesNotAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>courseRecord.Couples_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Details_No_Couple</targetReference>
            </connector>
            <label>CouplesNotAllowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>HowHeardNone</name>
        <label>HowHeardNone?</label>
        <locationX>1587</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HowHeardIsNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignChangedValues_0</targetReference>
            </connector>
            <label>HowHeardIsNone</label>
        </rules>
        <rules>
            <name>HowHeardNotNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHowHeard</targetReference>
            </connector>
            <label>HowHeardNotNone</label>
        </rules>
    </decisions>
    <decisions>
        <name>HowHeardNone1</name>
        <label>HowHeardNone?</label>
        <locationX>1034</locationX>
        <locationY>881</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HowHeardIsNone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Validation</targetReference>
            </connector>
            <label>HowHeardIsNone</label>
        </rules>
        <rules>
            <name>HowHeardNotNone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHowHeard1</targetReference>
            </connector>
            <label>HowHeardNotNone</label>
        </rules>
    </decisions>
    <decisions>
        <name>HowHeardNone_0</name>
        <label>HowHeardNone?</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HowHeardIsNone_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignChangedValues_2</targetReference>
            </connector>
            <label>HowHeardIsNone</label>
        </rules>
        <rules>
            <name>HowHeardNotNone_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Heard_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHowHeard_2</targetReference>
            </connector>
            <label>HowHeardNotNone</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreferredPhoneNone</name>
        <label>IsPreferredPhoneNone?</label>
        <locationX>1198</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreferredPhoneNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowHeardNone</targetReference>
            </connector>
            <label>PreferredPhoneNone</label>
        </rules>
        <rules>
            <name>PreferredPhoneChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreferredPhone</targetReference>
            </connector>
            <label>PreferredPhoneChosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreferredPhoneNone1</name>
        <label>IsPreferredPhoneNone?</label>
        <locationX>1031</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreferredPhoneNone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowHeardNone1</targetReference>
            </connector>
            <label>PreferredPhoneNone</label>
        </rules>
        <rules>
            <name>PreferredPhoneChosen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreferredPhone_0</targetReference>
            </connector>
            <label>PreferredPhoneChosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreferredPhoneNone_0</name>
        <label>IsPreferredPhoneNone?</label>
        <locationX>353</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreferredPhoneNone_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowHeardNone_0</targetReference>
            </connector>
            <label>PreferredPhoneNone</label>
        </rules>
        <rules>
            <name>PreferredPhoneChosen_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Phone_Primary_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreferredPhone_2</targetReference>
            </connector>
            <label>PreferredPhoneChosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Validation</name>
        <label>Phone Validation</label>
        <locationX>827</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HomeNotEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactRecord.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Home</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>homePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomeIssue</targetReference>
            </connector>
            <label>HomeNotEntered</label>
        </rules>
        <rules>
            <name>MobileNotEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactRecord.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mobile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MobileIssue</targetReference>
            </connector>
            <label>MobileNotEntered</label>
        </rules>
        <rules>
            <name>HomePhoneEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactRecord.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Home</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>homePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact</targetReference>
            </connector>
            <label>HomePhoneEntered</label>
        </rules>
        <rules>
            <name>MobilePhoneEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactRecord.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mobile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact</targetReference>
            </connector>
            <label>MobilePhoneEntered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Booking_How_Heard</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_Heard__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Preferrred_Phone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__PreferredPhone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Preferred_Phone_Record_Set</name>
        <dataType>String</dataType>
        <displayField>npe01__PreferredPhone__c</displayField>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>bookingRecord.How_Heard__c</assignToReference>
            <field>npe01__PreferredPhone__c</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>MobileRequiered</name>
        <dataType>Boolean</dataType>
        <expression>{!Preferred_Phone_Primary} = {!Home}</expression>
    </formulas>
    <interviewLabel>Booking Journey Update Contact Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Journey Update Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBookingData</name>
        <label>GetBookingData</label>
        <locationX>936</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPrimaryContactData</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>bookingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Birth_Or_Due_Date__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>How_Heard__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCourseData</name>
        <label>GetCourseData</label>
        <locationX>1198</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingRecord.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>courseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Couples_Allowed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPartnerContact</name>
        <label>GetPartnerContact</label>
        <locationX>1458</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingRecord.Partner_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>partnerContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryContactData</name>
        <label>GetPrimaryContactData</label>
        <locationX>1064</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCourseData</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingRecord.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>PrimaryContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>npe01__PreferredPhone__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>1968</locationX>
        <locationY>1113</locationY>
        <inputReference>bookingRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Client_Details</name>
        <label>Client Details</label>
        <locationX>1458</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPartnerContactValues</targetReference>
        </connector>
        <fields>
            <name>Full_Name_Primary</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>PrimaryContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>PrimaryContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>PrimaryContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_Primary</name>
            <fieldText>&lt;p&gt;Birth/Due date&lt;/p&gt;&lt;p&gt;{!bookingRecord.Birth_Or_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Primary</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email_prim</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Preferred_Phone_Default</name>
            <fieldText>&lt;p&gt;Preferred phone&lt;/p&gt;&lt;p&gt;{!PrimaryContactRecord.npe01__PreferredPhone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To change this value please use the drop-down below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Phone_Primary</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Home</choiceReferences>
            <choiceReferences>Mobile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Primary</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Home_Phone_Primary</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.HomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>homePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Street_primary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_primary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postalcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_primary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Patrner</name>
            <fieldText>&lt;p&gt;Who will be coming on the course with you?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>partnerContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Partner Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>partnerContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>partnerContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fNamePartner</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lNamePartner</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>How_Heard</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Booking_How_Heard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Client_Details_No_Couple</name>
        <label>Client Details(No couple)</label>
        <locationX>1039</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChangedValues1</targetReference>
        </connector>
        <fields>
            <name>Full_Name_Primary_0</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>PrimaryContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>PrimaryContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>PrimaryContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_Primary_0</name>
            <fieldText>&lt;p&gt;Birth/Due date&lt;/p&gt;&lt;p&gt;{!bookingRecord.Birth_Or_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Primary_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email_prim</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Preferred_Phone_Default_0</name>
            <fieldText>&lt;p&gt;Preferred phone&lt;/p&gt;&lt;p&gt;{!PrimaryContactRecord.npe01__PreferredPhone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To change this value please use the drop-down below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Phone_Primary_0</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Home</choiceReferences>
            <choiceReferences>Mobile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Primary_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Home_Phone_Primary_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.HomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>homePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Street_primary_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_primary_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Province_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postalcode_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_primary_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_Heard_0</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Booking_How_Heard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HomeIssue</name>
        <label>Home Issue</label>
        <locationX>555</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsPreferredPhoneNone_0</targetReference>
        </connector>
        <fields>
            <name>Full_Name_Primary_2</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>PrimaryContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>PrimaryContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>PrimaryContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_Primary_0_0_0</name>
            <fieldText>&lt;p&gt;Birth/Due date&lt;/p&gt;&lt;p&gt;{!bookingRecord.Birth_Or_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Primary_2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email_prim</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Preferred_Phone_Default_0_0_0</name>
            <fieldText>&lt;p&gt;Preferred phone&lt;/p&gt;&lt;p&gt;{!PrimaryContactRecord.npe01__PreferredPhone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To change this value please use the drop-down below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Phone_Primary_2</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Home</choiceReferences>
            <choiceReferences>Mobile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Primary_2</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HomeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You&#39;ve selected home phone as preferred phone. Please enter the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_Phone_Primary_2</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.HomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>homePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Street_primary_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_primary_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Province_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postalcode_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_primary_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_Heard_Default_1</name>
            <fieldText>&lt;p&gt;How did you hear about us?&lt;/p&gt;&lt;p&gt;{!bookingRecord.How_Heard__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;To change this value please use the drop-down below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Heard_2</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Booking_How_Heard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MobileIssue</name>
        <label>MobileIssue</label>
        <locationX>834</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsPreferredPhoneNone</targetReference>
        </connector>
        <fields>
            <name>Full_Name_Primary_0_0</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>PrimaryContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>PrimaryContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>PrimaryContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_Primary_0_0</name>
            <fieldText>&lt;p&gt;Birth/Due date&lt;/p&gt;&lt;p&gt;{!bookingRecord.Birth_Or_Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Primary_1</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email_prim</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Preferred_Phone_Default_1</name>
            <fieldText>&lt;p&gt;Preferred phone&lt;/p&gt;&lt;p&gt;{!PrimaryContactRecord.npe01__PreferredPhone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To change this value please use the drop-down below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Phone_Primary_1</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Home</choiceReferences>
            <choiceReferences>Mobile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MobileError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You&#39;ve selected mobile phone as preferred phone. Please enter the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mobile_Phone_Primary_1</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Home_Phone_Primary_1</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PrimaryContactRecord.HomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>homePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Street_primary_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_primary_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Province_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingState</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postalcode_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_primary_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryContactRecord.MailingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_Heard_Default</name>
            <fieldText>&lt;p&gt;How did you hear about us?&lt;/p&gt;&lt;p&gt;{!bookingRecord.How_Heard__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;To change this value please use the drop-down below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Heard_1</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>Booking_How_Heard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>AreCouplesAllowed</startElementReference>
    <status>Active</status>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>county</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>email_prim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fNamePartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>homePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lNamePartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobileRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>partnerContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>postalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryContactTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalutationPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
