force-app/main/default/flows/Booking_Journey_Success_and_Confirmed_Pages_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Booking Journey Success  and Confirmed Pages Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Journey Success  and Confirmed Pages Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Main_Practitioner</name>
        <label>Get Main Practitioner</label>
        <locationX>906</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sessions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCourse.Main_Practitioner__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitionerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sessions</name>
        <label>Get Sessions</label>
        <locationX>1050</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmed_Booking_Screen</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCourse.Id</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>sessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Start__c</queriedFields>
        <queriedFields>End__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Additional_Information__c</queriedFields>
        <queriedFields>Location_Id__c</queriedFields>
        <queriedFields>Location_Town__c</queriedFields>
        <queriedFields>Location_County__c</queriedFields>
        <queriedFields>Location_Postcode__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Location_Home_Information__c</queriedFields>
        <queriedFields>Location_Street__c</queriedFields>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Confirmed_Booking_Screen</name>
        <label>Confirmed Booking Screen</label>
        <locationX>1202</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmed_Booking_Header</name>
            <fieldText>&lt;h3&gt;&lt;span style=&quot;font-size: 26px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Congratulations&lt;/span&gt;&lt;/h3&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;span style=&quot;font-size: 28px; color: rgb(0, 136, 106);&quot;&gt;Your booking is complete&lt;/span&gt;&lt;span style=&quot;font-size: 22px; color: rgb(0, 136, 106);&quot;&gt; &lt;/span&gt;&lt;/h3&gt;&lt;h3&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for your payment&lt;/span&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Reference</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Your booking reference number is {!curBooking.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; We&#39;ve sent your course and payment details to {!curBooking.Primary_Contact_Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Summary</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Course summary&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Course_Number</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(0, 136, 106);&quot;&gt;{!curCourse.Title__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Booking reference: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curBooking.PSA_Office__c} / {!curBooking.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Course reference: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curCourse.PSA_Area__c} / {!curCourse.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Course_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 136, 106);&quot;&gt;Starts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!curCourse.Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 136, 106);&quot;&gt;Ends&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!curCourse.End_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 136, 106); font-size: 18px;&quot;&gt;Course leader&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!practitionerRecord.FirstName} {!practitionerRecord.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Location_Component</name>
            <extensionName>c:locations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessions</name>
                <value>
                    <elementReference>sessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStatusConfirmed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmed_Booking_Session_Component</name>
            <extensionName>c:sessions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessions</name>
                <value>
                    <elementReference>sessions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>line_break</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Booking_Other_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Other information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!curCourse.Additional_Confirmation_Information__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>curCourse.Additional_Confirmation_Information__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>750</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Main_Practitioner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>curCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>practitionerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
