force-app/main/default/flows/Checking_NCT_Number_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Partner_Contact</name>
        <label>Add Partner Contact</label>
        <locationX>217</locationX>
        <locationY>547</locationY>
        <actionName>CareAddContactHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Number_For_Partner_Contact_Valid</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Booking.Partner_Contact__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>messageType</assignToReference>
            <name>messageType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>messageText</assignToReference>
            <name>messageText</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Primary_Contact_Params</name>
        <label>Primary Contact Params</label>
        <locationX>1115</locationX>
        <locationY>291</locationY>
        <actionName>CareAddContactHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Number_for_Parent_Contact_Valid</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>messageText</assignToReference>
            <name>messageText</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>messageType</assignToReference>
            <name>messageType</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Parent_To_Contact_List</name>
        <label>Add Parent To Contact List</label>
        <locationX>906</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Contact_NCT_Number_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Contact_And_Number</name>
        <label>Add Partner Contact And Number</label>
        <locationX>82</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerContact.NCT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Partner_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Contact</name>
        <label>Add Primary Contact</label>
        <locationX>1058</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Contact_NCT_Number_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Contact_And_Number</name>
        <label>Add Primary Contact And Number</label>
        <locationX>1060</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContact.NCT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_To_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_NCT_Number_to_Contact_0_0</name>
        <label>Add Primary Contact To List Contact</label>
        <locationX>265</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Contact_NCT_Number_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Partner_Contact_List</name>
        <label>Add To Partner Contact List</label>
        <locationX>82</locationX>
        <locationY>1112</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contact_List_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPartnerContact</name>
        <label>Add Partner Contact</label>
        <locationX>215</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ADD_CONTACT_IS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error!</stringValue>
        </value>
    </constants>
    <constants>
        <name>ADD_CONTACT_IS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Contact_List_Empty</name>
        <label>Is Contact List Empty</label>
        <locationX>546</locationX>
        <locationY>1113</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_List</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_for_Parent_Contact_Valid</name>
        <label>Is Number for Parent Contact Valid</label>
        <locationX>1508</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Add_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Number Is False</defaultConnectorLabel>
        <rules>
            <name>Number_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ADD_CONTACT_IS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Contact_And_Number</targetReference>
            </connector>
            <label>Number Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_For_Partner_Contact_Valid</name>
        <label>Is Number For Partner Contact Valid</label>
        <locationX>210</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>AddPartnerContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Number Is False</defaultConnectorLabel>
        <rules>
            <name>Number_Is_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ADD_CONTACT_IS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Contact_And_Number</targetReference>
            </connector>
            <label>Number Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Contact_NCT_Number_null</name>
        <label>Partner Contact NCT Number null</label>
        <locationX>546</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Is_Contact_List_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner  is not include</defaultConnectorLabel>
        <rules>
            <name>Partner_is_Include_and_No_NCT_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.NCT_Number_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Membership_With_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Contact</targetReference>
            </connector>
            <label>Partner is Include and No NCT Number</label>
        </rules>
        <rules>
            <name>Partner_is_Include_and_Yes_NCT_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.NCT_Number_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Membership_With_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddPartnerContact</targetReference>
            </connector>
            <label>Partner is Include and Yes NCT Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_NCT_Number_null</name>
        <label>Primary Contact NCT Number null</label>
        <locationX>558</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_NCT_null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.NCT_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Primary_Contact_Params</targetReference>
            </connector>
            <label>Primary NCT null Yes</label>
        </rules>
        <rules>
            <name>Primary_NCT_null_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.NCT_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_NCT_Number_to_Contact_0_0</targetReference>
            </connector>
            <label>Primary NCT null No</label>
        </rules>
    </decisions>
    <description>Will return List Contact with NCT Numbers for updating.
- If a contact has NCT number list will not populate.
- If error  so list will empty</description>
    <interviewLabel>Check NCT Number on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checking NCT Number on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>566</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_NCT_Number_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>NCT_Number__c</queriedFields>
        <queriedFields>NCT_Number_Partner__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>851</locationX>
        <locationY>112</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>306</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Membership_Options_Add_Partner_Label</name>
        <text>Would you like to add partner?</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Installment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>Membership_With_Partner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>messageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
