force-app/main/default/flows/Checking_NCT_Number_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Partner_Contact_For_Membership</name>
        <label>Add Partner Contact For Membership</label>
        <locationX>298</locationX>
        <locationY>509</locationY>
        <actionName>AddContactForMembershipHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Number_For_Partner_Contact_Valid</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Booking_Record.Partner_Contact__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Nct_Number</assignToReference>
            <name>nctNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Nct_Number_Error</assignToReference>
            <name>error</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Primary_Contact_For_Membership</name>
        <label>Add Primary Contact For Membership</label>
        <locationX>861</locationX>
        <locationY>295</locationY>
        <actionName>AddContactForMembershipHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Number_for_Parent_Contact_Valid</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Booking_Record.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Nct_Number</assignToReference>
            <name>nctNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Nct_Number_Error</assignToReference>
            <name>error</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_Nct_Number</name>
        <label>Update Contact Nct Number</label>
        <locationX>644</locationX>
        <locationY>949</locationY>
        <actionName>BookingFlowUpdateNctNumber</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>Contact_List</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Parent_To_Contact_List</name>
        <label>Add Parent To Contact List</label>
        <locationX>803</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Contact_NCT_Number_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Contact_And_Number</name>
        <label>Add Partner Contact And Number</label>
        <locationX>300</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>PartnerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerContact.NCT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nct_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Partner_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Contact_And_Number</name>
        <label>Add Primary Contact And Number</label>
        <locationX>1062</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Booking_Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContact.NCT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nct_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_To_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Partner_Contact_List</name>
        <label>Add To Partner Contact List</label>
        <locationX>489</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Nct_Number</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ADD_CONTACT_IS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error!</stringValue>
        </value>
    </constants>
    <constants>
        <name>ADD_CONTACT_IS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Number_for_Parent_Contact_Valid</name>
        <label>Is Number for Parent Contact Valid</label>
        <locationX>1055</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Number Is False</defaultConnectorLabel>
        <rules>
            <name>Number_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nct_Number</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Contact_And_Number</targetReference>
            </connector>
            <label>Number Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_For_Partner_Contact_Valid</name>
        <label>Is Number For Partner Contact Valid</label>
        <locationX>290</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Number Is False</defaultConnectorLabel>
        <rules>
            <name>Number_Is_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nct_Number</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Contact_And_Number</targetReference>
            </connector>
            <label>Number Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Contact_NCT_Number_null</name>
        <label>Partner Contact NCT Number null</label>
        <locationX>551</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Nct_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner  is not include</defaultConnectorLabel>
        <rules>
            <name>Partner_is_Include_and_No_NCT_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record.NCT_Number_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Membership_With_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner_Contact_For_Membership</targetReference>
            </connector>
            <label>Partner is Include and No NCT Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_NCT_Number_null</name>
        <label>Primary Contact NCT Number null</label>
        <locationX>543</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Partner_Contact_NCT_Number_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_NCT_null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record.NCT_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Contact_For_Membership</targetReference>
            </connector>
            <label>Primary NCT null Yes</label>
        </rules>
        <rules>
            <name>Primary_NCT_null_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record.NCT_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <label>Primary NCT null No</label>
        </rules>
    </decisions>
    <description>Will return List Contact with NCT Numbers for updating.
- If a contact has NCT number list will not populate.
- If error  so list will empty</description>
    <interviewLabel>Check NCT Number on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checking NCT Number on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>259</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Primary_Contact_NCT_Number_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Membership_Options_Add_Partner_Label</name>
        <text>Would you like to add partner?</text>
    </textTemplates>
    <variables>
        <name>Booking_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Membership_With_Partner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Nct_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nct_Number_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
