force-app/main/default/flows/Claim_Practitioner_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Created_Line_Items_To_Collection</name>
        <label>Assign Line Items To Collection</label>
        <locationX>1129</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>puchaseLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlePurchaseInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Line_Item</name>
        <label>Assign Single Line Item</label>
        <locationX>944</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Practitioner_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Purchase_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchaseInvoiceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Total_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Practitioner_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Nominal_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a4K4E0000005JT4UAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Course__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePurchaseInvoiceLineItem.Zumzum__Total_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Practitioner_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Created_Line_Items_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Checked_Sessions</name>
        <label>Assign Checked Sessions</label>
        <locationX>808</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>sessionsToClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>claimFees.checkedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPurchaseInvoice</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>lastThreeMonths</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 1, DATE(YEAR(TODAY()) - 1, 12, 01),DATE(YEAR(TODAY()), MONTH(TODAY()) - 3, 01))</expression>
    </formulas>
    <interviewLabel>Claim Practitioner Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Practitioner Fees</label>
    <loops>
        <name>Loop_Selected_Sessions</name>
        <label>Loop Selected Sessions</label>
        <locationX>744</locationX>
        <locationY>484</locationY>
        <assignNextValueToReference>tempCurrentSession</assignNextValueToReference>
        <collectionReference>sessionsToClaim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Purchase_Invoice_LineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Purchase_Invoice_LineItems</name>
        <label>Create Purchase Invoice LineItems</label>
        <locationX>927</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <inputReference>puchaseLineItemsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createPurchaseInvoice</name>
        <label>Create Purchase Invoice</label>
        <locationX>435</locationX>
        <locationY>345</locationY>
        <assignRecordIdToReference>PurchaseInvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Selected_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>Zumzum__Account__c</field>
            <value>
                <elementReference>currentUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Invoice_Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Type__c</field>
            <value>
                <stringValue>Purchase Invoice</stringValue>
            </value>
        </inputAssignments>
        <object>Zumzum__Purchase_Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountAndContactId</name>
        <label>Get Account And Contact</label>
        <locationX>261</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSessions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>currentUserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentUserContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSessions</name>
        <label>getSessions</label>
        <locationX>431</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Fees_Datatable</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>lastThreeMonths</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Line_Items_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>listSessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start__c</queriedFields>
        <queriedFields>End__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Practitioner_Fees__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Claim_Fees_Datatable</name>
        <label>Claim Fees Datatable</label>
        <locationX>560</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Show_Total_Fees</targetReference>
        </connector>
        <fields>
            <name>helpText</name>
            <fieldText>&lt;p&gt;Please select the fees from the table below you wish to claim. You may select specific sessions or select all available sessions for payment. When you then proceed these will be converted into a payment, and queued for the next available payment run.&lt;/p&gt;&lt;p&gt;Sessions available for claim from {!lastThreeMonths} to {!$Flow.CurrentDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>claimFees</name>
            <extensionName>c:claimFeesDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessions</name>
                <value>
                    <elementReference>listSessions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>1106</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Invoice is submitted successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Total_Fees</name>
        <label>Show Total Fees</label>
        <locationX>701</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assing_Checked_Sessions</targetReference>
        </connector>
        <fields>
            <name>totalFeeScreen</name>
            <fieldText>&lt;p&gt;Total Fee: £ {!claimFees.totalFee}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getAccountAndContactId</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0034E00000xANds</stringValue>
        </value>
    </variables>
    <variables>
        <name>createdLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>puchaseLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PurchaseInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sessionsToClaim</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>singlePurchaseInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>supplierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0014E000015WQZy</stringValue>
        </value>
    </variables>
    <variables>
        <name>tempCurrentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>tempLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
