force-app/main/default/flows/Claim_Practitioner_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Purchase_Invoice</name>
        <label>Create Purchase Invoice</label>
        <locationX>499</locationX>
        <locationY>275</locationY>
        <actionName>ClaimFeeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <inputParameters>
            <name>sessions</name>
            <value>
                <elementReference>sessionsToClaim</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>claimFees.registrationFee</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assing_Checked_Sessions</name>
        <label>Assign Checked Sessions</label>
        <locationX>828</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>sessionsToClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>claimFees.checkedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Purchase_Invoice</targetReference>
        </connector>
    </assignments>
    <description></description>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>lastPILIname</name>
        <dataType>String</dataType>
        <expression>&#39;PILIUID-&#39; + TEXT(VALUE(RIGHT({!lastPILInumber.Name}, 10)) + 1)</expression>
    </formulas>
    <formulas>
        <name>lastPInumber</name>
        <dataType>String</dataType>
        <expression>&#39;0&#39; + IF(ISNUMBER( TEXT(VALUE({!lastPIname}) + 1)), TEXT(VALUE({!lastPIname}) + 1), &#39;3000&#39;)</expression>
    </formulas>
    <formulas>
        <name>lastThreeMonths</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 1, DATE(YEAR(TODAY()) - 1, 12, 01),DATE(YEAR(TODAY()), MONTH(TODAY()) - 3, 01))</expression>
    </formulas>
    <formulas>
        <name>nominalAccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Financial_Settings__c.PI_Nominal_Account_Id__c}</expression>
    </formulas>
    <formulas>
        <name>registrationCappedFees</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Financial_Settings__c.Practitioner_Registration_Capped_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>registrationFeeRate</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Financial_Settings__c.Practitioner_Registration_Fees_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Claim Practitioner Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Practitioner Fees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Practitioner</name>
        <label>Get Practitioner</label>
        <locationX>335</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitionerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deducted_Practitioner_Fees__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>465</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Fees_Datatable</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>lastThreeMonths</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner_Fees_to_Claim__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>listSessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Practitioner_Fees__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountAndContactId</name>
        <label>Get Account And Contact</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Practitioner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>currentUserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentUserContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Claim_Fees_Datatable</name>
        <label>Claim Fees Datatable</label>
        <locationX>579</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Show_Total_Fees</targetReference>
        </connector>
        <fields>
            <name>helpText</name>
            <fieldText>&lt;p&gt;The table below shows all sessions that are available to claim from the last 3 months. Please ensure you are checking back regularly to claim your completed sessions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>claimFees</name>
            <extensionName>c:claimFeesDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessions</name>
                <value>
                    <elementReference>listSessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>practitioner</name>
                <value>
                    <elementReference>practitionerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taxRate</name>
                <value>
                    <elementReference>registrationFeeRate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationCappedFees</name>
                <value>
                    <elementReference>registrationCappedFees</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>1048</locationX>
        <locationY>283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Invoice is submitted successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deduct_IE</name>
        <label>Deduct IE</label>
        <locationX>74</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountAndContactId</targetReference>
        </connector>
        <fields>
            <name>Check_Browser_Compatibility</name>
            <extensionName>c:checkBrowserCompatibility</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Total_Fees</name>
        <label>Show Total Fees</label>
        <locationX>703</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assing_Checked_Sessions</targetReference>
        </connector>
        <fields>
            <name>totalFeeScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgba(var(--sk_primary_foreground,29,28,29),1);&quot;&gt;The total value of fees included in this claim are:&lt;/span&gt; £{!claimFees.totalFee}&lt;/p&gt;&lt;p&gt;The total value of registration fees included in this claim are: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;£{!claimFees.registrationFee}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>74</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Deduct_IE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastPILInumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lastPIname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>practitionerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>puchaseLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PurchaseInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sessionsToClaim</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>singlePurchaseInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>tempCurrentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>tempLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>