force-app/main/default/flows/Claim_Practitioner_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Purchase_Invoice</name>
        <label>Create Purchase Invoice</label>
        <locationX>1385</locationX>
        <locationY>57</locationY>
        <actionName>ClaimFeeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <inputParameters>
            <name>sessions</name>
            <value>
                <elementReference>sessionsToClaim</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registrationFee</name>
            <value>
                <elementReference>claimFees.registrationFee</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Virtual_Support_Sessions</name>
        <label>Add Virtual Support Sessions</label>
        <locationX>938</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>listSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempCurrentSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Virtual_Support_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session_Course_Sub_Type</name>
        <label>Assign Session Course Sub Type</label>
        <locationX>1131</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>tempCurrentSession.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempCurrentSession.Course__r.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_List_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Checked_Sessions</name>
        <label>Assign Checked Sessions</label>
        <locationX>1293</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>sessionsToClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>claimFees.checkedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Purchase_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Payment_Run_In_Progress</name>
        <label>Check If Payment Run In Progress</label>
        <locationX>355</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>getAccountAndContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Runs_In_Progress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Run_Processing</targetReference>
            </connector>
            <label>In Progress Yes</label>
        </rules>
    </decisions>
    <description>This flow allows the practitioner to claim fees for completed sessions.
Version changes:
Added course sub type assigment</description>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>lastPILIname</name>
        <dataType>String</dataType>
        <expression>&apos;PILIUID-&apos; + TEXT(VALUE(RIGHT({!lastPILInumber.Name}, 10)) + 1)</expression>
    </formulas>
    <formulas>
        <name>lastPInumber</name>
        <dataType>String</dataType>
        <expression>&apos;0&apos; + IF(ISNUMBER( TEXT(VALUE({!lastPIname}) + 1)), TEXT(VALUE({!lastPIname}) + 1), &apos;3000&apos;)</expression>
    </formulas>
    <formulas>
        <name>lastSixMonths</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 180</expression>
    </formulas>
    <formulas>
        <name>lastThreeMonths</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>nominalAccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Financial_Settings__c.PI_Nominal_Account_Id__c}</expression>
    </formulas>
    <formulas>
        <name>registrationCappedFees</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Financial_Settings__c.Practitioner_Registration_Capped_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>registrationFeeRate</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Financial_Settings__c.Practitioner_Registration_Fees_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Claim Practitioner Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Practitioner Fees</label>
    <loops>
        <name>Loop_List_Sessions</name>
        <label>Loop List Sessions</label>
        <locationX>983</locationX>
        <locationY>390</locationY>
        <assignNextValueToReference>tempCurrentSession</assignNextValueToReference>
        <collectionReference>listSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Session_Course_Sub_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Claim_Fees_Datatable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Virtual_Support_Sessions</name>
        <label>Loop Virtual Support Sessions</label>
        <locationX>835</locationX>
        <locationY>226</locationY>
        <assignNextValueToReference>tempCurrentSession</assignNextValueToReference>
        <collectionReference>listVirtualSupportSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Virtual_Support_Sessions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_List_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_Runs_In_Progress</name>
        <label>Get Payment Runs In Progress</label>
        <locationX>229</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Payment_Run_In_Progress</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Run__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practitioner</name>
        <label>Get Practitioner</label>
        <locationX>597</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitionerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deducted_Practitioner_Fees__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>672</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Virtual_Support_Session</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>lastThreeMonths</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Virtual Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner_Fees_to_Claim__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>listSessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Practitioner_Fees__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>PSA_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Virtual_Support_Session</name>
        <label>Get Virtual Support Session</label>
        <locationX>740</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Virtual_Support_Sessions</targetReference>
        </connector>
        <filters>
            <field>Course_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>lastSixMonths</elementReference>
            </value>
        </filters>
        <filters>
            <field>Course_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner_Fees_to_Claim__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Practitioner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserContactId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>listVirtualSupportSessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Practitioner_Fees__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>PSA_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountAndContactId</name>
        <label>Get Account And Contact</label>
        <locationX>521</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Practitioner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>currentUserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentUserContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Claim_Fees_Datatable</name>
        <label>Claim Fees Datatable</label>
        <locationX>1111</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Show_Total_Fees</targetReference>
        </connector>
        <fields>
            <name>helpText</name>
            <fieldText>&lt;p&gt;The list below includes the fees for all sessions which took place in the past three months which have not yet been claimed. Please check back regularly to claim fees for any further completed sessions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>claimFees</name>
            <extensionName>c:claimFeesDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessions</name>
                <value>
                    <elementReference>listSessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>practitioner</name>
                <value>
                    <elementReference>practitionerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationCappedFees</name>
                <value>
                    <elementReference>registrationCappedFees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationFeeRate</name>
                <value>
                    <elementReference>registrationFeeRate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>1457</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Invoice is submitted successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Run_Processing</name>
        <label>Payment Run Processing</label>
        <locationX>402</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PaymentRunProcessingMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;A payment run is currently being processed, so &lt;/span&gt;no claims can be submitted. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Total_Fees</name>
        <label>Show Total Fees</label>
        <locationX>1203</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assing_Checked_Sessions</targetReference>
        </connector>
        <fields>
            <name>totalFeeScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgba(var(--sk_primary_foreground,29,28,29),1);&quot;&gt;The total value of fees included in this claim are:&lt;/span&gt; £{!claimFees.totalFee}&lt;/p&gt;&lt;p&gt;The total value of registration fees that will be deducted from this claim is: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;£{!claimFees.registrationFee}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_Payment_Runs_In_Progress</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastPILInumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lastPIname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>listVirtualSupportSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>practitionerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>puchaseLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PurchaseInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sessionsToClaim</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>singlePurchaseInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>tempCurrentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>tempLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
