force-app/main/default/flows/Contact_SetIndividualId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Individual_Id</name>
        <label>Assign Individual Id</label>
        <locationX>387</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Contact.IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contact_SetIndividualId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact_SetIndividualId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>216</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>IndividualId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Individual_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Contact.Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>575</locationX>
        <locationY>50</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <startElementReference>Create_Individual</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
