force-app/main/default/flows/Create_Gift_Aid_Declaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Collect_GAD</name>
        <label>Collect GAD</label>
        <locationX>724</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>GiftAidDeclarationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentGAD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GiftAidDeclarationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerGAD</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>GAD_for_Parent</name>
        <label>GAD for Parent</label>
        <locationX>605</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_GAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GAD_for_Partner</name>
        <label>GAD for Partner</label>
        <locationX>597</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GAD_for_Parent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Decline_Gift_Aid_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Decline Gift Aid&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Declaration_Choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Individual_Declaration_Description_Template}&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Joint_Declaration_Choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Join_Declaration_Description_Template}&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>GAD_ACQUISITION_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </constants>
    <constants>
        <name>GAD_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GiftAid</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Declaration</name>
        <label>Check Declaration</label>
        <locationX>442</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Decline Gift Aid</defaultConnectorLabel>
        <rules>
            <name>Individual_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Individual_Declaration_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAD_for_Parent</targetReference>
            </connector>
            <label>Individual GAD</label>
        </rules>
        <rules>
            <name>Joint_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Joint_Declaration_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAD_for_Partner</targetReference>
            </connector>
            <label>Joint GAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner</name>
        <label>Check Partner</label>
        <locationX>182</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Gift_Aid_Screen_With_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Partner</defaultConnectorLabel>
        <rules>
            <name>Without_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Aid_Screen_Without_Partner</targetReference>
            </connector>
            <label>Without Partner</label>
        </rules>
    </decisions>
    <interviewLabel>Create Gift Aid Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Gift Aid Declaration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>62</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>63</locationX>
        <locationY>371</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gift_Aid_Screen_With_Partner</name>
        <label>Gift Aid Screen With Partner</label>
        <locationX>307</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Declaration</targetReference>
        </connector>
        <fields>
            <name>Gift_Aid_Header_With_Partner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 26px; color: rgb(62, 62, 60);&quot;&gt; NCT Membership subscriptions qualify for Gift Aid&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>gift_aid_logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>gift_aid_logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>float:right;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>20rem;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gift_Aid_Description_With_Partner</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(130, 192, 64); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;Please tick the Gift Aid declaration if applicable and click on Next.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;Ticking the optional Gift Aid box means NCT can get the most of your membership donation at no extra cost to you.&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;This means that for every £1 you give, we will receive an extra 25p&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;&amp;nbsp;from HM Revenue and Customs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;Your Gift Aid declaration:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;I understand that if I pay less Income Tax and/or Capital Gains tax than the amount of Gift Aid claimed on all my donations in that tax year, it is my responsibility to pay any difference.&amp;nbsp;Please let us know if you want to cancel this declaration, nominate a different start date for this declaration, change your home address or no longer pay sufficient tax by contacting our enquiries team on&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:enquiries@nct.org.uk&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;&lt;u&gt;enquiries@nct.org.uk&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gift_Aid_Chose_With_Partner</name>
            <choiceReferences>Individual_Declaration_Choice</choiceReferences>
            <choiceReferences>Joint_Declaration_Choice</choiceReferences>
            <choiceReferences>Decline_Gift_Aid_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Decline_Gift_Aid_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gift_Aid_Screen_Without_Partner</name>
        <label>Gift Aid Screen Without Partner</label>
        <locationX>307</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Declaration</targetReference>
        </connector>
        <fields>
            <name>Gift_Aid_Header_Without_Partner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 26px; color: rgb(62, 62, 60);&quot;&gt; NCT Membership subscriptions qualify for Gift Aid&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>gift_aid</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>gift_aid_logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>float:right;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>20rem;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gift_Aid_Description_Without_Partner</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px; color: rgb(130, 192, 64);&quot;&gt;Please tick the Gift Aid declaration if applicable and click on Next.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Ticking the optional Gift Aid box means NCT can get the most of your membership donation at no extra cost to you.&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;This means that for every £1 you give, we will receive an extra 25p&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;from HM Revenue and Customs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Your Gift Aid declaration:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;I understand that if I pay less Income Tax and/or Capital Gains tax than the amount of Gift Aid claimed on all my donations in that tax year, it is my responsibility to pay any difference.&amp;nbsp;Please let us know if you want to cancel this declaration, nominate a different start date for this declaration, change your home address or no longer pay sufficient tax by contacting our enquiries team on&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:enquiries@nct.org.uk&quot; target=&quot;_blank&quot; style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;enquiries@nct.org.uk&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gift_Aid_Chose_Without_Partner</name>
            <choiceReferences>Individual_Declaration_Choice</choiceReferences>
            <choiceReferences>Decline_Gift_Aid_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Decline_Gift_Aid_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Individual_Declaration_Description_Template</name>
        <text>I am a UK taxpayer.  Please treat all donations and subscriptions I make or have made to NCT for the past 4 years as Gift Aid donations until further notice.</text>
    </textTemplates>
    <textTemplates>
        <name>Join_Declaration_Description_Template</name>
        <text>​We are both UK taxpayers and I confirm I am signing on both individuals behalf. Please treat all donations and subscriptions we make or have made to NCT for the past 4 years as Gift Aid donations until further notice.</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>GiftAidDeclarationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>ParentGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>PartnerGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
</Flow>
