force-app/main/default/flows/Create_Gift_Aid_Declaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigned_Partner</name>
        <label>Assigned Partner</label>
        <locationX>379</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>Is_With_Partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Aid_Screen_With_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_GAD</name>
        <label>Collect GAD</label>
        <locationX>982</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>GiftAidDeclarationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentGAD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GiftAidDeclarationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerGAD</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>GAD_for_Parent</name>
        <label>GAD for Parent</label>
        <locationX>794</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_GAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GAD_for_Partner</name>
        <label>GAD for Partner</label>
        <locationX>798</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Acquisition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GAD_ACQUISITION_METHOD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Date_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Postalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingRecord.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerGAD.gaid__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GAD_for_Parent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Decline_Gift_Aid_Choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Decline Gift Aid&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Declaration_Choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Individual_Declaration_Description_Template}&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SINGLE</elementReference>
        </value>
    </choices>
    <choices>
        <name>Joint_Declaration_Choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Join_Declaration_Description_Template}&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>JOINT</elementReference>
        </value>
    </choices>
    <constants>
        <name>GAD_ACQUISITION_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </constants>
    <constants>
        <name>GAD_METHOD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GiftAid</stringValue>
        </value>
    </constants>
    <constants>
        <name>JOINT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>joint</stringValue>
        </value>
    </constants>
    <constants>
        <name>SINGLE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>single</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Declaration</name>
        <label>Check Declaration</label>
        <locationX>690</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Decline Gift Aid</defaultConnectorLabel>
        <rules>
            <name>Individual_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Aid_Chose_With_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SINGLE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAD_for_Parent</targetReference>
            </connector>
            <label>Individual GAD</label>
        </rules>
        <rules>
            <name>Joint_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Aid_Chose_With_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JOINT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAD_for_Partner</targetReference>
            </connector>
            <label>Joint GAD</label>
        </rules>
        <rules>
            <name>Single_with_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Aid_Chose_Without_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SINGLE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAD_for_Parent</targetReference>
            </connector>
            <label>Single without Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner</name>
        <label>Check Partner</label>
        <locationX>203</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Gift_Aid_Screen_With_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Partner</defaultConnectorLabel>
        <rules>
            <name>Without_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRecord.Partner_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Membership_Options_Add_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Partner</targetReference>
            </connector>
            <label>With Partner</label>
        </rules>
        <rules>
            <name>Partner_is_True_and_Membership_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRecord.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Gift_Aid_Screen_With_Partner</targetReference>
            </connector>
            <label>Partner is True and Membership is false</label>
        </rules>
    </decisions>
    <interviewLabel>Create Gift Aid Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Gift Aid Declaration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>50</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>BookingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Gift_Aid_Screen_With_Partner</name>
        <label>Gift Aid Screen With Partner</label>
        <locationX>550</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Declaration</targetReference>
        </connector>
        <fields>
            <name>Gift_Aid_Header_With_Partner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 28px; background-color: rgb(255, 255, 255);&quot;&gt;NCT Membership subscriptions qualify for Gift Aid&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gift_Aid_Logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>gift_aid_logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>20rem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>float:right;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Gift_Aid_Description_With_Partner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 135, 106); font-size: 16px;&quot;&gt;Please tick the Gift Aid declaration if applicable and click on Next.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;Ticking the optional Gift Aid box means NCT can get the most of your membership donation at no extra cost to you.&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;This means that for every £1 you give, we will receive an extra 25p&lt;/b&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-family: &amp;quot;Helvetica Neue&amp;quot;; font-size: 16px;&quot;&gt;&amp;nbsp;from HM Revenue and Customs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;Your Gift Aid declaration:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;I understand that if I pay less Income Tax and/or Capital Gains tax than the amount of Gift Aid claimed on all my donations in that tax year, it is my responsibility to pay any difference.&amp;nbsp;Please let us know if you want to cancel this declaration, nominate a different start date for this declaration, change your home address or no longer pay sufficient tax by contacting our enquiries team on&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:enquiries@nct.org.uk&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 135, 106); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;&lt;u&gt;enquiries@nct.org.uk&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px; font-family: &amp;quot;Helvetica Neue&amp;quot;;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gift_Aid_Chose_With_Partner</name>
            <choiceReferences>Individual_Declaration_Choice</choiceReferences>
            <choiceReferences>Joint_Declaration_Choice</choiceReferences>
            <choiceReferences>Decline_Gift_Aid_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Decline_Gift_Aid_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_With_Partner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gift_Aid_Chose_Without_Partner</name>
            <choiceReferences>Individual_Declaration_Choice</choiceReferences>
            <choiceReferences>Decline_Gift_Aid_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Decline_Gift_Aid_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_With_Partner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Individual_Declaration_Description_Template</name>
        <text>&lt;span style=&quot;font-size: 14px;&quot;&gt;I am a UK taxpayer.  Please treat all donations and subscriptions I make or have made to NCT for the past 4 years as Gift Aid donations until further notice.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Join_Declaration_Description_Template</name>
        <text>&lt;span style=&quot;font-size: 14px;&quot;&gt;​We are both UK taxpayers and I confirm I am signing on both individuals behalf. Please treat all donations and subscriptions we make or have made to NCT for the past 4 years as Gift Aid donations until further notice.&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>GiftAidDeclarationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>Is_With_Partner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Membership_Options_Add_Partner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>PartnerGAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
</Flow>
