force-app/main/default/flows/Dimensions_update_on_PILI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_dimensions_to_PILI</name>
        <label>Set dimensions to PILI</label>
        <locationX>551</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>invoiceLineItem.Zumzum__Dimension_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dimension1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceLineItem.Zumzum__Dimension_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dimension2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PILI</targetReference>
        </connector>
    </assignments>
    <description>Links dimensions searching by Course values
Version changes:
Querying only active dimensions</description>
    <interviewLabel>Dimensions update on PILI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dimensions update on PILI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_dimension_1</name>
        <label>Get dimension 1</label>
        <locationX>232</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_dimension_2</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceLineItem.Course__r.PSA_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 1</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>dimension1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_dimension_2</name>
        <label>Get dimension 2</label>
        <locationX>359</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_dimensions_to_PILI</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceLineItem.Course__r.Sub_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 2</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>dimension2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PILI</name>
        <label>Update PILI</label>
        <locationX>710</locationX>
        <locationY>50</locationY>
        <inputReference>invoiceLineItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_dimension_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dimension1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>dimension2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>invoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
