force-app/main/default/flows/Dimensions_update_on_PILI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_dimensions_values_from_course</name>
        <label>Assign dimensions values from course</label>
        <locationX>400</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>dimension1value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceLineItem.Course__r.PSA_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dimension2value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceLineItem.Course__r.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_dimension_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_dimensions_values_from_session</name>
        <label>Assign dimensions values from session</label>
        <locationX>400</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>dimension1value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceLineItem.Session__r.Course__r.PSA_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dimension2value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceLineItem.Session__r.Course__r.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_dimension_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_dimensions_to_PILI</name>
        <label>Set dimensions to PILI</label>
        <locationX>930</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>invoiceLineItem.Zumzum__Dimension_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dimension1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceLineItem.Zumzum__Dimension_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dimension2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PILI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_value_to_find_dimension_exist</name>
        <label>Is value to find dimension exist?</label>
        <locationX>131</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_course_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceLineItem.Course__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_dimensions_values_from_course</targetReference>
            </connector>
            <label>Check course not blank</label>
        </rules>
        <rules>
            <name>Check_session_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceLineItem.Session__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_dimensions_values_from_session</targetReference>
            </connector>
            <label>Check session not blank</label>
        </rules>
    </decisions>
    <description>Links dimensions searching by Course values
Version changes:
If course is blank then getting values from session</description>
    <interviewLabel>Dimensions update on PILI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dimensions update on PILI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_dimension_1</name>
        <label>Get dimension 1</label>
        <locationX>611</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_dimension_2</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dimension1value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 1</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>dimension1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_dimension_2</name>
        <label>Get dimension 2</label>
        <locationX>738</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_dimensions_to_PILI</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dimension2value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 2</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>dimension2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PILI</name>
        <label>Update PILI</label>
        <locationX>1089</locationX>
        <locationY>149</locationY>
        <inputReference>invoiceLineItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_value_to_find_dimension_exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dimension1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>dimension1value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dimension2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>dimension2value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Purchase_Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
