force-app/main/default/flows/Generate_Encrypted_Validation_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Encrypt</name>
        <label>Encrypt</label>
        <locationX>661</locationX>
        <locationY>115</locationY>
        <actionName>GenerateEncryptedValidationCodeHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Encrypted_Validation_Code_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>dataToEncrypt</name>
            <value>
                <elementReference>DataToEncrypt</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EncryptedValidationCode</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Encrypted_Validation_Code</name>
        <label>Assign Encrypted Validation Code</label>
        <locationX>1025</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>$Record.Encrypted_Validation_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Encrypted_Validation_Code_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Encrypted_Validation_Code_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List</name>
        <label>Assign To List</label>
        <locationX>510</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>DataToEncrypt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextToEncrypt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encrypt</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TextToEncrypt</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos;,&apos; + {!$Record.Validation_Code__c}</expression>
    </formulas>
    <interviewLabel>Generate Validation Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Encrypted Validation Code</label>
    <loops>
        <name>Assign_Encrypted_Validation_Code_Loop</name>
        <label>Assign Encrypted Validation Code Loop</label>
        <locationX>799</locationX>
        <locationY>42</locationY>
        <collectionReference>EncryptedValidationCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Encrypted_Validation_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Encrypted_Validation_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Encrypted_Validation_Code</name>
        <label>Update Encrypted Validation Code</label>
        <locationX>905</locationX>
        <locationY>271</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_To_List</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DataToEncrypt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncryptedValidationCode</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
