force-app/main/default/flows/Membership_Option.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Credit_Card_to_Installment</name>
        <label>Add Credit Card to Installment</label>
        <locationX>618</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Direct_Debit_to_Installment</name>
        <label>Add Direct Debit to Installment</label>
        <locationX>1208</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Care Membership</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Membership_Type_and_Amount_to_Installment_1</name>
        <label>Add Membership Type and Amount to Installment_1</label>
        <locationX>608</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Membership_Options_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.gaid__Gift_Aidable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AMOUNT_48</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Membership_Type_and_Amount_to_Installment_2</name>
        <label>Add Membership Type and Amount to Installment_2</label>
        <locationX>1192</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Membership_Options_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.gaid__Gift_Aidable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AMOUNT_57</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Adde_Course_Payment_By_Credit_Card</name>
        <label>Adde Course Payment By Credit Card</label>
        <locationX>1199</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.gaid__Gift_Aidable_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Membership_Result_Assignment</name>
        <label>Membership Result  Assignment</label>
        <locationX>674</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>Membership_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Membership_Options_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Membership_With_Partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Membership_Options_Add_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Options_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_True</name>
        <label>Set True</label>
        <locationX>264</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>WithPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Membership_Option_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DD_48_Every_12_Month</name>
        <choiceText>&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Standard 1-year Direct Debit option - £12 a quarter - £48&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD_48_12</stringValue>
        </value>
    </choices>
    <choices>
        <name>DD_57_Every_18_Month</name>
        <choiceText>&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Value 18-month Direct Debit option - £9.50 a quarter - £57&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD_57_18</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit_and_Credit_Card_Course</name>
        <choiceText>{!Credit_Card_Icon}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit_and_Credit_Card_Membership</name>
        <choiceText>{!Credit_Card_Icon}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Debit_Membership</name>
        <choiceText>{!Debit_Credit_Icon}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_12</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Membership_12_Template}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MEMBERSHIP_TYPE_A</elementReference>
        </value>
    </choices>
    <choices>
        <name>Membership_18</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Membership_18_Template}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MEMBERSHIP_TYPE_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>Membership_One_off_Payment_48</name>
        <choiceText>&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Standard 1-year single payment option - £48&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership_CC_48</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_One_off_Payment_57</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Value 18-month single payment option - £57&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership_CC_57</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_Options_Joint</name>
        <choiceText>&lt;span style=&quot;font-size: 16px; color: rgb(2, 2, 2);&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Membership_Options_Single</name>
        <choiceText>&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;No&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Membership</name>
        <choiceText>&lt;b style=&quot;font-size: 16px; color: rgb(33, 37, 41);&quot;&gt;Continue without membership&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WITHOUT_MEMBERSHIP</elementReference>
        </value>
    </choices>
    <constants>
        <name>AMOUNT_48</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>48.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>AMOUNT_57</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>57.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Credit_Card_Icon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;/resource/1571346494000/Credit_Card_Icon&#39;/&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Debit_Credit_Icon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;/resource/1571348572000/Direct_Debit_Icon&#39;/&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Line_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;/resource/line&#39;/&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>MEMBERSHIP_TYPE_A</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </constants>
    <constants>
        <name>MEMBERSHIP_TYPE_E</name>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </constants>
    <constants>
        <name>WITHOUT_MEMBERSHIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Amount_Value</name>
        <label>Amount Value</label>
        <locationX>862</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>Without Membership</defaultConnectorLabel>
        <rules>
            <name>Is_Type_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Options_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MEMBERSHIP_TYPE_E</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Membership_Type_and_Amount_to_Installment_2</targetReference>
            </connector>
            <label>Is Type E</label>
        </rules>
        <rules>
            <name>Is_Type_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Options_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MEMBERSHIP_TYPE_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Membership_Type_and_Amount_to_Installment_1</targetReference>
            </connector>
            <label>Is Type A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method</name>
        <label>Payment Method</label>
        <locationX>865</locationX>
        <locationY>436</locationY>
        <defaultConnectorLabel>Without Membership</defaultConnectorLabel>
        <rules>
            <name>Membership_by_Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Payment_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Payment_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Credit_Card_to_Installment</targetReference>
            </connector>
            <label>Membership by Credit Card</label>
        </rules>
        <rules>
            <name>Membership_by_Direct_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Payment_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Payment_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Direct_Debit_to_Installment</targetReference>
            </connector>
            <label>Membership by Direct Debit</label>
        </rules>
        <rules>
            <name>Pay_Only_for_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Payment_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Membership_Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WITHOUT_MEMBERSHIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adde_Course_Payment_By_Credit_Card</targetReference>
            </connector>
            <label>Pay Only for Course</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Partner</name>
        <label>With Partner</label>
        <locationX>257</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Set_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Partner</defaultConnectorLabel>
        <rules>
            <name>Without_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.Partner_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Membership_Option_Screen</targetReference>
            </connector>
            <label>Without Partner</label>
        </rules>
    </decisions>
    <formulas>
        <name>Get_Amount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking.Fee_Override__c} &gt; 0, {!Get_Booking.Fee_Override__c}, {!Get_Booking.Course_Fee__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Membership Singup and Option {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Signup and Option</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>147</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>With_Partner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>NCT_Number__c</queriedFields>
        <queriedFields>NCT_Number_Partner__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Course_Fee__c</queriedFields>
        <queriedFields>Fee_Override__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Membership_Option_Screen</name>
        <label>Membership Option Screen</label>
        <locationX>490</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Membership_Result_Assignment</targetReference>
        </connector>
        <fields>
            <name>Membership_Option_Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 28px;&quot;&gt;Hi {!Get_Booking.First_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 20px;&quot;&gt;We&#39;re currently running a great offer on our membership&lt;/span&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 18px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Line_Image}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 135, 106); font-size: 28px;&quot;&gt;Join us - and each other&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px;&quot;&gt;Being the UK’s largest charity for parents also means we’re the UK’s largest community of new parents.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px;&quot;&gt;By becoming NCT members, thousands of parents have formed lifelong friendships and support networks. Through us, they’ve shared experiences, excitement and inspiration during some of the most amazing times of their lives – and beyond.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px;&quot;&gt;Your membership donation will support our work in your community, and in local communities across the UK&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Line_Image}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 28px; color: rgb(0, 135, 106);&quot;&gt;Membership options&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Membership_Options_Value</name>
            <choiceReferences>Membership_18</choiceReferences>
            <choiceReferences>Membership_12</choiceReferences>
            <choiceReferences>No_Membership</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Added_partner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 135, 106);&quot;&gt;﻿Your membership covers up to two people at the same address at no extra cost.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-size: 16px;&quot;&gt;Would you like to add your partner ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WithPartner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>WITHOUT_MEMBERSHIP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Membership_Options_Add_Partner</name>
            <choiceReferences>Membership_Options_Joint</choiceReferences>
            <choiceReferences>Membership_Options_Single</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WithPartner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>WITHOUT_MEMBERSHIP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Options_Screen</name>
        <label>Payment Options Screen</label>
        <locationX>874</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Method</targetReference>
        </connector>
        <fields>
            <name>Pay_For_Courses</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px; color: rgb(33, 37, 41);&quot;&gt;Payment options&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41);&quot;&gt;{!Line_Image}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 135, 106); font-size: 20px;&quot;&gt;How would you like to pay for your course?﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_Payment_Options</name>
            <choiceReferences>Debit_and_Credit_Card_Course</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pay Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pay_For_Membership</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); background-color: rgb(255, 255, 255);&quot;&gt;{!Line_Image}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 135, 106); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 135, 106); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;How would you like to pay for your NCT membership?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>WITHOUT_MEMBERSHIP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Membership_Payment_Options</name>
            <choiceReferences>Debit_and_Credit_Card_Membership</choiceReferences>
            <choiceReferences>Direct_Debit_Membership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pay Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>WITHOUT_MEMBERSHIP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>One_off_payment_57</name>
            <choiceReferences>Membership_One_off_Payment_57</choiceReferences>
            <dataType>String</dataType>
            <fieldText>One-off payment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>E</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>One_off_payment_48</name>
            <choiceReferences>Membership_One_off_Payment_48</choiceReferences>
            <dataType>String</dataType>
            <fieldText>One-off payment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>A</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Direct_debit_payment_57</name>
            <choiceReferences>DD_57_Every_18_Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direct debit payment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>E</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DD</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Direct_debit_payment_48</name>
            <choiceReferences>DD_48_Every_12_Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direct debit payment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Options_Value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>A</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Membership_Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DD</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>8</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Membership_12_Template</name>
        <text>&lt;b style=&quot;font-size: 16px;&quot;&gt;12 &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: #212529; background-color: rgb(255, 255, 255);&quot;&gt;month membership&lt;/b&gt; &lt;p style=&quot;margin-left:24px;&quot;&gt;12 months money off baby supplies, holidays and services when you help us continue being the leading charity for pregnancy and young families. &lt;b style=&quot;color:#212529;&quot;&gt;£48&lt;/b&gt;&amp;nbsp;(or £12 per quarter)&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Membership_18_Template</name>
        <text>&lt;b style=&quot;font-size: 16px; color:#212529;&quot;&gt;18 month memberships&lt;/b&gt;&lt;p style=&quot;margin-left:24px;&quot;&gt;18 months money off baby supplies, holidays and services when you help us continue being the leading charity for pregnancy and young families. &lt;b style=&quot;color:#212529;&quot;&gt;£57&lt;/b&gt;&amp;nbsp;(or £9.50 per quarter)&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Membership_Options_Add_Partner_Label</name>
        <text>Would you like to add partner?</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Course_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Installment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>Membership_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Membership_With_Partner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WithPartner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
