force-app/main/default/flows/Payment_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Payment_Profile_Id</name>
        <label>Add Payment Profile Id</label>
        <locationX>1036</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentProfileRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Add_Banks_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Sum</name>
        <label>Calculate of sum(Course Fee + Membership Fee)</label>
        <locationX>812</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Installment_Object</name>
        <label>Change Installment Object</label>
        <locationX>1309</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Installment_for_Course</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Payment_Method_to_Credit_Card</name>
        <label>Change Payment Method to Credit Card</label>
        <locationX>1545</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>Installment_Object.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_Of_Payment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CC_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>CC_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>DD_48_Every_12_Month</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Standard 1-year Direct Debit option - £12 a quarter - £48&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD_48_12</stringValue>
        </value>
    </choices>
    <choices>
        <name>DD_57_Every_18_Month</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Value 18-month Direct Debit option - £9.50 a quarter - £57&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD_57_18</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit_and_Credit_Card_Course</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Debit/Credit Card&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit_and_Credit_Card_Membership</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Debit/Credit Card&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Debit_Course</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Direct Debit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Debit_Membership</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Direct Debit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncludePartnerNo</name>
        <choiceText>Individual membership just for you</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>partnerNo</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncludePartnerYes</name>
        <choiceText>Joint membership for you and your partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>partnerYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_One_off_Payment_48</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Standard 1-year single payment option - £48&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership_CC_48</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_One_off_Payment_57</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Value 18-month single payment option - £57&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership_CC_57</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Add_Banks_True</name>
        <label>Is Add Banks True</label>
        <locationX>1544</locationX>
        <locationY>967</locationY>
        <defaultConnector>
            <targetReference>Direct_Debit_Not_Available_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is False</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MembershipResultType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Installment_for_Membership</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_List_Empty</name>
        <label>Is Contact List Empty</label>
        <locationX>520</locationX>
        <locationY>1388</locationY>
        <defaultConnector>
            <targetReference>Is_Membership_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_List</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gift_Aid_Declaration_List_True</name>
        <label>Is Gift Aid Declaration List True</label>
        <locationX>1763</locationX>
        <locationY>1445</locationY>
        <defaultConnector>
            <targetReference>Payment_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GAD Is False</defaultConnectorLabel>
        <rules>
            <name>Update_Contacts_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GiftAidDeclarationList</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Gift_Aid_Declaration</targetReference>
            </connector>
            <label>GAD Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Added</name>
        <label>Is Membership Added</label>
        <locationX>520</locationX>
        <locationY>1641</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_Item_for_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Membership is True</defaultConnectorLabel>
        <rules>
            <name>Membership_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Object.gaid__Gift_Aidable_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Item_for_Course</targetReference>
            </connector>
            <label>Membership is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Added_0</name>
        <label>Is Membership Added</label>
        <locationX>1405</locationX>
        <locationY>1651</locationY>
        <defaultConnector>
            <targetReference>Is_Gift_Aid_Declaration_List_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Membership is True</defaultConnectorLabel>
        <rules>
            <name>Membership_is_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Object.gaid__Gift_Aidable_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Payment_Details_Screen</targetReference>
            </connector>
            <label>Membership is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>NCT_Number_is_Null</name>
        <label>NCT Number is Null</label>
        <locationX>1030</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_NCT_Number_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact.NCT_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Direct_Debit_Not_Available_Screen</targetReference>
            </connector>
            <label>Parent NCT Number is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Link_Result</name>
        <label>Payment Link Result</label>
        <locationX>512</locationX>
        <locationY>1138</locationY>
        <defaultConnector>
            <targetReference>Pyment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Link is False</defaultConnectorLabel>
        <rules>
            <name>Payment_Link_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentUrl</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Contact_List_Empty</targetReference>
            </connector>
            <label>Payment Link is True</label>
        </rules>
    </decisions>
    <decisions>
        <description>=== Without Membership ===
CC = Credit Card for Course

=== With Membership ===
CC and DD = Credit Card for Course and Direct Debit for Membership;
CC and CC = Credit Card for Course and Credit Card for Membership;</description>
        <name>Type_Of_Payment</name>
        <label>Type Of Payment</label>
        <locationX>519</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Payment_Only_For_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Object.gaid__Gift_Aidable_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Installment_Object.cpm__Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreditCard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sales_Invoice</targetReference>
            </connector>
            <label>Payment Only For Course</label>
        </rules>
        <rules>
            <name>Payment_CC_and_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Object.gaid__Gift_Aidable_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Installment_Object.cpm__Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreditCard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sum</targetReference>
            </connector>
            <label>Payment CC and CC</label>
        </rules>
        <rules>
            <name>Payment_CC_and_DD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Object.gaid__Gift_Aidable_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Installment_Object.cpm__Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>Payment CC and DD</label>
        </rules>
    </decisions>
    <description>Beta v2</description>
    <formulas>
        <name>Total_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!Installment_Object.cpm__Amount__c} + {!Installment_Object.gaid__Gift_Aidable_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Gift_Aid_Declaration</name>
        <label>Create Gift Aid Declaration</label>
        <locationX>2029</locationX>
        <locationY>1618</locationY>
        <connector>
            <targetReference>Payment_Details_Screen</targetReference>
        </connector>
        <inputReference>GiftAidDeclarationList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Installment_for_Course</name>
        <label>Create Installment for Course</label>
        <locationX>1073</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Get_Payment_Link</targetReference>
        </connector>
        <inputReference>Installment_Object</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Installment_for_Membership</name>
        <label>Create Installment for Membership</label>
        <locationX>1555</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Change_Installment_Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank_Details_Number__c</field>
            <value>
                <elementReference>MembershipResultText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>Installment_Object.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Amount__c</field>
            <value>
                <elementReference>Installment_Object.gaid__Gift_Aidable_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>Installment_Object.cpm__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <stringValue>Care Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>cpm__Installment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Item_for_Course</name>
        <label>Create Invoice Item for Course</label>
        <locationX>1139</locationX>
        <locationY>1533</locationY>
        <connector>
            <targetReference>Is_Membership_Added_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Zumzum__Amount__c</field>
            <value>
                <elementReference>Installment_Object.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Quantity__c</field>
            <value>
                <elementReference>Installment_Object.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Sales_Invoice__c</field>
            <value>
                <elementReference>Installment_Object.Sales_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Zumzum__Sales_Invoice_Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Item_for_Membership</name>
        <label>Create Invoice Item for Membership</label>
        <locationX>1139</locationX>
        <locationY>1768</locationY>
        <connector>
            <targetReference>Create_Invoice_Item_for_Course</targetReference>
        </connector>
        <inputAssignments>
            <field>Zumzum__Amount__c</field>
            <value>
                <elementReference>Installment_Object.gaid__Gift_Aidable_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Quantity__c</field>
            <value>
                <elementReference>Installment_Object.gaid__Gift_Aidable_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zumzum__Sales_Invoice__c</field>
            <value>
                <elementReference>Installment_Object.Sales_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Zumzum__Sales_Invoice_Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Invoice</name>
        <label>Create Sales Invoice</label>
        <locationX>519</locationX>
        <locationY>772</locationY>
        <assignRecordIdToReference>Installment_Object.Sales_Invoice__c</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Payment_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </inputAssignments>
        <object>Zumzum__Sales_Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Profile</name>
        <label>Get Payment Profile</label>
        <locationX>1036</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Payment_Profile_Id</targetReference>
        </connector>
        <filters>
            <field>cpm__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cpm__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment_Object.cpm__Contact__c</elementReference>
            </value>
        </filters>
        <object>cpm__Payment_Profile__c</object>
        <outputReference>PaymentProfileRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>1038</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NCT_Number_is_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment_Object.cpm__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NCT_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Direct_Debit_Not_Available_Screen</name>
        <label>Direct Debit Not Available Screen</label>
        <locationX>1545</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Payment_Method_to_Credit_Card</targetReference>
        </connector>
        <fields>
            <name>DD_Payment_Is_Not_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Sorry, at the moment payment for membership by Direct Debit is not available. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Card_Decision</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Would you like to pay for membership by Credit Card ?&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Card_Decision_Option</name>
            <choiceReferences>CC_Yes</choiceReferences>
            <choiceReferences>CC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Details_Screen</name>
        <label>Payment Details Screen</label>
        <locationX>1774</locationX>
        <locationY>1871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Details_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Pay by credit/debit card&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;To pay by credit or debit card using the secure Worldpay system, please select &#39;Proceed to payment&#39;. You&#39;ll be redirected to the Worldpay site to complete your payment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We don&#39;t see or store any of your debit or credit card information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please note: Credit cards levy higher charges on us than debit cards. We&#39;d be grateful to you for supporting our charity by using a debit card if possible.&lt;/span&gt;&lt;/p&gt;&lt;h4&gt;&lt;br&gt;&lt;/h4&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Total_Amount_Template}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Link_Component</name>
            <extensionName>c:linkToPaymentComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentLink</name>
                <value>
                    <elementReference>paymentUrl</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pyment_Error</name>
        <label>Pyment Error</label>
        <locationX>253</locationX>
        <locationY>1141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!paymentError}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>526</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Type_Of_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Payment_Link</name>
        <label>Get Payment Link</label>
        <locationX>520</locationX>
        <locationY>944</locationY>
        <connector>
            <targetReference>Payment_Link_Result</targetReference>
        </connector>
        <flowName>Get_Payment_Link</flowName>
        <inputAssignments>
            <name>Installment_Object</name>
            <value>
                <elementReference>Installment_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bookingId</name>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>installmentId</assignToReference>
            <name>installmentId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paymentError</assignToReference>
            <name>paymentError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paymentUrl</assignToReference>
            <name>paymentUrl</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Total_Amount_Template</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Total amount due:&lt;/span&gt;&amp;emsp;&amp;emsp;&amp;emsp;&amp;emsp;&lt;span style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;£&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!Installment_Object.cpm__Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareMembershipInstallment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GiftAidDeclarationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>Installment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>installmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipResultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipResultType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>paymentError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentProfileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Payment_Profile__c</objectType>
    </variables>
    <variables>
        <name>paymentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SalesInvoceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
