force-app/main/default/flows/Recalculate_CAD_Total_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CAD_Recalculate_Practitioner_Fees</name>
        <label>CAD - Recalculate Practitioner Fees</label>
        <locationX>702</locationX>
        <locationY>50</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Course_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>currentCAD.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>CourseAssignmentTotalFeesAmount</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>CAD - Recalculate Total Practitioner Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalculate CAD Total Fees</label>
    <loops>
        <name>Loop_Through_Course_Assignments</name>
        <label>Loop Through Course Assignments</label>
        <locationX>456</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>currentCAD</assignNextValueToReference>
        <collectionReference>CADsToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAD_Recalculate_Practitioner_Fees</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CAD_records</name>
        <label>Get CAD records</label>
        <locationX>233</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Course_Assignments</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>course.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_Sessions__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Course_Assignment__c</object>
        <outputReference>CADsToProcess</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_CAD_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CADsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Assignment__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>currentCAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Course_Assignment__c</objectType>
    </variables>
</Flow>
