force-app/main/default/flows/Reconcile_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Reconcile</name>
        <label>Create Reconcile</label>
        <locationX>712</locationX>
        <locationY>719</locationY>
        <actionName>ReconcilePaymentsBatch</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>batchReceiptReportId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Batch_Receipt_Report_Status</name>
        <label>Assign Batch Receipt Report Status</label>
        <locationX>712</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>batchReceiptReport.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch_Receipt_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Reconciled</name>
        <label>Is Reconciled</label>
        <locationX>542</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Reconcile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Reconciled</defaultConnectorLabel>
        <rules>
            <name>Reconciled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>batchReceiptReport.BankReconcile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Reconciled_Screen</targetReference>
            </connector>
            <label>Reconciled</label>
        </rules>
    </decisions>
    <interviewLabel>Reconciliation C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reconcile Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Batch_Receipt_Report</name>
        <label>Get Batch Receipt Report</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reconciled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Batch_Receipt_Report__c</object>
        <outputReference>batchReceiptReport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BankReconcile__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch_Receipt_Report</name>
        <label>Update Batch Receipt Report</label>
        <locationX>712</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Create_Reconcile</targetReference>
        </connector>
        <inputReference>batchReceiptReport</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Reconciled_Screen</name>
        <label>Already Reconciled Screen</label>
        <locationX>398</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_Reconciled_Message</name>
            <fieldText>&lt;p&gt;Already Reconciled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reconcile_Screen</name>
        <label>Reconcile Screen</label>
        <locationX>712</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Batch_Receipt_Report_Status</targetReference>
        </connector>
        <fields>
            <name>Reconcile_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Press Next to Create Reconcile Records&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Batch_Receipt_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>batchReceiptReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Batch_Receipt_Report__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>