force-app/main/default/flows/Resend_Reunion_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_status</name>
        <label>Show status</label>
        <locationX>876</locationX>
        <locationY>584</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>subflow_status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>output_message</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Warn_null_input</name>
        <label>Warn null input</label>
        <locationX>56</locationX>
        <locationY>662</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error: empty input</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>MESSAGE_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list is empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was a problem during the process. Please try again later.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Successfully sent!</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_input_parameter</name>
        <label>Check input parameter</label>
        <locationX>152</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Get_Reunion_Session_by_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id is correct</defaultConnectorLabel>
        <rules>
            <name>Record_Id_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Warn_null_input</targetReference>
            </connector>
            <label>Record Id is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_reunion_session_exists</name>
        <label>Check reunion session exists</label>
        <locationX>309</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Warn_null_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Session_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Send_Email_Screen</targetReference>
            </connector>
            <label>Session exists?</label>
        </rules>
    </decisions>
    <interviewLabel>Resend Reunion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resend Reunion Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Reunion_Session_by_Course</name>
        <label>Get Reunion Session by Course</label>
        <locationX>317</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_reunion_session_exists</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reunion</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>session</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirm_Send_Email_Screen</name>
        <label>Confirm Send Email Screen</label>
        <locationX>468</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Execute_sending_emails</targetReference>
        </connector>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76); background-color: rgb(255, 255, 255);&quot;&gt;Click next to send email to &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(47, 47, 47); background-color: rgb(255, 255, 255);&quot;&gt;reunion session participants&lt;/b&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76); background-color: rgb(255, 255, 255);&quot;&gt;. If you don&#39;t want to to send email, just close the window without clicking next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Check_input_parameter</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Execute_sending_emails</name>
        <label>Execute sending emails</label>
        <locationX>670</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Show_status</targetReference>
        </connector>
        <flowName>Send_Email_On_Reunion_Session_Confirmed</flowName>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>output_message</assignToReference>
            <name>output_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflow_status</assignToReference>
            <name>subflow_status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Unknown result: </stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>unknown</stringValue>
        </value>
    </variables>
</Flow>
