force-app/main/default/flows/Resend_Offer_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Result_Sending_Email</name>
        <label>Result Sending Email</label>
        <locationX>831</locationX>
        <locationY>226</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TOAST_TYPE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>TOAST_MESSAGE</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_Email</name>
        <label>Send Email</label>
        <locationX>350</locationX>
        <locationY>208</locationY>
        <actionName>Booking__c.SendEmailToClient</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sending_successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sending_not_successful</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Sending_not_successful</name>
        <label>Sending not successful</label>
        <locationX>604</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>Toast_message1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email was not sent successfully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Toast_Type1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Sending_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sending_successful</name>
        <label>Sending  successful</label>
        <locationX>600</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>Toast_message1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email sent successfully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Toast_Type1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Sending_Email</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TOAST_MESSAGE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email sending was successful!</stringValue>
        </value>
    </constants>
    <constants>
        <name>TOAST_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <interviewLabel>Resend Offer Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resend Offer Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>833</locationX>
        <locationY>376</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>curBooking.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Booking confirmation email resent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>curBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record By Id</label>
        <locationX>178</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Send_Email_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>curBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirm_Send_Email_Screen</name>
        <label>Screen of  Confirm</label>
        <locationX>350</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sent_Email</targetReference>
        </connector>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76);&quot;&gt;Click next to send email to &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(47, 47, 47);&quot;&gt;{!curBooking.First_Name__c} {!curBooking.Last_Name__c}&lt;/b&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76);&quot;&gt;. If you don&#39;t want to to send email, just close the window without clicking next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Booking_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toast_message1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toast_Type1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
