force-app/main/default/flows/Resend_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Result_Sending_Email</name>
        <label>Result Sending Email</label>
        <locationX>672</locationX>
        <locationY>234</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TOAST_TYPE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>TOAST_MESSAGE</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>TOAST_MESSAGE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email sending was successful!</stringValue>
        </value>
    </constants>
    <constants>
        <name>TOAST_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>169</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Confirm_Send_Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status is Confirmed</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Email_Not_Availablr_Screen</targetReference>
            </connector>
            <label>Status is not Confirmed</label>
        </rules>
    </decisions>
    <interviewLabel>Resend Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resend Confirmation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>672</locationX>
        <locationY>389</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Email_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>curBooking.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirmation email resent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>curBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record By Id</label>
        <locationX>44</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>curBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Enquiries_PSA_First_Name__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>Email_Template_Utility_Field__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>52</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curBooking.Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Main_Practitioner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Send_Email_Screen</name>
        <label>Screen of  Confirm</label>
        <locationX>320</locationX>
        <locationY>381</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sent_Confirmation_Notification</targetReference>
        </connector>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76);&quot;&gt;Click next to send email to &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(47, 47, 47);&quot;&gt;{!curBooking.First_Name__c} {!curBooking.Last_Name__c}&lt;/b&gt;&lt;span style=&quot;font-size: 18px; color: rgb(76, 76, 76);&quot;&gt;. If you don&#39;t want to to send email, just close the window without clicking next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Comment</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sent_Email_Not_Availablr_Screen</name>
        <label>Screen Send Email Not Available</label>
        <locationX>318</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Can_Not_Sent_Email</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You can&#39;t send a resend confirmation email when the status of booking is not &quot;Confirmed&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sent_Confirmation_Notification</name>
        <label>Sent Confirmation Notification</label>
        <locationX>485</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Result_Sending_Email</targetReference>
        </connector>
        <flowName>BookingConfirmationNotificationSend</flowName>
        <inputAssignments>
            <name>bookingFirstName</name>
            <value>
                <elementReference>curBooking.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bookingId</name>
            <value>
                <elementReference>curBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bookingName</name>
            <value>
                <elementReference>curBooking.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bookingUtilityField</name>
            <value>
                <elementReference>curBooking.Email_Template_Utility_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>courseId</name>
            <value>
                <elementReference>curBooking.Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailAddress</name>
            <value>
                <elementReference>curBooking.Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enquiryName</name>
            <value>
                <elementReference>curBooking.Enquiries_PSA_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mainPractitionerId</name>
            <value>
                <elementReference>Get_Course.Main_Practitioner__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toast_message1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toast_Type1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
