force-app/main/default/flows/Reunion_Execute_Sending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Client</name>
        <label>Send to Client</label>
        <locationX>1694</locationX>
        <locationY>1130</locationY>
        <actionName>Booking__c.Reunion_Session_Confirmed_Not_A_Host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_client_host</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Host</name>
        <label>Send to Host</label>
        <locationX>1523</locationX>
        <locationY>1051</locationY>
        <actionName>Booking__c.Reunion_Session_Confirmed_Host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_client_host</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Practitioner</name>
        <label>Send to Practitioner</label>
        <locationX>989</locationX>
        <locationY>796</locationY>
        <actionName>Session__c.Reunion_Session_Confirmed_Practitioner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Public_Venue</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Public</name>
        <label>Send to Public</label>
        <locationX>1530</locationX>
        <locationY>428</locationY>
        <actionName>Booking__c.Reunion_Session_Confirmed_Public</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_clients_public_venue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_name_bookingList_for_output</name>
        <label>Assign name bookingList for output</label>
        <locationX>389</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_BOOKINGLIST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_practit_email_for_output</name>
        <label>Assign name practit email for output</label>
        <locationX>546</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_PRACTITIONER_EMAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_venue_for_output</name>
        <label>Assign name venue for output</label>
        <locationX>821</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_VENUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_subject_for_practitioner_email</name>
        <label>Build subject for practitioner email</label>
        <locationX>720</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>subject_practitioner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NCT course reunion confirmation - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subject_practitioner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>course.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Venue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_the_checkbox</name>
        <label>Clear the checkbox</label>
        <locationX>50</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>course.Reunion_Is_Ready_To_Send_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_with_checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Common_error_message</name>
        <label>Common error message</label>
        <locationX>2150</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Empty_list_message</name>
        <label>Empty list message</label>
        <locationX>2372</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_EMPTY</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Part_success_message</name>
        <label>Part success message</label>
        <locationX>2145</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_PART_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_error_on_email_alert</name>
        <label>Return error</label>
        <locationX>1693</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error_on_email_alert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_error_on_get_record</name>
        <label>Return error</label>
        <locationX>651</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error_on_get_record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_error_on_null_value</name>
        <label>Return error</label>
        <locationX>547</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value is empty: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAME_VENUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_success</name>
        <label>Return success</label>
        <locationX>1573</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_part_success_status</name>
        <label>Set part success status</label>
        <locationX>1027</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_PART_SUCCESS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_clients_public_venue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>2142</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unknown_status_message</name>
        <label>Unknown status message</label>
        <locationX>1955</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subflow_status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>MESSAGE_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list is empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was a problem during the process. Please try again later.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Some emails wasn&#39;t sent succesfully. Please check if recipients&#39; emails are set</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Successfully sent!</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_BOOKINGLIST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_PRACTITIONER_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner email</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_VENUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Venue</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>part_success</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>SUBJECT_DEFAULT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NCT Course Reunion Confirmation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Bookings_List_is_not_null</name>
        <label>Check Bookings List is not null</label>
        <locationX>380</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>Assign_name_bookingList_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bookings_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Practitioner_email_is_not_null</targetReference>
            </connector>
            <label>Bookings not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_input_booking</name>
        <label>Check input booking</label>
        <locationX>1295</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Is_not_part_success_already</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>booking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Public</targetReference>
            </connector>
            <label>Is not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_input_booking2</name>
        <label>Check input booking</label>
        <locationX>1236</locationX>
        <locationY>1275</locationY>
        <defaultConnector>
            <targetReference>Send_to_client_host</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Cancelled_host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>booking.Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_is_host</targetReference>
            </connector>
            <label>Is not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_host</name>
        <label>Check is host</label>
        <locationX>1515</locationX>
        <locationY>1278</locationY>
        <defaultConnector>
            <targetReference>Send_to_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue.Host__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>booking.Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Host</targetReference>
            </connector>
            <label>Is host?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_not_part_success</name>
        <label>Check not part success</label>
        <locationX>1302</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Decide_on_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_errors_during_iterations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_PART_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_success</targetReference>
            </connector>
            <label>Was no errors during iterations?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Practitioner_email_is_not_null</name>
        <label>Check Practitioner email is not null</label>
        <locationX>537</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Assign_name_practit_email_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practitioner_email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>practitioner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_subject_for_practitioner_email</targetReference>
            </connector>
            <label>Practitioner email is not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Session_Id</name>
        <label>Check Session Id</label>
        <locationX>239</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Get_practitioner_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_subflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_session</targetReference>
            </connector>
            <label>Is a subflow?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_venue_if_null</name>
        <label>Check venue if null</label>
        <locationX>835</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Send_to_Practitioner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Venue_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_name_venue_for_output</targetReference>
            </connector>
            <label>Venue is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_error_status</name>
        <label>Decide on error status</label>
        <locationX>2140</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Common_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_empty_list_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MESSAGE_EMPTY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_list_message</targetReference>
            </connector>
            <label>Is empty list error?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_status</name>
        <label>Decide on status</label>
        <locationX>1945</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Unknown_status_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_message</targetReference>
            </connector>
            <label>Is success?</label>
        </rules>
        <rules>
            <name>Is_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_on_error_status</targetReference>
            </connector>
            <label>Is Error?</label>
        </rules>
        <rules>
            <name>Is_part_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_PART_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_success_message</targetReference>
            </connector>
            <label>Is part success?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_not_part_success_already</name>
        <label>Is not part success already</label>
        <locationX>1317</locationX>
        <locationY>103</locationY>
        <defaultConnector>
            <targetReference>Send_to_clients_public_venue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Part_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_PART_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_part_success_status</targetReference>
            </connector>
            <label>Not part success?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Venue</name>
        <label>Is Public Venue</label>
        <locationX>1082</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Return_success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.IsPublicVenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_clients_public_venue</targetReference>
            </connector>
            <label>Public Venue</label>
        </rules>
        <rules>
            <name>Not_volunteer_venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_client_host</targetReference>
            </connector>
            <label>Not volunteer venue</label>
        </rules>
    </decisions>
    <formulas>
        <name>map_link_formula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!venue.Map_Url__c}, &#39;Click&#39;)</expression>
    </formulas>
    <formulas>
        <name>partner_name_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!booking.First_Name_Partner__c}), &#39;&#39;, &#39; and &#39;+{!booking.First_Name_Partner__c})</expression>
    </formulas>
    <formulas>
        <name>time_to_text_end</name>
        <dataType>String</dataType>
        <expression>{!session.End__c}</expression>
    </formulas>
    <formulas>
        <name>time_to_text_start</name>
        <dataType>String</dataType>
        <expression>{!session.Start__c}</expression>
    </formulas>
    <interviewLabel>Reunion Execute Sending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Flow</label>
    <loops>
        <name>Send_to_client_host</name>
        <label>Send to client host</label>
        <locationX>1090</locationX>
        <locationY>1051</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>BookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input_booking2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Send_to_clients_public_venue</name>
        <label>Send to clients public venue</label>
        <locationX>1088</locationX>
        <locationY>436</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>BookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input_booking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_not_part_success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_bookings</name>
        <label>Get bookings</label>
        <locationX>253</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Bookings_List_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>BookingList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>First_Name_Partner__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_branch_Account_by_Course</name>
        <label>Get branch Account by Course</label>
        <locationX>246</locationX>
        <locationY>774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>course.Branch__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>branch_account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capacity_PSA__c</queriedFields>
        <queriedFields>Capacity_PSA_Email__c</queriedFields>
        <queriedFields>Capacity_PSA_Phone__c</queriedFields>
        <queriedFields>Enquiries_PSA__c</queriedFields>
        <queriedFields>Enquiries_PSA_Email__c</queriedFields>
        <queriedFields>Enquiries_PSA_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>246</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_the_checkbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>course</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner_record</name>
        <label>Get practitioner record</label>
        <locationX>246</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitioner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_session</name>
        <label>Get session</label>
        <locationX>449</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_practitioner_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>session</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Practitioner__c</queriedFields>
        <queriedFields>Venue__c</queriedFields>
        <queriedFields>Day_of_Week__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Start__c</queriedFields>
        <queriedFields>End__c</queriedFields>
        <queriedFields>Capacity_PSA_Name__c</queriedFields>
        <queriedFields>Enquiries_PSA_Name__c</queriedFields>
        <queriedFields>IsPublicVenue__c</queriedFields>
        <queriedFields>Start_Text__c</queriedFields>
        <queriedFields>End_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Venue</name>
        <label>Get Venue</label>
        <locationX>720</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_venue_if_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Venue__c</elementReference>
            </value>
        </filters>
        <object>Venue__c</object>
        <outputReference>venue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Host__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Town__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Map_Link__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Map_Url__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_with_checkbox</name>
        <label>Update Course with checkbox</label>
        <locationX>50</locationX>
        <locationY>765</locationY>
        <connector>
            <targetReference>Get_branch_Account_by_Course</targetReference>
        </connector>
        <inputReference>course</inputReference>
    </recordUpdates>
    <startElementReference>Check_Session_Id</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>TEMPLATE_CLIENT_IN_PRIVATE_VENUE</name>
        <text>Booking reference: {!booking.Name}
Course reference: {!course.Name}


Dear {!booking.First_Name__c}{!partner_name_formula},

I&#39;m delighted to confirm the details for your {!course.Sub_Type__c} course reunion which will be held on {!session.Day_of_Week__c} {!session.Date__c} from {!session.Start_Text__c} to {!session.End_Text__c}.

We are very grateful to Mary and John Smith who have offered to host the session at their home:
{!venue.Town__c}, {!venue.Street_Address__c}

Click here to see this on a map
{!venue.Map_Url__c}


The reunion will be facilitated by {!practitioner.Name} who may be contacted on {!practitioner.Phone} or at {!practitioner.Email}. Should any changes be made to the reunion your course leader will be in touch with you directly nearer the time.

We have a range of Postnatal courses and workshops running in your area. For further details, please follow this link:
Find a postnatal course


Kind Regards,
{!session.Enquiries_PSA_Name__c}
Course organizer
Email: {!{!branch_account}.Enquiries_PSA_Email__c}
Tel: {!{!branch_account}.Enquiries_PSA_Phone__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TEMPLATE_HOST</name>
        <text>Booking Ref: {!booking.Name}


Dear {!booking.First_Name__c}{!partner_name_formula},

I&#39;m delighted to confirm the details for your {!course.Sub_Type__c} course reunion which will be held on {!session.Day_of_Week__c} {!session.Date__c} from {!session.Start_Text__c} to {!session.End_Text__c}.

Thank you for offering to host the session at your home:
{!venue.Town__c}, {!venue.Street_Address__c}

Click here to see this on a map
{!venue.Map_Url__c}


The reunion will be facilitated by {!practitioner.Name} who may be contacted on {!practitioner.Phone} or at {!practitioner.Email}. Should any changes be made to the reunion your NCT course leader will be in touch with you directly nearer the time.

We have a range of Postnatal courses and workshops running in your area. For further details, please follow this link:
Find a postnatal course


Kind regards,
{!session.Enquiries_PSA_Name__c}
Course organizer
Email: {!branch_account.Enquiries_PSA_Email__c}
Tel: {!branch_account.Enquiries_PSA_Phone__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TEMPLATE_PRACTITIONER</name>
        <text>Course reference: {!course.Name}


Dear {!practitioner.FirstName},

Thank you for agreeing to facilitate the {!course.Sub_Type__c} course reunion. All the confirmed clients on the course have now received a reunion confirmation email. They have been informed that the reunion will be held on {!session.Day_of_Week__c} {!session.Date__c} from {!session.Start_Text__c} to {!session.End_Text__c} at:

{!venue.Name}
{!venue.Town__c}, {!venue.Street_Address__c}

*Click here to see this on a map*
{!venue.Map_Url__c}


If you need to make any future change to the reunion please arrange this yourself directly with the clients and advise your Capacity PSA so that Parentforce can be updated.


Kind regards,
{!session.Capacity_PSA_Name__c}
Course organizer
Email: {!branch_account.Capacity_PSA_Email__c}
Tel: {!branch_account.Capacity_PSA_Phone__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TEMPLATE_PUBLIC</name>
        <text>Booking reference: {!booking.Name}
Course reference: {!course.Name}


Dear {!booking.First_Name__c}{!partner_name_formula},

I&#39;m delighted to confirm the details for your {!course.Sub_Type__c} course reunion which will be held on {!session.Day_of_Week__c} {!session.Date__c} from from {!session.Start_Text__c} to {!session.End_Text__c}.

It will be held at:
{!venue.Town__c}, {!venue.Street_Address__c}

Click here to see this on a map
{!venue.Map_Url__c}


The reunion will be facilitated by {!practitioner.Name} who may be contacted on {!practitioner.Phone} or at {!practitioner.Email}. Should any changes be made to the reunion your course leader will be in touch with you directly nearer the time.

We have a range of Postnatal courses and workshops running in your area. For further details, please follow this link:
Find a postnatal course


Kind regards,
{!session.Enquiries_PSA_Name__c}
Course organizer
Email: {!branch_account.Enquiries_PSA_Email__c}
Tel: {!branch_account.Enquiries_PSA_Phone__c}</text>
    </textTemplates>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>BookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>branch_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>empty_entity_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>field or object</stringValue>
        </value>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unknown result: </stringValue>
        </value>
    </variables>
    <variables>
        <name>partner_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>practitioner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>unknown</stringValue>
        </value>
    </variables>
    <variables>
        <name>subject_practitioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>venue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue__c</objectType>
    </variables>
</Flow>
