force-app/main/default/flows/Reunion_Execute_Sending_Private_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_client</name>
        <label>Send to client</label>
        <locationX>9</locationX>
        <locationY>1559</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_client_partner_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_part_success</targetReference>
        </faultConnector>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>clientTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_client_partner</name>
        <label>Send to client partner</label>
        <locationX>265</locationX>
        <locationY>1231</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_part_success</targetReference>
        </faultConnector>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Partner_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>clientTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_host</name>
        <label>Send to host</label>
        <locationX>427</locationX>
        <locationY>1567</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_host_partner_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_part_success</targetReference>
        </faultConnector>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>hostTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_host_partner</name>
        <label>Send to host partner</label>
        <locationX>623</locationX>
        <locationY>1213</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_part_success</targetReference>
        </faultConnector>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Partner_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>hostTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Return_error_no_host</name>
        <label>Return error no host</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_error_no_host</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_error_on_get</name>
        <label>Return error on get</label>
        <locationX>483</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_error_get_record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_error_part_success</name>
        <label>Return error part success</label>
        <locationX>1007</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_part_success</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_success</name>
        <label>Return success</label>
        <locationX>941</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_host_names</name>
        <label>Set host names</label>
        <locationX>308</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>partner_firstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.First_Name_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partner_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.Last_Name_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primary_firstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primary_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_hostnames_for_output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_hostnames_for_output</name>
        <label>Set hostnames for output</label>
        <locationX>308</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>course.Reunion_Host_Contact_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>host_names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_hosts_are_not_blank</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TEMPLATE_HOST_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reunion_Confirmed_Host</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEMPLATE_NOT_A_HOST_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reunion_Confirmed_Not_A_Host</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_are_not_blank_names</name>
        <label>Check are not blank names</label>
        <locationX>298</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Names_are_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>booking.Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_host_names</targetReference>
            </connector>
            <label>Names are not blank?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_client_partner_exists</name>
        <label>Check client partner exists</label>
        <locationX>269</locationX>
        <locationY>1677</locationY>
        <defaultConnector>
            <targetReference>Loop_through_bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_client_partner_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_client_partner</targetReference>
            </connector>
            <label>Is client partner exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_host_partner_exists</name>
        <label>Check host partner exists</label>
        <locationX>603</locationX>
        <locationY>1675</locationY>
        <defaultConnector>
            <targetReference>Loop_through_bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_host_partner_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_host_partner</targetReference>
            </connector>
            <label>Is host partner exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_hosts_are_not_blank</name>
        <label>Check hosts are not blank</label>
        <locationX>668</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Return_error_no_host</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hosts_are_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>course.Reunion_Host_Contact_Names__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_course</targetReference>
            </connector>
            <label>Hosts are not blank?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_input_booking</name>
        <label>Check input booking</label>
        <locationX>175</locationX>
        <locationY>1033</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_email_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_is_host</targetReference>
            </connector>
            <label>Is email not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_host</name>
        <label>Check is host</label>
        <locationX>173</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Send_to_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>session.Parent_Host__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_host</targetReference>
            </connector>
            <label>Is host?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_host_0</name>
        <label>Check is host</label>
        <locationX>300</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Loop_to_set_host_names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_host_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>session.Parent_Host__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_are_not_blank_names</targetReference>
            </connector>
            <label>Is host?</label>
        </rules>
    </decisions>
    <description>Sends emails of types &quot;Host&quot; and &quot;Attendee&quot; to Primary and Partner contacts.
Version changes:
Changed FROM address to Org-Wide Address.</description>
    <formulas>
        <name>host_names</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partner_lastname}), 
{!primary_firstname} &amp; &#39; &#39; &amp; {!primary_lastname} &amp; &#39; who has&#39;, 
{!primary_firstname} &amp; &#39; &#39; &amp; {!primary_lastname} &amp; &#39; and &#39; &amp; {!partner_firstname} &amp; &#39; &#39; &amp; {!partner_lastname} &amp; &#39; who have&#39;
)</expression>
    </formulas>
    <interviewLabel>Reunion Execute Sending Private Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Private Subflow</label>
    <loops>
        <name>Loop_through_bookings</name>
        <label>Loop through bookings</label>
        <locationX>409</locationX>
        <locationY>1027</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>bookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input_booking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_set_host_names</name>
        <label>Loop to set host names</label>
        <locationX>117</locationX>
        <locationY>504</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>bookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_is_host_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_error_no_host</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_client_template</name>
        <label>Get client template</label>
        <locationX>345</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_NOT_A_HOST_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>clientTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_host_template</name>
        <label>Get host template</label>
        <locationX>480</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_client_template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_HOST_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>hostTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_course</name>
        <label>Update course</label>
        <locationX>639</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Get_host_template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get</targetReference>
        </faultConnector>
        <inputReference>course</inputReference>
    </recordUpdates>
    <start>
        <locationX>116</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Loop_to_set_host_names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>clientTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>hostTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>orgWideAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partner_firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partner_lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primary_firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primary_lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>status_error_general</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status_error_get_record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>status_error_general</elementReference>
        </value>
    </variables>
    <variables>
        <name>status_error_no_host</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>status_error_general</elementReference>
        </value>
    </variables>
    <variables>
        <name>status_part_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>status_error_general</elementReference>
        </value>
    </variables>
    <variables>
        <name>status_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>venueContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue_Contact__c</objectType>
    </variables>
</Flow>
