force-app/main/default/flows/Reunion_Execute_Sending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_practitioner</name>
        <label>Send email to practitioner</label>
        <locationX>1163</locationX>
        <locationY>961</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Public_Venue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Capacity_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <elementReference>course.Capacity_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>practitionerTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_name_bookingList_for_output</name>
        <label>Assign name bookingList for output</label>
        <locationX>378</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_BOOKINGLIST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_practit_email_for_output</name>
        <label>Assign name practit email for output</label>
        <locationX>599</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_PRACTITIONER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_venue_for_output</name>
        <label>Assign name venue for output</label>
        <locationX>823</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_VENUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_error_on_null_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_error_on_null_value</name>
        <label>Build error</label>
        <locationX>1613</locationX>
        <locationY>1333</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value is empty: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>empty_entity_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Common_error_message</name>
        <label>Common error message</label>
        <locationX>2443</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subflow_status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Empty_list_message</name>
        <label>Empty list message</label>
        <locationX>2663</locationX>
        <locationY>1234</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_EMPTY</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Part_success_message</name>
        <label>Part success message</label>
        <locationX>2293</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_PART_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_error_on_email_alert</name>
        <label>Return error</label>
        <locationX>1476</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error_on_email_alert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_error_on_get_record</name>
        <label>Return error</label>
        <locationX>1028</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error_on_get_record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_error_on_update_record</name>
        <label>Return error</label>
        <locationX>1968</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error_on_update_record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_course_fields</name>
        <label>Set course fields</label>
        <locationX>986</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>course.Reunion_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>session.Start_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>session.End_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>session.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Session_Day_Of_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>session.Day_of_Week__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Venue_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>venue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Venue_Map_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>venue.Map_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Venue_Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>venue.Town__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Venue_Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>venue.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Practitioner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>practitioner.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Practitioner_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>practitioner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Practitioner_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>practitioner.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>course.Reunion_Venue_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>venue.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_error</name>
        <label>Set status error</label>
        <locationX>2290</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_error_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>2295</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unknown_status_message</name>
        <label>Unknown status message</label>
        <locationX>2103</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subflow_status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>MESSAGE_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list is empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was a problem during the process. Please try again later.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Some emails wasn&#39;t sent succesfully. Please check if recipients&#39; emails are set</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Successfully sent!</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_BOOKINGLIST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_PRACTITIONER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_VENUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Venue</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>part_success</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEMPLATE_PRACTITIONER_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reunion_Confirmed_Practitioner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Bookings_List_is_not_null</name>
        <label>Check Bookings List is not null</label>
        <locationX>370</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>Assign_name_bookingList_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bookings_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_practitioner</targetReference>
            </connector>
            <label>Bookings not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Practitioner_email_is_not_null</name>
        <label>Check Practitioner email is not null</label>
        <locationX>708</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Assign_name_practit_email_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practitioner_email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.Practitioner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Venue</targetReference>
            </connector>
            <label>Practitioner email is not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Session_Id</name>
        <label>Check Session Id</label>
        <locationX>368</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Get_bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_subflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_session</targetReference>
            </connector>
            <label>Is a subflow?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_venue_if_not_null</name>
        <label>Check venue if not null</label>
        <locationX>835</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Assign_name_venue_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Venue_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course</targetReference>
            </connector>
            <label>Venue is not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_error_status</name>
        <label>Decide on error status</label>
        <locationX>2433</locationX>
        <locationY>1229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_empty_list_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MESSAGE_EMPTY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_list_message</targetReference>
            </connector>
            <label>Is empty list error?</label>
        </rules>
        <rules>
            <name>Is_Error_message_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>output_message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_error_message</targetReference>
            </connector>
            <label>Is Error message blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_status</name>
        <label>Decide on status</label>
        <locationX>2103</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Unknown_status_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_message</targetReference>
            </connector>
            <label>Is success?</label>
        </rules>
        <rules>
            <name>Is_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_error</targetReference>
            </connector>
            <label>Is Error?</label>
        </rules>
        <rules>
            <name>Is_part_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_PART_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_success_message</targetReference>
            </connector>
            <label>Is part success?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Venue</name>
        <label>Is Public Venue</label>
        <locationX>1396</locationX>
        <locationY>954</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.IsPublicVenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_public</targetReference>
            </connector>
            <label>Public Venue</label>
        </rules>
        <rules>
            <name>Not_volunteer_venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Private</targetReference>
            </connector>
            <label>Not volunteer venue</label>
        </rules>
    </decisions>
    <interviewLabel>Reunion Execute Sending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_bookings</name>
        <label>Get bookings</label>
        <locationX>378</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Bookings_List_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>BookingList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>First_Name_Partner__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Last_Name_Partner__c</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>924</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_course_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>course</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capacity_PSA_Email__c</queriedFields>
        <queriedFields>Enquiries_PSA_Email__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner</name>
        <label>Get practitioner</label>
        <locationX>563</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Practitioner_email_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitioner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner_template</name>
        <label>Get practitioner template</label>
        <locationX>1163</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_practitioner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_PRACTITIONER_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>practitionerTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_session</name>
        <label>Get session</label>
        <locationX>545</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>session</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Practitioner__c</queriedFields>
        <queriedFields>Venue__c</queriedFields>
        <queriedFields>Day_of_Week__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>IsPublicVenue__c</queriedFields>
        <queriedFields>Start_Text__c</queriedFields>
        <queriedFields>End_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Venue</name>
        <label>Get Venue</label>
        <locationX>720</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_venue_if_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Venue__c</elementReference>
            </value>
        </filters>
        <object>Venue__c</object>
        <outputReference>venue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Town__c</queriedFields>
        <queriedFields>Street_Address__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Map_Url__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course</name>
        <label>Update Course</label>
        <locationX>1046</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Get_practitioner_template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_update_record</targetReference>
        </faultConnector>
        <inputReference>course</inputReference>
    </recordUpdates>
    <startElementReference>Check_Session_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Send_to_Private</name>
        <label>Send to Private</label>
        <locationX>1405</locationX>
        <locationY>1114</locationY>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
        <flowName>Reunion_Execute_Sending_Private_Subflow</flowName>
        <inputAssignments>
            <name>bookingList</name>
            <value>
                <elementReference>BookingList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>course</name>
            <value>
                <elementReference>course</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>session</name>
            <value>
                <elementReference>session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error</name>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_success</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>course</assignToReference>
            <name>course</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflow_status</assignToReference>
            <name>subflow_status</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_public</name>
        <label>Send to public</label>
        <locationX>1406</locationX>
        <locationY>794</locationY>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
        <flowName>Reunion_Execute_Sending_Public_Subflow</flowName>
        <inputAssignments>
            <name>bookingList</name>
            <value>
                <elementReference>BookingList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>course</name>
            <value>
                <elementReference>course</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error</name>
            <value>
                <elementReference>STATUS_ERROR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_part_success</name>
            <value>
                <elementReference>STATUS_PART_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_success</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subflow_status</assignToReference>
            <name>subflow_status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>BookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>empty_entity_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>field or object</stringValue>
        </value>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unknown result: </stringValue>
        </value>
    </variables>
    <variables>
        <name>practitioner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>practitionerTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>unknown</stringValue>
        </value>
    </variables>
    <variables>
        <name>venue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue__c</objectType>
    </variables>
</Flow>
