force-app/main/default/flows/Reunion_Execute_Sending_Private_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_client</name>
        <label>Send to client</label>
        <locationX>701</locationX>
        <locationY>207</locationY>
        <actionName>Booking__c.Reunion_Session_Confirmed_Not_A_Host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Host</name>
        <label>Send to Host</label>
        <locationX>493</locationX>
        <locationY>256</locationY>
        <actionName>Booking__c.Reunion_Session_Confirmed_Host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Return_error_on_email_alert</name>
        <label>Return error</label>
        <locationX>1088</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_success</name>
        <label>Return success</label>
        <locationX>1084</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_input_booking</name>
        <label>Check input booking</label>
        <locationX>225</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_email_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_is_host</targetReference>
            </connector>
            <label>Is email not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_host</name>
        <label>Check is host</label>
        <locationX>484</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Send_to_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Host</targetReference>
            </connector>
            <label>Is host?</label>
        </rules>
    </decisions>
    <interviewLabel>Reunion Execute Sending Private Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Private Subflow</label>
    <loops>
        <name>Loop_through_bookings</name>
        <label>Loop through bookings</label>
        <locationX>233</locationX>
        <locationY>207</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>bookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input_booking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Loop_through_bookings</startElementReference>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>status_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
