force-app/main/default/flows/Reunion_Execute_Sending_Public_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_public</name>
        <label>Send to public</label>
        <locationX>895</locationX>
        <locationY>164</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_partner_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>publicTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_public_partner</name>
        <label>Send to public partner</label>
        <locationX>727</locationX>
        <locationY>345</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Enquiries_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>booking.Partner_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>publicTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Return_error_on_email_alert</name>
        <label>Return error</label>
        <locationX>1156</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_part_success</name>
        <label>Return part success</label>
        <locationX>1155</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_part_success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_success</name>
        <label>Return success</label>
        <locationX>684</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status_success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>TEMPLATE_PUBLIC_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reunion_Confirmed_Public</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_input_booking</name>
        <label>Check input booking</label>
        <locationX>638</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Return_part_success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_email_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_public</targetReference>
            </connector>
            <label>Is email not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_partner_exists</name>
        <label>Check partner exists</label>
        <locationX>719</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Loop_through_bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_partner_contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booking.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_public_partner</targetReference>
            </connector>
            <label>Is partner contact exists</label>
        </rules>
    </decisions>
    <description>Sends emails of type &quot;Public&quot; to Primary and Partner contacts.
Version changes: 
Changed FROM address to Org-Wide Address.</description>
    <interviewLabel>Reunion Execute Sending Private Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Public Subflow</label>
    <loops>
        <name>Loop_through_bookings</name>
        <label>Loop through bookings</label>
        <locationX>454</locationX>
        <locationY>345</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>bookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input_booking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_public_template</name>
        <label>Get public template</label>
        <locationX>147</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_PUBLIC_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>publicTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_public_template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>orgWideAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>publicTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status_part_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
