force-app/main/default/flows/Reunion_Execute_Sending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_practitioner</name>
        <label>Send email to practitioner</label>
        <locationX>1808</locationX>
        <locationY>1152</locationY>
        <actionName>SendHTMLEmailPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_email_alert</targetReference>
        </faultConnector>
        <inputParameters>
            <name>mergeObjectId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <elementReference>ORG_WIDE_ADDRESS_VALUE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>course.Capacity_PSA_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>practitionerTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_name_bookingList_for_output</name>
        <label>Assign name bookingList for output</label>
        <locationX>365</locationX>
        <locationY>1329</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_BOOKINGLIST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_empty_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_practit_email_for_output</name>
        <label>Assign name practit email for output</label>
        <locationX>623</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_PRACTITIONER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_empty_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_PSA_email_for_output</name>
        <label>Assign name PSA email for output</label>
        <locationX>1000</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>empty_entity_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME_PSA_EMAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_empty_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Common_error_message</name>
        <label>Common error message</label>
        <locationX>2392</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>({!subflow_status})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_booking_list_message</name>
        <label>Empty booking list message</label>
        <locationX>3002</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR_EMPTY_BOOKINGLIST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_value_message</name>
        <label>Empty value message</label>
        <locationX>2985</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_EMPTY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>empty_entity_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_send_email_message</name>
        <label>Error send email message</label>
        <locationX>2670</locationX>
        <locationY>1237</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR_SEND_EMAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_host_message</name>
        <label>No host message</label>
        <locationX>2677</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR_NO_HOST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Part_success_message</name>
        <label>Part success message</label>
        <locationX>2408</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_PART_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Query_or_update_message</name>
        <label>Query or update message</label>
        <locationX>2668</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_ERROR_QUERY_OR_UPDATE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_error_on_email_alert</name>
        <label>Return error</label>
        <locationX>1935</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR_ON_SEND_EMAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_error_on_get_record</name>
        <label>Return error</label>
        <locationX>1028</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_ERROR_QUERY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_does_session_have_venue_to_false</name>
        <label>Set &#39;does_session_have_venue&#39; to false</label>
        <locationX>1204</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>does_session_have_venue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_public</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_empty_value</name>
        <label>Set status empty value</label>
        <locationX>1231</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS_EMPTY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_on_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_error</name>
        <label>Set_status_error</label>
        <locationX>3178</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>subflow_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>2407</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_SUCCESS</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unknown_status_message</name>
        <label>Unknown status message</label>
        <locationX>2227</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MESSAGE_UNKNOWN_STATUS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subflow_status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>MESSAGE_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Value is empty: </stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was a problem during the process. Please try again later</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR_EMPTY_BOOKINGLIST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email will only be sent to confirmed bookings</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR_NO_HOST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please select parent host</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR_QUERY_OR_UPDATE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error on query or update record(s)</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_ERROR_SEND_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The system was unable to send the email. Some fields may be incorrect</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Some emails wasn&#39;t sent succesfully. Please check if recipients&#39; emails are set</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Successfully sent!</stringValue>
        </value>
    </constants>
    <constants>
        <name>MESSAGE_UNKNOWN_STATUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown status: </stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_BOOKINGLIST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking list</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_PRACTITIONER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAME_PSA_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PSA Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>ORG_WIDE_ADDRESS_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>nctcourses@nct.org.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_EMPTY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_empty</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR_NO_HOST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_no_host</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR_ON_SEND_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_send_email</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_ERROR_QUERY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error_on_get_record</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_PART_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>part_success</stringValue>
        </value>
    </constants>
    <constants>
        <name>STATUS_SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEMPLATE_PRACTITIONER_DEV_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reunion_Confirmed_Practitioner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Bookings_List_is_not_empty</name>
        <label>Check Bookings List is not empty</label>
        <locationX>357</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Assign_name_bookingList_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bookings_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_practitioner</targetReference>
            </connector>
            <label>Bookings exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_empty_field_name</name>
        <label>Check empty field name</label>
        <locationX>2668</locationX>
        <locationY>967</locationY>
        <defaultConnector>
            <targetReference>Empty_value_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_field_is_booking_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>empty_entity_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAME_BOOKINGLIST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_booking_list_message</targetReference>
            </connector>
            <label>Empty field is booking list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_success</name>
        <label>Check if success</label>
        <locationX>1513</locationX>
        <locationY>1033</locationY>
        <defaultConnector>
            <targetReference>Decide_on_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subflow_status_is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_practitioner</targetReference>
            </connector>
            <label>Subflow status is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Practitioner_email_is_not_null</name>
        <label>Check Practitioner email is not null</label>
        <locationX>611</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Assign_name_practit_email_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practitioner_email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.Practitioner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Venue</targetReference>
            </connector>
            <label>Practitioner email is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PSA_emails</name>
        <label>Check PSA emails</label>
        <locationX>991</locationX>
        <locationY>1027</locationY>
        <defaultConnector>
            <targetReference>Assign_name_PSA_email_for_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA_emails_are_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>course.Capacity_PSA_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>course.Enquiries_PSA_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Public_Venue</targetReference>
            </connector>
            <label>PSA emails are set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Session_Id</name>
        <label>Check Session Id</label>
        <locationX>348</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Get_bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Session_isn_t_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_session</targetReference>
            </connector>
            <label>Session isn&#39;t null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_error_status</name>
        <label>Decide on error status</label>
        <locationX>2384</locationX>
        <locationY>1227</locationY>
        <defaultConnector>
            <targetReference>Common_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_empty_list_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_EMPTY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_empty_field_name</targetReference>
            </connector>
            <label>Is empty list error?</label>
        </rules>
        <rules>
            <name>Is_send_email_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR_ON_SEND_EMAIL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_send_email_message</targetReference>
            </connector>
            <label>Is send email error?</label>
        </rules>
        <rules>
            <name>Is_query_or_update_error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR_QUERY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_or_update_message</targetReference>
            </connector>
            <label>Is query or update error?</label>
        </rules>
        <rules>
            <name>Is_no_host_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR_NO_HOST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_host_message</targetReference>
            </connector>
            <label>Is no host error?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_status</name>
        <label>Decide on status</label>
        <locationX>2231</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Unknown_status_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_message</targetReference>
            </connector>
            <label>Is success?</label>
        </rules>
        <rules>
            <name>Is_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>STATUS_ERROR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_on_error_status</targetReference>
            </connector>
            <label>Is Error?</label>
        </rules>
        <rules>
            <name>Is_part_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflow_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STATUS_PART_SUCCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_success_message</targetReference>
            </connector>
            <label>Is part success?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Venue</name>
        <label>Is Public Venue</label>
        <locationX>1196</locationX>
        <locationY>1028</locationY>
        <defaultConnector>
            <targetReference>Set_does_session_have_venue_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Venue</defaultConnectorLabel>
        <rules>
            <name>Private_Venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.Parent_Host__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Private</targetReference>
            </connector>
            <label>Private Venue</label>
        </rules>
        <rules>
            <name>Public_Venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.Venue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_public</targetReference>
            </connector>
            <label>Public Venue</label>
        </rules>
    </decisions>
    <description>Sends emails of different types when reunion session becomes &#39;confirmed&#39;.
Version changes: 
Moved Org-Wide Address query to Apex Action (final)</description>
    <interviewLabel>Reunion Execute Sending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reunion Execute Sending Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_bookings</name>
        <label>Get bookings</label>
        <locationX>355</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Bookings_List_is_not_empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>BookingList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>First_Name_Partner__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Last_Name_Partner__c</queriedFields>
        <queriedFields>Partner_Contact__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>764</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_practitioner_template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>course</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capacity_PSA_Email__c</queriedFields>
        <queriedFields>Enquiries_PSA_Email__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner</name>
        <label>Get practitioner</label>
        <locationX>481</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Practitioner_email_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>practitioner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner_template</name>
        <label>Get practitioner template</label>
        <locationX>883</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PSA_emails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEMPLATE_PRACTITIONER_DEV_NAME</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>practitionerTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_session</name>
        <label>Get session</label>
        <locationX>169</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>session</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Practitioner__c</queriedFields>
        <queriedFields>Venue__c</queriedFields>
        <queriedFields>Parent_Host__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Venue</name>
        <label>Get Venue</label>
        <locationX>628</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_error_on_get_record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Venue__c</elementReference>
            </value>
        </filters>
        <object>Venue__c</object>
        <outputReference>venue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Session_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_to_Private</name>
        <label>Send to Private</label>
        <locationX>1520</locationX>
        <locationY>1169</locationY>
        <connector>
            <targetReference>Check_if_success</targetReference>
        </connector>
        <flowName>Reunion_Execute_Sending_Private_Subflow</flowName>
        <inputAssignments>
            <name>bookingList</name>
            <value>
                <elementReference>BookingList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>course</name>
            <value>
                <elementReference>course</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideAddress</name>
            <value>
                <elementReference>ORG_WIDE_ADDRESS_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>session</name>
            <value>
                <elementReference>session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error_general</name>
            <value>
                <elementReference>STATUS_ERROR_ON_SEND_EMAIL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error_get_record</name>
            <value>
                <elementReference>STATUS_ERROR_QUERY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error_no_host</name>
            <value>
                <elementReference>MESSAGE_ERROR_NO_HOST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_part_success</name>
            <value>
                <elementReference>STATUS_PART_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_success</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>course</assignToReference>
            <name>course</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflow_status</assignToReference>
            <name>subflow_status</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_public</name>
        <label>Send to public</label>
        <locationX>1520</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_if_success</targetReference>
        </connector>
        <flowName>Reunion_Execute_Sending_Public_Subflow</flowName>
        <inputAssignments>
            <name>bookingList</name>
            <value>
                <elementReference>BookingList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>course</name>
            <value>
                <elementReference>course</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>does_session_have_venue</name>
            <value>
                <elementReference>does_session_have_venue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideAddress</name>
            <value>
                <elementReference>ORG_WIDE_ADDRESS_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_error</name>
            <value>
                <elementReference>STATUS_ERROR_ON_SEND_EMAIL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_part_success</name>
            <value>
                <elementReference>STATUS_PART_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status_success</name>
            <value>
                <elementReference>STATUS_SUCCESS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subflow_status</assignToReference>
            <name>subflow_status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>does_session_have_venue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>empty_entity_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>field or object</stringValue>
        </value>
    </variables>
    <variables>
        <name>orgWideAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrgWideEmailAddress</objectType>
    </variables>
    <variables>
        <name>output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unknown result: </stringValue>
        </value>
    </variables>
    <variables>
        <name>practitioner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>practitionerTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflow_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>unknown</stringValue>
        </value>
    </variables>
    <variables>
        <name>venue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue__c</objectType>
    </variables>
</Flow>
