force-app/main/default/flows/Send_Email_On_Reunion_Session_Confirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_Public_Venue</name>
        <label>Client Public Venue</label>
        <locationX>994</locationX>
        <locationY>263</locationY>
        <actionName>Contact.Send_reunion_session_email_to_attendee</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_clients_public_venue</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_attendee_in_host_venue</name>
        <label>Send to attendee in host venue</label>
        <locationX>1171</locationX>
        <locationY>412</locationY>
        <actionName>Contact.Send_reunion_session_email_to_attendee_in_host_venue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_client_host</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Booking.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_course_leader</name>
        <label>Send to course leader</label>
        <locationX>301</locationX>
        <locationY>236</locationY>
        <actionName>Contact.Send_reunion_session_email_to_practitioner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Public_Venue</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>session.Practitioner__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_host</name>
        <label>Send to host</label>
        <locationX>1183</locationX>
        <locationY>548</locationY>
        <actionName>Venue__c.Send_reunion_session_email_to_host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_to_client_host</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>venue.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Host</name>
        <label>Is Host</label>
        <locationX>761</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Send_to_attendee_in_host_venue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>venue.Host__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Booking.Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_host</targetReference>
            </connector>
            <label>Is Contact Host</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_not_Cancelled_Host_Venue</name>
        <label>Is not Cancelled Host Venue</label>
        <locationX>567</locationX>
        <locationY>608</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Cancelled_host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Host</targetReference>
            </connector>
            <label>Is not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_not_Cancelled_public_venue</name>
        <label>Is not Cancelled public venue</label>
        <locationX>864</locationX>
        <locationY>79</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Public_Venue</targetReference>
            </connector>
            <label>Is not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Venue</name>
        <label>Is Public Venue</label>
        <locationX>421</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Venue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Venue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session.IsPublicVenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_clients_public_venue</targetReference>
            </connector>
            <label>Public Venue</label>
        </rules>
    </decisions>
    <interviewLabel>Send Email On Reunion Session Confirmed</interviewLabel>
    <label>Send Email On Reunion Session Confirmed</label>
    <loops>
        <name>Send_to_client_host</name>
        <label>Send to client host</label>
        <locationX>579</locationX>
        <locationY>411</locationY>
        <assignNextValueToReference>Booking</assignNextValueToReference>
        <collectionReference>BookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_not_Cancelled_Host_Venue</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Send_to_clients_public_venue</name>
        <label>Send to clients public venue</label>
        <locationX>717</locationX>
        <locationY>261</locationY>
        <assignNextValueToReference>Booking</assignNextValueToReference>
        <collectionReference>BookingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_not_Cancelled_public_venue</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_bookings</name>
        <label>Get bookings</label>
        <locationX>174</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_to_course_leader</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>course.Id</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>BookingList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_course</name>
        <label>Get course</label>
        <locationX>47</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_bookings</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>course</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Venue</name>
        <label>Get Venue</label>
        <locationX>421</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_to_client_host</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session.Venue__c</elementReference>
            </value>
        </filters>
        <object>Venue__c</object>
        <outputReference>venue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Host__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_course</startElementReference>
    <status>Active</status>
    <variables>
        <name>Booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>BookingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>venue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue__c</objectType>
    </variables>
</Flow>
