force-app/main/default/flows/Session_assignment_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add</name>
        <label>Add in new list</label>
        <locationX>783</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>sessions2</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>session</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_course_assignment_to_session</name>
        <label>Assign new course assignment to session</label>
        <locationX>1044</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>session.Course_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CA_Id_from_PB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Session assignment flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session assignment flow</label>
    <loops>
        <name>Iterate_through_sessions</name>
        <label>Iterate through sessions</label>
        <locationX>532</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>session</assignNextValueToReference>
        <collectionReference>sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_course_assignment_to_session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_sessions</name>
        <label>Get sessions</label>
        <locationX>298</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_sessions</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Id_From_PB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Practitioner_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id_From_PB</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>sessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Assignment__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Practitioner_Id__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sessions</name>
        <label>Update Sessions</label>
        <locationX>534</locationX>
        <locationY>394</locationY>
        <inputReference>sessions2</inputReference>
    </recordUpdates>
    <startElementReference>Get_sessions</startElementReference>
    <status>Active</status>
    <variables>
        <name>CA_Id_from_PB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id_From_PB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Course_Id_From_PB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessions2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
