force-app/main/default/flows/Set_CADs_to_Withdrawn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_CAD_to_List_to_update</name>
        <label>Add CAD to List to update</label>
        <locationX>620</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>CourseAssingmentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CAD_Status_to_Withdrawn</name>
        <label>Set CAD Status to Withdrawn</label>
        <locationX>1179</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>currentCAD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAD_record_already_exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CAD_record_already_exists</name>
        <label>CAD record already exists</label>
        <locationX>891</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Add_CAD_to_List_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CAD to add</defaultConnectorLabel>
        <rules>
            <name>CAD_was_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CourseAssingmentsToUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentCAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Course_Assignments</targetReference>
            </connector>
            <label>CAD was added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_assigned_to_CAD</name>
        <label>Session assigned to CAD</label>
        <locationX>1170</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Course_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CAD doesn&#39;t have Session</defaultConnectorLabel>
        <rules>
            <name>CAD_has_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCAD.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentSession.Course_Assignment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CAD_Status_to_Withdrawn</targetReference>
            </connector>
            <label>CAD has Session</label>
        </rules>
    </decisions>
    <interviewLabel>Set CADs to Withdrawn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set CADs to Withdrawn</label>
    <loops>
        <name>Loop_Through_Course_Assignments</name>
        <label>Loop Through Course Assignments</label>
        <locationX>897</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>currentCAD</assignNextValueToReference>
        <collectionReference>CADsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Session_assigned_to_CAD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Sessions</name>
        <label>Loop Through Sessions</label>
        <locationX>621</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>currentSession</assignNextValueToReference>
        <collectionReference>SessionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Course_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CADs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CAD_records</name>
        <label>Get CAD records</label>
        <locationX>403</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <object>Course_Assignment__c</object>
        <outputReference>CADsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_records</name>
        <label>Get Session records</label>
        <locationX>230</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CAD_records</targetReference>
        </connector>
        <filters>
            <field>Course_Assignment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>SessionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Assignment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CADs</name>
        <label>Update CADs</label>
        <locationX>624</locationX>
        <locationY>50</locationY>
        <inputReference>CourseAssingmentsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Session_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>CADsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Assignment__c</objectType>
    </variables>
    <variables>
        <name>CourseAssingmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Assignment__c</objectType>
    </variables>
    <variables>
        <name>CourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentCAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>SessionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
