force-app/main/default/flows/Set_Booking_Expiration_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Bookings</name>
        <label>Update Bookings</label>
        <locationX>714</locationX>
        <locationY>250</locationY>
        <actionName>BookingStatusFlowHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>bookingsToUpdate</name>
            <value>
                <elementReference>bookingsToUpdate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_booking_to_list</name>
        <label>Add booking to list</label>
        <locationX>986</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>bookingsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>booking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Expired</name>
        <label>Set Status to Expired</label>
        <locationX>986</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>booking.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_booking_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NoRecordsRetrieved</name>
        <label>NoRecordsRetrieved?</label>
        <locationX>462</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expiredBookings</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>true</label>
        </rules>
        <rules>
            <name>false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expiredBookings</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Booking_Loop</targetReference>
            </connector>
            <label>false</label>
        </rules>
    </decisions>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Set Booking Expiration Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Booking Expiration Status</label>
    <loops>
        <name>Booking_Loop</name>
        <label>Booking Loop</label>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>booking</assignNextValueToReference>
        <collectionReference>expiredBookings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Expired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetExpiredBookings</name>
        <label>GetExpiredBookings</label>
        <locationX>242</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoRecordsRetrieved</targetReference>
        </connector>
        <filters>
            <field>Reservation_Expiry_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>expiredBookings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetExpiredBookings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>expiredBookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
</Flow>
