force-app/main/default/flows/SILI_Update_Dimensions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Dimensions_to_SILI</name>
        <label>Assign Dimensions to SILI</label>
        <locationX>855</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>SalesInvoiceLineItem.Zumzum__Dimension_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dimension1Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesInvoiceLineItem.Zumzum__Dimension_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dimension2Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SILI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Dimension_Values</name>
        <label>Get Dimension Values</label>
        <locationX>176</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>Dimension1Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesInvoiceLineItem.Course__r.PSA_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dimension2Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesInvoiceLineItem.Course__r.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dimension_Record1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SILI - Update Dimensions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SILI - Update Dimensions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dimension_Record1</name>
        <label>Get Dimension Record1</label>
        <locationX>425</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dimension_Record2</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dimension1Value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 1</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>Dimension1Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dimension_Record2</name>
        <label>Get Dimension Record2</label>
        <locationX>643</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Dimensions_to_SILI</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dimension2Value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zumzum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dimension 2</stringValue>
            </value>
        </filters>
        <object>Zumzum__Dimension__c</object>
        <outputReference>Dimension2Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SILI</name>
        <label>Update SILI</label>
        <locationX>1086</locationX>
        <locationY>250</locationY>
        <inputReference>SalesInvoiceLineItem</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Dimension_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Dimension1Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>Dimension1Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dimension2Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Dimension__c</objectType>
    </variables>
    <variables>
        <name>Dimension2Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Zumzum__Sales_Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
