force-app/main/default/flows/Track_Deleted_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Deleted_Adhoc_Support_Session_Details</name>
        <label>Post Deleted Adhoc Support Session Details</label>
        <locationX>577</locationX>
        <locationY>572</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AdhocSupportSessionDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>currentSession.Course__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Deleted_Scheduled_Session_Details</name>
        <label>Post Deleted Scheduled Session Details</label>
        <locationX>575</locationX>
        <locationY>50</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ScheduledSessionDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>currentSession.Course__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Session_Record_Type</name>
        <label>Session Record Type</label>
        <locationX>733</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Post_Deleted_Scheduled_Session_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scheduled Session</defaultConnectorLabel>
        <rules>
            <name>Adhoc_Support_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSession.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adhoc_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Deleted_Adhoc_Support_Session_Details</targetReference>
            </connector>
            <label>Adhoc Support Session</label>
        </rules>
    </decisions>
    <formulas>
        <name>CADreference</name>
        <dataType>String</dataType>
        <expression>If({!currentSession.Course_Assignment__c} != null, {!currentSession.Course_Assignment__r.Name}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>deletionDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>sessionDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!currentSession.Date__c})</expression>
    </formulas>
    <formulas>
        <name>timesDetails</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!currentSession.Hours__c}), &quot;Times: &quot; + {!currentSession.Times__c},  &quot;Hours: &quot; +  TEXT({!currentSession.Hours__c}))</expression>
    </formulas>
    <formulas>
        <name>venueInvoicePaid</name>
        <dataType>String</dataType>
        <expression>If({!currentSession.Venue_Invoice_Paid__c} == true, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>venueName</name>
        <dataType>String</dataType>
        <expression>If({!currentSession.Venue__c} != null, {!currentSession.Venue__r.Name}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Track Deleted Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track Deleted Sessions</label>
    <loops>
        <name>Loop_Through_Sessions</name>
        <label>Loop Through Sessions</label>
        <locationX>390</locationX>
        <locationY>308</locationY>
        <assignNextValueToReference>currentSession</assignNextValueToReference>
        <collectionReference>sessionRecordsToTrack</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Session_Record_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Loop_Through_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AdhocSupportSessionDetails</name>
        <text>Session {!currentSession.Name}
deleted on {!deletionDate}

Hours: {!currentSession.Hours__c}
Delivery Type: {!currentSession.Delivery_Type__c}
Practitioner name: {!currentSession.Practitioner__r.FirstName} {!currentSession.Practitioner__r.LastName}
CAD reference: {!CADreference}</text>
    </textTemplates>
    <textTemplates>
        <name>ScheduledSessionDetails</name>
        <text>Session {!currentSession.Name} scheduled for {!currentSession.Date__c}
deleted on {!deletionDate}

Session date: {!currentSession.Date__c}
{!timesDetails}
Delivery Type: {!currentSession.Delivery_Type__c}
Type: {!currentSession.Type__c}
Specific attendee type: {!currentSession.Specific_Attendee_Type__c}
Practitioner name: {!currentSession.Practitioner__r.FirstName} {!currentSession.Practitioner__r.LastName}
Venue: {!venueName}
Venue invoice paid?: {!venueInvoicePaid}
CAD reference: {!CADreference}</text>
    </textTemplates>
    <variables>
        <name>currentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionRecordsToTrack</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
