force-app/main/default/flows/Update_Practitioner_Licence_on_Sessions_related_to_Course.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Collect_Sessions_For_Update</name>
        <label>Collect Sessions For Update</label>
        <locationX>505</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>sessionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Course_related_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Practitioner_Licence_On_Session</name>
        <label>Update Practitioner Licence On Session</label>
        <locationX>757</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentSession.Practitioner_Licence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newMainPractitionerLicenceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Sessions_For_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Practitioner_On_Session</name>
        <label>Update Practitioner On Session</label>
        <locationX>757</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>currentSession.Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newMainPractitionerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Practitioner_Licence_On_Session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Main_Practitioner_Is_Changed</name>
        <label>Main Practitioner Is Changed?</label>
        <locationX>517</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Update_Practitioner_Licence_On_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newMainPractitionerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldMainPractitionerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Practitioner_On_Session</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>Update Practitioner Licence on Sessions related to Course {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Practitioner Licence on Sessions related to Course</label>
    <loops>
        <name>Iterate_through_Course_related_Sessions</name>
        <label>Iterate through Course related Sessions</label>
        <locationX>250</locationX>
        <locationY>260</locationY>
        <assignNextValueToReference>currentSession</assignNextValueToReference>
        <collectionReference>sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Main_Practitioner_Is_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Sessions</name>
        <label>Get Related Sessions</label>
        <locationX>50</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Course_related_Sessions</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Practitioner_Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldMainPractitionerLicenceId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>sessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Practitioner__c</queriedFields>
        <queriedFields>Practitioner_Licence__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sessions</name>
        <label>Update Sessions</label>
        <locationX>251</locationX>
        <locationY>513</locationY>
        <inputReference>sessionsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Related_Sessions</startElementReference>
    <status>Active</status>
    <variables>
        <name>courseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>newMainPractitionerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newMainPractitionerLicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldMainPractitionerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldMainPractitionerLicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
