force-app/main/default/flows/Update_Address_in_Gift_Aid_Declarations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_new_GAD_List</name>
        <label>Add to new GAD List</label>
        <locationX>62</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>New_GAD_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GAD_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_GAD_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Address_to_GAD</name>
        <label>Assign New Address to GAD</label>
        <locationX>62</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>GAD_Record.gaid__Housename_or_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_GAD_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_GAD_List_Empty</name>
        <label>Is GAD List Empty</label>
        <locationX>304</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_GAD_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Clear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Aid_Declaration_List</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <description>Will update address in Gift Aid Declaration if the address was changed in related Contact.</description>
    <interviewLabel>Update Address in Gift Aid Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address in Gift Aid Declarations</label>
    <loops>
        <name>Loop_Over_GAD_List</name>
        <label>Loop Over GAD List</label>
        <locationX>311</locationX>
        <locationY>366</locationY>
        <assignNextValueToReference>GAD_Record</assignNextValueToReference>
        <collectionReference>Gift_Aid_Declaration_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Address_to_GAD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Gift_Aid_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gift_Aid_Declaration</name>
        <label>Get Gift Aid Declaration</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_GAD_List_Empty</targetReference>
        </connector>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <outputReference>Gift_Aid_Declaration_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>gaid__Housename_or_number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gift_Aid_Records</name>
        <label>Update Gift Aid Records</label>
        <locationX>518</locationX>
        <locationY>367</locationY>
        <inputReference>New_GAD_List</inputReference>
    </recordUpdates>
    <startElementReference>Get_Gift_Aid_Declaration</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GAD_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>Gift_Aid_Declaration_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>Mailing_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_GAD_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gaid__Gift_Aid_Declaration__c</objectType>
    </variables>
</Flow>
