force-app/main/default/flows/Update_Booking_Contacts_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Partner_Contact_Email</name>
        <label>Update Partner Contact Email</label>
        <locationX>778</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>partnerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_Contact_Email</name>
        <label>Update Primary Contact Email</label>
        <locationX>787</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>primaryContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Partner_Contact_Exists</name>
        <label>Partner Contact Exists</label>
        <locationX>611</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_Contact_Email</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>partnerContactEmail</name>
        <dataType>String</dataType>
        <expression>{!partnerContact.Email} + &#39;.donotcontact&#39;</expression>
    </formulas>
    <formulas>
        <name>primaryContactEmail</name>
        <dataType>String</dataType>
        <expression>{!primaryContact.Email} + &#39;.donotcontact&#39;</expression>
    </formulas>
    <interviewLabel>Update Booking Contacts Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Booking Contacts Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>booking.Id</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputAssignments>
            <assignToReference>partnerContactId</assignToReference>
            <field>Partner_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>primaryContactId</assignToReference>
            <field>Primary_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Contact</name>
        <label>Get Partner Contact</label>
        <locationX>476</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partnerContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>partnerContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>331</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>primaryContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>primaryContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Contact</name>
        <label>Update Partner Contact</label>
        <locationX>949</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Primary_Contact_Email</targetReference>
        </connector>
        <inputReference>partnerContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>957</locationX>
        <locationY>307</locationY>
        <inputReference>primaryContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>partnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>partnerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>primaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
