force-app/main/default/flows/Update_Online_Venue_on_Sessions_related_to_Course.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Collect_Sessions_For_Update</name>
        <label>Collect Sessions For Update</label>
        <locationX>652</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>sessionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Course_related_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Venue_on_Session</name>
        <label>Update Venue on Session</label>
        <locationX>931</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>currentSession.Venue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVenueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Sessions_For_Update</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Venue on Sessions related to Course {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Online Venue on Sessions related to Course</label>
    <loops>
        <name>Iterate_through_Course_related_Sessions</name>
        <label>Iterate through Course related Sessions</label>
        <locationX>404</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>currentSession</assignNextValueToReference>
        <collectionReference>sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Venue_on_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Sessions</name>
        <label>Get Related Sessions</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Course_related_Sessions</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <filters>
            <field>Venue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldVenueId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>sessions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Venue__c</queriedFields>
        <queriedFields>Room__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sessions</name>
        <label>Update Sessions</label>
        <locationX>404</locationX>
        <locationY>254</locationY>
        <inputReference>sessionsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>newVenueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldVenueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
