force-app/main/default/flows/Update_Marketing_Preferences_In_Care.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Marketing_Preferences_In_Care</name>
        <label>Update Marketing Preferences In Care</label>
        <locationX>804</locationX>
        <locationY>429</locationY>
        <actionName>AddMarketingPreferencesToCare</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Contact_Has_NCT_Number</name>
        <label>Contact Has NCT Number</label>
        <locationX>530</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.NCT_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Marketing_Preferences_In_Care</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Marketing Preferences In Care {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Marketing Preferences In Care</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>298</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Has_NCT_Number</targetReference>
        </connector>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NCT_Number__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <object>Individual</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
