force-app/main/default/flows/Update_Contact_Expected_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Partner_Contact_Expected_Due_Date</name>
        <label>Update Partner Contact Expected Due Date</label>
        <locationX>517</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>partnerContact.Expected_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.Birth_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_Contact_Expected_Due_Date</name>
        <label>Update Primary Contact Expected Due Date</label>
        <locationX>515</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>primaryContact.Expected_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booking.Birth_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Partner_Contact_Exists</name>
        <label>Partner Contact Exists?</label>
        <locationX>287</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Contact_Expected_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_Contact_Expected_Due_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Populate Contact Expected Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Expected Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_Contact</name>
        <label>Get Partner Contact</label>
        <locationX>115</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>booking.Partner_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>partnerContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expected_Due_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>115</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>booking.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>primaryContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expected_Due_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Contact</name>
        <label>Update Partner Contact</label>
        <locationX>731</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Update_Primary_Contact_Expected_Due_Date</targetReference>
        </connector>
        <inputReference>partnerContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>727</locationX>
        <locationY>520</locationY>
        <inputReference>primaryContact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>birthDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>partnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>partnerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>primaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
